{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'listening-and-understanding' %}
{% set activeSection = 'communication-and-language-index' %}

{% set sectionHeading = 'Communication and language' %}
{% set pageHeading = "Listening and understanding" %}

{% block pageContent %}

    <span class="govuk-caption-l">
        {{sectionHeading}}
    </span>
        
    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <p>Patterns are best practice design solutions for specific user-focused tasks and page&nbsp;types.</p>
    <p>All of the patterns in this section are supported by written guidance and contain coded examples where possible.</p>

    {{ appPagination ({
        items: [{
            prevHref: '../communication-and-language/exploring-language',
            prevLabel: 'Exploring language',
            nextHref: '../physical-development/physical-development-index',
            nextLabel: 'Physical development'
        }]
    }) }}

{% endblock %}