{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'imagination-and-creativity' %}
{% set activeSection = 'expressive-arts-and-design-index' %}

{% set sectionHeading = 'Expressive arts and design' %}
{% set pageHeading = "Imagination and creativity" %}

{% block pageContent %}

    <span class="govuk-caption-l">
        {{sectionHeading}}
    </span>

    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <h2 class="govuk-heading-m">
        Why imagination and creativity are important
    </h2>

    <p>Having an imagination is the ability of the mind to be creative and resourceful. </p>

    <p>Creativity is a child’s unique response to all that they see, hear, feel and experience. It is the child’s own individual and unique responses to materials, experiences and ideas that form their creativity and imagination. </p>

    <p>Responses can be either physical, emotional, social or cultural or a combination of any of these. They can be verbal or non verbal in younger children, for instance a baby settling to music or a toddler swaying.</p>

    <p>For young children to have an individual response it is important you do not have a set goal. Children need to experience a process and for their contributions to be noticed and valued so they build confidence and resilience. </p>

    <p>The space and time to experience and explore alongside the ‘attention’ of a thinking adult mind allows children to develop their own curiosity and creativity. The richer the offer the greater the impact on children’s creativity. </p>

    <p>A child’s imagination and creativity are further enriched through their developing artistic awareness of artists and other children around them. </p>

    <p>All of these creative experiences build powerful connections within the brain, Creativity is associated with focus, independence, awillingness to explore and ingenuity.</p>

    <p>As children develop in imagination and creativity they are able to tell a story, relate to other people, keep themselves emotionally grounded and enter their imaginary worlds.</p>



    <h2 class="govuk-heading-m">
        What the EYFS framework says
    </h2>

    <p>The development of children’s artistic and cultural awareness supports their imagination and creativity. It is important that children have regular opportunities to engage with the arts, enabling them to explore and play with a wide range of media and materials. </p>


    <p><a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/896810/EYFS_Early_Adopter_Framework.pdf">Statutory framework for EYFS, p69</a></p>


    <h2 class="govuk-heading-m">
        What this means in practice
    </h2>

    <p>To support the development of children’s creativity and imagination practitioners will need to consider the breadth of what they offer in the setting. </p>

    <p>You need to be confident and give children time to respond at their own individual level to the things they see, hear and experience. This is as relevant to babies as it is to the older children in the setting.</p>

    <p>Use a big range of interesting and beautiful found materials, like wallpaper and fabric. Providing a range of fabrics, fastenings and accessories for role play have more potential than dressing-up costumes.</p>

    <p>By exploring materials and media the child is inspired to think flexibly and creatively. It is important to focus upon the experience rather than have a defined outcome. A child’s response or representation may be different to what is expected, this should be welcomed.</p>

    <p>Children need sufficient stimuli to ignite their imagination. Stimuli that include experiences with different materials for exploration, plenty of multi-sensory experiences, as well as seeing images of art works. Eventually children will offer their own thoughts. “This feels like a cuddle” (3 year old exploring a strip of velvet).</p>

    <p>All children have their own creative and imaginative responses. You are there to encourage, notice and articulate the response that is unique to the child. This knowledge of each child informs the provision planning.</p>


    <h2 class="govuk-heading-m">
        Suggested activities
    </h2>


    <h3 class="govuk-heading-s">
        Activity 1: Have a musical 'jam' session
    </h3>


    <p>You will need:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            trays, colanders, different sized plastic containers or pans that can be beaten with a wooden spoon
        </li>
        <li>
            whisks in saucepans
        </li>
        <li>
            shakers made from small plastic containers filled with rice, lentils, pasta
        </li>
        <li>
            pan lids for banging together like cymbals
        </li>
        <li>
            straws to blow bubbles in glasses of water
        </li>
        <li>
            forks and graters
        </li>
        <li>
            paper or plastic bags for scrunching up
        </li>
        <li>
            metal tongues for clicking together like castanets
        </li>
        <li>
            metal forks and knives together
        </li>
    </ul>


    <p>How to carry out this activity:</p>

    <p>Provide opportunities for children to explore sounds that can be made from musical instruments.  Encourage links with parents/carers and ask them to help their child empty their kitchen cupboards at home, challenging them to make sounds from all the objects and utensils they find. </p>

    <p>Bring in similar objects from home to explore and compare and contrast with any traditional instruments you have in your setting for example  drums, maracas, bells, scrapers.  </p>

    <p>Have a ‘jam session’ with your group/family.  You might want to use music to help you for example a favourite song or nursery rhyme/action song. You might want to challenge them to play to the beat of the song.</p>

    <p>Introduce children to language to describe how they are making the sound. Talk with the children about how the sound is being made and show interest in how many sounds they can make from one instrument. Can they change the sound of the instrument by playing it in a different way?</p>

    <p>Use strips of paper or white boards and pens to allow the children to test out making marks to represent each sound. They could also represent sounds in the form of movements too.</p>



    <h3 class="govuk-heading-s">
        How this activity links to other areas of the curriculum
    </h3>

    <p><a href="../physical-development/physical-development-index">Physical development</a> is supported by moving and handling objects and toys and moving to music. <a href="../literacy/literacy-index">Literacy</a> is encouraged by writing making marks. Musical activities are good for communication skills in speaking, listening and understanding (<a href="/personal-social-and-emotional-development/personal-social-and-emotional-development-index">Personal, social and emotional development</a>).</p>


    <h3 class="govuk-heading-s">
        Activity 2: Making a house for a superhero
    </h3>


    <p>You will need:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            a superhero toy
        </li>
        <li>
            a range of construction materials/kits
        </li>
        <li>
            a collection of found materials
        </li>
        <li>
            materials for fixing materials like masking tape
        </li>
        <li>
            pictures of superheroes
        </li>
        <li>
            pictures of houses and other buildings
        </li>
        <li>
            non-fiction books about homes and buildings
        </li>
        <li>
            story books with superhero characters
        </li>
        <li>
            construction area and/or outside
        </li>
    </ul>


    <p>How to carry out this activity:</p>

    <p>Choose a superhero that is popular in the setting, for example Super Daisy or Spider Man. Provide pictures of the superhero and a superhero toy. Suggest to the children that they could make a house for her/him so that he can live in the setting. </p>

    <p>If you do not have a superhero toy in your resources, improvise with dolls’ house figures.</p>

    <p>At first see what the children do spontaneously. Which construction materials do they use? Is it the wooden blocks or the Duplo? How successful are they? What do they imagine the superhero’s house to be like? Are they able to create their own unique, ‘superhero’s house’?</p>

    <p>Point out that they may need to make their buildings stronger/bigger/smaller/more suitable for their superhero.  Maybe the house could be built outside if you have a space for it?</p>

    <p>Bring books and images in to show a range of different houses.</p>


    <h3 class="govuk-heading-s">
        How this activity links to other areas of the curriculum
    </h3>

    <p>TBC - How this activity links to other areas of the curriculum.</p>


    <h2 class="govuk-heading-m">
        Other activities
    </h2>

    <p>To develop children’s imagination and creativity visits to local venues, often free or at a low cost to under-fives, are invaluable. </p>

    <p>Venues include art galleries, museums, libraries and parks with sculptures.</p>

    <p>Tate kids has a wide range of online videos to support and inspire activities from
      <a rel="external" href="https://www.tate.org.uk/kids">sound creatures to colour walks</a>.</p>


    <h2 class="govuk-heading-m">
        What other nurseries and childminders are doing
    </h2>


    {# Inset text component using nunjucks templating #}
    {% set insetTextHtml %}

        <p class="govuk-body">
            “In our nurseries we see the expressive arts and design part of the curriculum as an opportunity for the children to experience everything in a way that is bigger and messier. We provide a wide range of materials with lots of everything.”
        </p>
        <p class="govuk-body">
            “We don’t buy any of our collage materials, everything is ‘found’. Parents bring in bottle tops, old hats and handbags. We go to charity shops too.”
        </p>
        <p class="govuk-body">
            Nursery early years provider
        </p>

    {% endset %}
    {{ govukInsetText({
        html: insetTextHtml
    }) }}

    <h2 class="govuk-heading-m">
        Summary
    </h2>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            Imagination and creativity are a child’s unique response to what they see, hear and experience around them.
        </li>
        <li>
            Children have a natural curiosity to explore experiences: Non-verbal and verbal creative expression must be valued and noticed.
        </li>
        <li>
            The greater the variety and quality of the pre-school setting the greater the creativity and the growth of the imagination.
        </li>
        <li>
            Repetition allows children to explore and make sense of their experiences and to respond in their own unique way.
        </li>
    </ul>


    <h2 class="govuk-heading-m">
        Next steps
    </h2>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            Check your resources to make sure there are enough good resources to support children’s developing imagination and creativity.
        </li>
        <li>
            Make sure children have repeated opportunities for imaginative play.
        </li>
        <li>
            If you can, note what other providers are doing and then examine your own settings to use new ideas.
        </li>
    </ul>










    {{ appPagination ({
        items: [{
            prevHref: '../expressive-arts-and-design/expressive-arts-and-design-index',
            prevLabel: 'Expressive arts and design',
            nextHref: '../expressive-arts-and-design/exploration-of-materials',
            nextLabel: 'Exploration of materials'
        }]
    }) }}

{% endblock %}
