
{% extends "layout.html" %}

{% block pageTitle %}
Help for early years providers
{% endblock %}

{% block content %}

<div class="eyfs-wrapper">


  <main class="govuk-main-wrapper">

    <div class="govuk-width-container">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h1 class="govuk-heading-xl">
            Counting

          </h1>
          <p class="govuk-body">
            Edit the text below and click 'Save and Publish' when you are finished or 'cancel' if you dont want to make changes.
          </p>

        <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail" >
              Page title
            </label>
          </h1>

          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint">Counting</textarea>
        </div>



        <div class="govuk-form-group govuk-!-margin-bottom-2">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Page content
            </label>
          </h1>

          <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="more-detail" name="more-detail" rows="20" aria-describedby="more-detail-hint"></textarea>
        </div>


        <div class="govuk-!-margin-bottom-7"><a class="govuk-link govuk-body" href="#">Preview in browser</a></div>


<div class="govuk-button-group">
  <button style="margin-right: 20px" class="govuk-button" data-module="govuk-button">
    Publish changes
  </button>

<a class="govuk-link govuk-body" href="#">Cancel</a>


</div>





 <!--      </div>

      <div class="govuk-grid-column-two-thirds">

      </div> -->













    </div>
  </div>

</main>
</div>

{% endblock %}
