
{% extends "layout.html" %}

{% block pageTitle %}
  Help for early years providers
{% endblock %}

{% block content %}

<div class="eyfs-wrapper">

<!--   <div class="govuk-width-container">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype. Content is likely to change rapidly.
      </span>
      </p>
    </div>

  </div> -->

<!--   <h2></h2> -->

<main class="govuk-main-wrapper">

  <div class="govuk-width-container">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Help for early years providers content managment system

    </h1>
    <p class="govuk-body-l">
      Choose a section below that you want to edit
    </p>

</div>

<div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
      Areas of learning</h2>

    <h2 class="govuk-heading-s"><a href="main/CMS/maths_overview">
      Communication and language</a></h2>

         <h2 class="govuk-heading-s"><a href="main/CMS/maths_overview">
      Physical development</a></h2>

         <h2 class="govuk-heading-s"><a href="main/CMS/maths_overview">
      Personal, social and emotional development</a></h2>

         <h2 class="govuk-heading-s"><a href="maths_overview">
      Literacy</a></h2>

         <h2 class="govuk-heading-s"><a href="/main/cms/maths_overview">
      Maths</a></h2>

         <h2 class="govuk-heading-s"><a href="CMS/maths_overview">
      Understanding the world</a></h2>

               <h2 class="govuk-heading-s"><a href="main/CMS/maths_overview">
      Expressive arts and design
</a></h2>
 
 

  </div>













</div>
</div>

</main>
</div>

{% endblock %}
