
{% extends "layout.html" %}

{% block pageTitle %}
  Help for early years providers
{% endblock %}

{% block content %}

<div class="eyfs-wrapper">

<!--   <div class="govuk-width-container">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype. Content is likely to change rapidly.
      </span>
      </p>
    </div>

  </div> -->

<!--   <h2></h2> -->

<main class="govuk-main-wrapper">

  <div class="govuk-width-container">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Maths

    </h1>
    <p class="govuk-body-l">
      Choose a section below that you want to edit
    </p>

</div>

<div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      Maths overview
    </h2>

        <h2 class="govuk-heading-m">
      Maths overview
    </h2>

        <h2 class="govuk-heading-m">
      Maths overview
    </h2>

        <h2 class="govuk-heading-m">
      Maths overview
    </h2>
 

  </div>













</div>
</div>

</main>
</div>

{% endblock %}
