<div class="landing-page__section--grey landing-page__section--border-bottom-blue">
    <div class="govuk-width-container">
        <p class="govuk-body govuk-!-margin-bottom-7">Learn about the new changes and what it means for your practice.</p>
        <ul class="govuk-grid-row nhsuk-card-group">
            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="#">Communication and language</a>
                    </div>
                </div>
            </li>

            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="#">Physical development</a>
                    </div>
                </div>
            </li>

            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="#">Personal, social and emotional development</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
        