<nav class="app-subnav">
  <a class="{{ 'app-subnav__section-item--current' if activePage == 'communication-and-language' }} govuk-link app-subnav__link govuk-link--no-visited-state" href="#"> 
  
    <h4 class="app-subnav__theme">Communication and language
    </h4>

  </a>

<ul class="app-subnav__section">

  <li class="{{ 'app-subnav__section-item--current' if activePage == 'conversations' }} app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/communication-and-language/conversations">Conversations</a>
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/bank-details/">Bank details</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/dates/">Dates</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/email-addresses/">Email addresses</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/ethnic-group/">Ethnic groups</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/gender-or-sex/">Gender or sex</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/names/">Names</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/national-insurance-numbers/">National Insurance numbers</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/passwords/">Passwords</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/payment-card-details/">Payment card details</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/telephone-numbers/">Telephone numbers</a>
    
  </li>

</ul>


  <h4 class="app-subnav__theme">Help users to…</h4>

<ul class="app-subnav__section">

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/check-a-service-is-suitable/">Check a service is suitable</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/check-answers/">Check answers</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/confirm-an-email-address/">Confirm an email address</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/contact-a-department-or-service-team/">Contact a department or service team</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/create-a-username/">Create a username</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/create-accounts/">Create accounts</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/validation/">Recover from validation errors</a>
    
  </li>

</ul>


  <h4 class="app-subnav__theme">Pages</h4>

<ul class="app-subnav__section">

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/confirmation-pages/">Confirmation pages</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/page-not-found-pages/">Page not found pages</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/problem-with-the-service-pages/">There is a problem with the service pages</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/question-pages/">Question pages</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/service-unavailable-pages/">Service unavailable pages</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/start-pages/">Start pages</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/step-by-step-navigation/">Step by step navigation</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/task-list-pages/">Task list pages</a>
    
  </li>

</ul> 
    
</nav>

<nav>
  <div>
    <a href="">Communication and language</a>
    <ul>
      <li>
        <a href="">Conversations</a>
      </li>
      <li>
        <a href="">Reading</a>
      </li>
      <li>
        <a href="">Role-play</a>
      </li>
    </ul>
  </div>

  <div>
    <a href="">Physical development</a>
    <ul>
      <li>
        <a href="">Core strength and co-ordination</a>
      </li>
      <li>
        <a href="">Gross motor skills</a>
      </li>
      <li>
        <a href="">Fine motor skills</a>
      </li>
    </ul>
  </div>

  <div>
    <a href="">Personal, social and emotional development</a>
    <ul>
      <li>
        <a href="">Managing emotions</a>
      </li>
      <li>
        <a href="">Personal needs</a>
      </li>
      <li>
        <a href="">Resolving conflict</a>
      </li>
    </ul>
  </div>
</nav>