<nav class="app-subnav app-subnav--mobile">
  <a class="{{ 'app-subnav__section-item--current' if activePage == 'communication-and-language' }} govuk-link app-subnav__link govuk-link--no-visited-state" href="#"> 
  
    <h4 class="app-subnav__theme">Communication and language
    </h4>

  </a>

<ul class="app-subnav__section">

  <li class="{{ 'app-subnav__section-item--current' if activePage == 'conversations' }} app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/communication-and-language/conversations">Conversations</a>
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/bank-details/">Bank details</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/dates/">Dates</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/email-addresses/">Email addresses</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/ethnic-group/">Ethnic groups</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/gender-or-sex/">Gender or sex</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/names/">Names</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/national-insurance-numbers/">National Insurance numbers</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/passwords/">Passwords</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/payment-card-details/">Payment card details</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/telephone-numbers/">Telephone numbers</a>
    
  </li>

</ul>



<a class="{{ 'app-subnav__section-item--current' if activePage == 'communication-and-language' }} govuk-link app-subnav__link app-subnav__link--section-2 govuk-link--no-visited-state" href="#"> 
  
    <h4 class="app-subnav__theme">Literacy
    </h4>

  </a>

<ul class="app-subnav__section">

  <li class="{{ 'app-subnav__section-item--current' if activePage == 'conversations' }} app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/communication-and-language/conversations">Conversations</a>
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/bank-details/">Bank details</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/dates/">Dates</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/email-addresses/">Email addresses</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/ethnic-group/">Ethnic groups</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/gender-or-sex/">Gender or sex</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/names/">Names</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/national-insurance-numbers/">National Insurance numbers</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/passwords/">Passwords</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/payment-card-details/">Payment card details</a>
    
  </li>

  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/telephone-numbers/">Telephone numbers</a>
    
  </li>

</ul>
         
    
</nav>