{% extends "main/Round2Version1/layout.html" %}

{% block pageTitle %}
  Help for early years providers
{% endblock %}

{% block content %}

<div class="eyfs-wrapper">

  <div class="govuk-width-container">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype. Content is likely to change rapidly.
      </span>
      </p>
    </div>

  </div>


  <main class="govuk-main-wrapper govuk-!-padding-bottom-1">
    <div class="govuk-width-container govuk-!-margin-bottom-7">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds landing-page_header-text-container govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          Help for early years providers
          </h1>
          <p class="govuk-body-l">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).</p>
        </div>
      </div>
    </div>

    <!--Cards section-->
    <div class="landing-page__section--grey govuk-!-padding-bottom-3">
      <div class="govuk-width-container">
                  <h2 class="govuk-heading-l">Areas of learning</h2>

        <p class="govuk-body govuk-!-margin-bottom-7">Find information about each area of learning in the EYFS and get ideas for activities you can do with early years children.</p>
        <ul class="govuk-grid-row nhsuk-card-group">
            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="/main/Round2Version1/communication-and-language/communication-and-language-index">Communication and language</a>
                    </div>
                </div>
            </li>

            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="#">Physical development</a>
                    </div>
                </div>
            </li>

            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="#">Personal, social and emotional development</a>
                    </div>
                </div>
            </li>

            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="#">Literacy</a>
                    </div>
                </div>
            </li>

            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="/main/Round2Version1/maths/maths-index">Maths</a>
                    </div>
                </div>
            </li>

            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="/main/Round2Version1/understanding-the-world/understanding-the-world-index">Understanding the world</a>
                    </div>
                </div>
            </li>

            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="#">Expressive arts and design</a>
                    </div>
                </div>
            </li>
        </ul>
      </div>
    </div>





    <!--End of cards section-->

    <!--Get help to improve your practice-->
    <div class="govuk-width-container govuk-!-padding-top-8 govuk-!-margin-bottom-7">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Get help to improve your practice</h2>


              <p class="govuk-body"><a class="govuk-link" href="#">Planning</a></p>

              <p class="govuk-body"><a class="govuk-link" href="#">Reducing paperwork</a></p>

              <p class="govuk-body"><a class="govuk-link" href="#">Identifying and supporting children with special educational needs and disability (SEND)</a></p>

              <p class="govuk-body"><a class="govuk-link" href="#">Promoting oral health as part of the safeguarding and welfare requirements</a></p>

              <p class="govuk-body govuk-!-margin-bottom-8"><a class="govuk-link" href="#">Working in partnership with parents</a></p>


          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <h2 class="govuk-heading-l">Other useful resources</h2>



              <p class="govuk-body"><a class="govuk-link" href="#">Changes to the early years foundation stage framework</a></p>


              <p class="govuk-body"><a class="govuk-link" href="#">Statutory framework for the early years foundation stage (PDF, 43 pages, 239KB)</a></p>


              <p class="govuk-body govuk-!-margin-bottom-9"><a class="govuk-link" href="#">Development Matters, non-statutory curriculum guidance for the early years foundation stage (PDF, 77 pages 682KB)</a></p>



    <!--End of-->
 <!-- <div class="landing-page__section--border-bottom-blue"> -->
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-bottom-0">

 </div>


         </div>
      </div>
    </div>

    {% include "includes/signup-banner.html" %}

    {% include "includes/social-links.html" %}

    {% include "includes/feedback-banner.html" %}

    <div class="landing-page__section--border-bottom-blue"></div>

  </main>

</div>

{% endblock %}
