{% extends "main/Round2Version1/layout.html" %}

{% block pageTitle %}
  Help for early years providers
{% endblock %}

{% block content %}

<div class="eyfs-wrapper">

  <div class="govuk-width-container">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype. Content is likely to change rapidly.
      </span>
      </p>
    </div>

  </div>


  <main class="govuk-main-wrapper">
    <div class="govuk-width-container govuk-!-margin-bottom-7">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds landing-page_header-text-container govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          Help for early years providers
          </h1>
          <p class="govuk-body-l">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).</p>
        </div>
      </div>
    </div>

    <!--Cards section-->
    <div class="landing-page__section--grey landing-page__section--border-bottom-blue">
      <div class="govuk-width-container">
        <p class="govuk-body govuk-!-margin-bottom-7">Learn about the new changes and what it means for your practice.</p>
        <ul class="govuk-grid-row nhsuk-card-group">
            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="#">Communication and language</a>
                    </div>
                </div>
            </li>

            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="#">Physical development</a>
                    </div>
                </div>
            </li>

            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="#">Personal, social and emotional development</a>
                    </div>
                </div>
            </li>

            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="#">Literacy</a>
                    </div>
                </div>
            </li>

            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="/main/Round2Version1/maths/maths-index">Maths</a>
                    </div>
                </div>
            </li>

            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="/main/Round1Version1/understanding-the-world/understanding-the-world-index">Understanding the world</a>
                    </div>
                </div>
            </li>

            <li class="govuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon">
                    <div class="nhsuk-card__content">
                        <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="#">Expressive arts and design</a>
                    </div>
                </div>
            </li>
        </ul>
      </div>
    </div>

    
    <!--End of cards section-->

    <!--Get help to improve your practice-->
    <div class="govuk-width-container govuk-!-padding-top-8 govuk-!-margin-bottom-7">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Get help to improve your practice</h2>
          <p class="govuk-body">Use the links below to find out how to improve your practice</p>

              <p class="govuk-body"><a class="govuk-link" href="#">Planning your curriculum</a></p>
 
              <p class="govuk-body"><a class="govuk-link" href="#">Reducing paperwork</a></p>
           
              <p class="govuk-body"><a class="govuk-link" href="#">Supporting / identifying childrenwith SEND</a></p>

              <p class="govuk-body"><a class="govuk-link" href="#">Oral health</a></p>

              <p class="govuk-body"><a class="govuk-link" href="#">Keeping parents up to date</a></p>


          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <h2 class="govuk-heading-l">Other useful resources</h2>
          <p class="govuk-body">Use the links below to find out other resources that may be useful</p>

          
              <p class="govuk-body"><a class="govuk-link" href="#">EYFS Framework</a></p>
           
            
              <p class="govuk-body"><a class="govuk-link" href="#">EYFS Framework support</a></p>
            
            
              <p class="govuk-body"><a class="govuk-link" href="#">Development Matters</a></p>
          

        </div>
      </div>
    </div>
    <!--End of-->


    {% include "includes/signup-banner.html" %}

    {% include "includes/social-links.html" %}

    {% include "includes/feedback-banner.html" %}

  </main>

</div>

{% endblock %}
