{% extends "main/Round5Version1/layout.html" %}

{% block pageTitle %}
  {{pageHeading}} - Help for early years providers - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-width-container">

    {# Show three levels of breadcrumbs if child page, else if show two levels #}
    {% if pageType == 'parent' %}
      {{ govukBreadcrumbs({
        collapseOnMobile: true,
        items: [
          {
            text: "Home",
            href: "/main/Round5Version1/hub"
          },
          {
            text: pageHeading or "default text",
            href: activePage
          }
        ]
      }) }}
    {% else %}
      {{ govukBreadcrumbs({
        collapseOnMobile: true,
        items: [
          {
            text: "Home",
            href: "/main/Round5Version1/hub"
          },
          {
            text: sectionHeading,
            href: activeSection
          },
          {
            text: pageHeading or "default text",
            href: activePage
          }
        ]
      }) }}
    {% endif %}

  </div>

  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {% include "../version_includes/subnav.html" %}
        </div>

        <div class="govuk-grid-column-two-thirds">
          <main id="main-content" class="app-content" role="main">
          
              {% block pageContent %}

              {% endblock %}

              {% include "main/Round5Version1/version_includes/helpful_tools.html" %}

          </main>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
