{% extends "main/Round1Version1/layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-width-container">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype. Content is likely to change rapidly.
      </span>
      </p>
    </div>

    {% block breadcrumbs %}

    {% endblock %}

  </div>

  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {% include "includes/subnav.html" %}
        </div>

        <div class="govuk-grid-column-two-thirds">
          <main id="main-content" class="app-content" role="main">
              {% block pageContent %}

              {% endblock %}

              {% include "includes/helpful_tools.html" %}

            </main>
        </div>


        {# <div class="govuk-grid-column-full app-body-wrapper">
          <div class="app-pane__subnav">
            {% include "includes/subnav.html" %}

            <div class="app-back-to-top" data-module="app-back-to-top">
              <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                  <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                </svg>Back to top
              </a>
            </div>

          </div>
          <div class="app-pane__content">
            <main id="main-content" class="app-content" role="main">
              {% block pageContent %}

              {% endblock %}
            </main>
          </div>
        </div> #}
      </div>

    </div>
  </div>

{% endblock %}
