{% extends "main/Round1Version1/layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-width-container">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype. Content is likely to change rapidly.
      </span>
      </p>
    </div>

    {# Show three levels of breadcrumbs if child page, else if show two levels #}
    {% if pageType == 'parent' %}
      {{ govukBreadcrumbs({
        collapseOnMobile: true,
        items: [
          {
            text: "Home",
            href: "/main/Round1Version1/hub"
          },
          {
            text: pageHeading or "default text",
            href: activePage
          }
        ]
      }) }}
    {% else %}
      {{ govukBreadcrumbs({
        collapseOnMobile: true,
        items: [
          {
            text: "Home",
            href: "/main/Round1Version1/hub"
          },
          {
            text: sectionHeading,
            href: activeSection
          },
          {
            text: pageHeading or "default text",
            href: activePage
          }
        ]
      }) }}
    {% endif %}

  </div>

  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {% include "includes/subnav.html" %}
        </div>

        <div class="govuk-grid-column-two-thirds">
          <main id="main-content" class="app-content" role="main">
              {% block pageContent %}

              {% endblock %}

              {% include "includes/helpful_tools.html" %}

            </main>
        </div>
        
      </div>

    </div>
  </div>

{% endblock %}
