//styles for the eyfs card component

$card-border-color: #1d70b8;

.eyfs-card-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: govuk-spacing(2);
  padding: 0;

  @include mq($until: desktop) {
    margin-bottom: govuk-spacing(6);
  }
}

.eyfs-card-group__item {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;

  .eyfs-card--static {
    margin-bottom: govuk-spacing(5);
  }

  @include mq($until: desktop) {
    .eyfs-card--static {
      margin-bottom: govuk-spacing(3);
    }

    &:last-child .eyfs-card--static {
      margin-bottom: 0;
    }
  }

}

.eyfs-card--static {
  @include govuk-responsive-margin(5, 'bottom');
  background: govuk-colour("white");
  box-shadow: 0 2px 0 0 $card-border-color;
  position: relative;
  width: 100%;
}

.eyfs-card__content--stacked {
  @include govuk-responsive-padding(5);
  position: relative;
}

.eyfs-card-background--light-grey {
  background: govuk-colour("light-grey");
}