{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'emotions' %}
{% set activeSection = 'personal-social-and-emotional-development-index' %}

{% set sectionHeading = 'Personal, social and emotional development' %}
{% set pageHeading = "Emotions" %}

{% block pageContent %}

    <span class="govuk-caption-l">
        Personal, social and emotional development
    </span>

    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <h2 class="govuk-heading-m">
        Why emotions are important
    </h2>

    <p>Understanding children’s emotional worlds are critical to understanding their behaviour. Early years children feel a range of emotions, but often cannot articulate, interpret or process them like us.</p>

    <p>With poor emotional skills, it could be harder for children to learn acceptance, resilience, authenticity, well-being, identity and sense of self.</p>

    <p>Research shows that from conception, experiences and responses from adults strongly influence how children self-regulate and deal with emotions. Emotionally present adults, who support children’s development, are important. Meeting children’s emotions is critical, even when some are harder to understand than others, and evoke strong feelings in us.</p>

    <p>Containment, or being ‘held’, is particularly important. This can mean physically being held safe, or also ‘held in mind’. This helps children feel that they are not alone, are supported and can safely tackle issues.</p>

    <p>Behaviour is often an expression of feelings or emotions, met or unmet. To help children make sense of this, and to have the best effect, you should approach them with empathy, supporting and guiding them to identify and deal with their emotions.</p>

    <p>In this video, an early years emotions expert explains what has changed within the early years foundation stage framework on emotions, and why. There are also some tips on getting the most out of a child in this area.</p>


    <div class="eyfs-youtube-video govuk-!-margin-top-6 govuk-!-margin-bottom-2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SYhhCcokBF8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Video transcript
            </span>
        </summary>
        <div class="govuk-details__text">
            Helps explain the video as a text for screenreaders
        </div>
    </details>


    <h2 class="govuk-heading-m">
        What the Early Years Foundation Stage (EYFS) Framework says
    </h2>

    <p>Strong, warm and supportive relationships with adults enable children to learn how to understand their own feelings and those of others. Children should be supported to manage emotions, develop a positive sense of self, set themselves simple goals, have confidence in their own abilities, to persist and wait for what they want and direct attention as necessary.</p>

    <h2 class="govuk-heading-m">
        What this means in practice
    </h2>

    <p>To best meet and support children’s emotions, be playful, light, warm, accepting, and curious. Create genuine connection and show authentic empathy. Listen fully to what a child tells you, with their body language, actions, sounds and words.</p>

    <p>Support children’s development by providing words and meanings to name and express emotions. With these, they can practice how to handle their emotions as they arise.</p>

    <p>Provide an emotionally consistent response, following basic emotional coaching steps:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            recognition
        </li>
        <li>
            empathy
        </li>
        <li>
            validation by labelling feelings
        </li>
        <li>
            offering guidance or boundaries
        </li>
        <li>
            problem solving
        </li>
    </ul>

    <p>Support self-expression opportunities throughout the day, through stories, drawing, crafts, roleplay and general play, while naming feelings with visual supports.</p>

    <p>Your physical environment should offer emotional containment: cosy, homely, communication-friendly spaces that children can explore. This should be complemented by children choosing what they do, with opportunities to take safe risks and immerse their senses.</p>

    <p>You should have your own safe space to reflect, as children’s emotional needs can evoke your own responses.</p>

    <h2 class="govuk-heading-m">
        Suggested activities
    </h2>

    <h3 class="govuk-heading-s">
        Naming emotions - visual support
    </h3>

    <p>What you need:</p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>
              Laminated expressive emotion faces, including photos of children, their families, you or other nursery staff.
          </li>
          <li>
              Laminated feelings cards you can carry, as well as an extra set with Velcro backs for a feelings board.
          </li>
          <li>
              A feelings board, to stick feelings cards to.
          </li>
          <li>
              A laminated thermometer, to show emotion levels.
          </li>
      </ul>



      <p>
          Instructions:
      </p>

      <p>Use the daily routine to support children in naming their emotions, for instance:</p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>
              use feelings cards to ask children how they are as they arrive and separate, involving parents and carers where possible. Then, talk about how children feel as a group
          </li>
          <li>
              use the thermometer or feelings cards when children try tricky new things, like climbing or building something, or during a day transition they find difficult
          </li>
          <li>
              when there are conflicts, use feelings cards to help children express and name their related emotions
          </li>
          <li>
              when sharing a story, song or circle time activity which mentions a particular emotion, use feelings cards to connect children to it
          </li>
      </ul>



      <p>
          Adapting the activity:
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>
              These ongoing activities are accessible to children at every developmental stage.
          </li>
          <li>
              Support children by meeting their emotion, mirroring and modelling feelings and responses.
          </li>
      </ul>


      <p>
          Challenging the children:
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>
              Children confident with expressing and understanding emotions will start to empathise with others, modelling curiosity, guidance and solutions.
          </li>
          <li>
              Encourage children through peer conflict resolution.
          </li>
          <li>
              Invite children to anticipate arising feelings for themselves and others in specific contexts, such as stories, role play or transitions.
          </li>
      </ul>


      <p>
          Outcomes:
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>
              Increase in confidence.
          </li>
          <li>
              Expressing and labelling various emotions.
          </li>
          <li>
              Stronger independence and confidence, with providers and other children.
          </li>
          <li>
              Improving emotions vocabulary.
          </li>
          <li>
              Showing increasing self-control, better self-regulation.
          </li>
          <li>
              Developing a stronger sense of self.
          </li>
      </ul>

      <h3 class="govuk-heading-s">
          The child's emotion story
      </h3>

      <p>
          What you need:
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>
              Laminated photographs of the child playing, their family, favourite objects or characters.
          </li>
          <li>
              Laminated visual timetable cards, representing daily routine.
          </li>
          <li>
              Laminated feelings cards.
          </li>
          <li>
              Paper, card, pens etc.
          </li>
      </ul>

      <p>
          Instructions:
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            A best-known adult creates a simple, laminated book. The front page features the child’s face, name and favourite things, so it’s personal and unique.
        </li>
        <li>
            A basic narrative follows specific challenge stages, such as tidy-up time, saying goodbye to parents and carers, interactions with other children.
        </li>
        <li>
            Use short, simple sentences and clear language.
        </li>
        <li>
            Refer to feelings throughout, with words and symbols, for example ‘tidy-up time is noisy, which can make me feel worried.’
        </li>
        <li>
            Create 2 copies, 1 for them to read at nursery, alongside an adult or independently. The other goes home, to share with family.
        </li>
      </ul>

    <p>
        Adapting the activity:
    </p>

    <p>This activity supports children facing specific emotional challenges, for instance biting, or a fear of something specific.</p>

    <p>You can adapt it for other situations, including:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
          understanding the daily routine
      </li>
      <li>
          a new setting or transition to school
      </li>
      <li>
          preparing for a change of routine. trip out
      </li>
      <li>
          daily routine difficulties, such as arriving at nursery
      </li>
    </ul>

    <p>
        Challenging the children:
    </p>

    <p>As children develop and reflect on their emotions, additional stories can be made with you or other children, developing on language and feelings.</p>

    <p>
        Outcomes:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
          Children mentally rehearse parts of the daily routine that could cause adverse emotional responses, increasing their feelings of familiarity, safety and confidence.
      </li>
      <li>
          Children are able to reflect on difficult experiences and feelings in an emotionally safe way, from a ‘distance’ and alongside an emotionally attuned adult.
      </li>
      <li>
          Children build on their emotional literacy and develop a growing ability to recognise and name feelings as they arise.
      </li>
      <li>
          Children develop increasing awareness and control over their feelings, and can begin to develop and use strategies to cope when feelings overwhelm them, such as asking an adult for help.
      </li>
    </ul>

    <h3 class="govuk-heading-s">
        Non-Verbal Storying
    </h3>

    <p>
        What you need:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
          Various junk modelling materials, such as newspaper, cardboard boxes and tubes.
      </li>
      <li>
          A large whiteboard or paper
      </li>
      <li>
          A simple script based on a familiar conflict, such as sharing, or their parent or carer leaving them in the morning
      </li>
    </ul>

    <p>
        Instructions:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
          Gather the children for storytime.
      </li>
      <li>
          Draw their attention to a masking tape line on the floor, a ‘stage’ area.
      </li>
      <li>
          Use modelling materials to create characters and props in front of children, as the story takes place.
      </li>


      <li>Focus on an emotional learning aspect that challenges children, such as sharing, or their parent or carer leaving them in the morning, following a basic 3 point story arc:
            <ul>
                <li>setup</li>
                <li>problem</li>
                <li>solution</li>
            </ul>
      <li>Use words, voices, expression in your voice and drawn symbols or faces to signal thoughts and feelings.</li>
      <li>Pause throughout for ‘I wonder’ moments, allowing children to contribute ideas around character feelings or potential resolutions.</li>
    </ul>


    <p>
        Adapting the activity:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

      <li>This storytelling style supports many curriculum areas, providing an inclusive platform to explore feelings, learning and experiences.</li>
<li>Very effective for early literacy. By retelling and innovating familiar stories, children develop narrative understanding, empowering them to tell their own stories.</li>
</ul>


    <p>
    Challenging the children:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Leave resources available after the story, so children can explore. Use pre-made characters to re-tell, improve or invent stories, or create new props and characters.</li>
    </ul>

    <p>
        Outcomes:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

    <li>The non-verbal aspect enables children to access and engage at their level, regardless of developmental stage or home language.</li>
    <li>Children tune in to non-verbal prompts, recognising and identifying others feelings.</li>
    <li>Children can reflect on difficult situations from a safe distance, developing empathy towards others.</li>
    <li>Children develop strategies to express and communicate their feelings.</li>
    <li>Children learn practical steps to resolve conflict, such as using a sand-timer to support sharing.</li>
    </ul>

    <h2 class="govuk-heading-m">
    Other activities
    </h2>

    <h3 class="govuk-heading-s">
    BBC early years resources - for children
    </h3>

    <p><a href="https://www.bbc.co.uk/cbeebies/joinin/talking-to-your-child-about-emotions">CBeebies: How to talk to your child about emotions.</a></p>

<p><a href="https://www.bbc.co.uk/teach/class-clips-video/pshe-early-years-foundation-stage-ks1-feeling-better/zm2st39">Feeling Better: video clips about different feelings. Short scenarios using puppets.</a></p>

<p><a href="https://www.bbc.co.uk/bitesize/topics/zms6jhv">What are feelings? Dealing with feelings, and recognising others' feelings.</a></p>


<h3 class="govuk-heading-s">
BBC Sounds - for providers
</h3>

<p><a rel="external" href="https://www.bbc.co.uk/programmes/b0910svk">The Age of Emotions: radio discussion on emotion culture, with psychotherapist Philippa Perry.</a></p>

<p><a href="https://www.bbc.co.uk/programmes/b09zxl8y">Word of Mouth: Naming Emotions: Michael Rosen on word use to describe feelings.</a></p>


<h3 class="govuk-heading-s">
Books for children
</h3>

<p><a href="https://www.littleparachutes.com/">Little Parachutes: comprehensive, easy to use picture book catalogue, covering various situations and the emotions they could generate.</a></p>


<h2 class="govuk-heading-m">
How emotions are linked to the other areas of learning
</h2>

<p>Supporting children’s emotional development and wellbeing is linked to all EYFS areas of learning. Without emotional resilience, a child might not learn with confidence and control, connect or empathise with others, or adequately articulate experiences.</p>

<h2 class="govuk-heading-m">
What other nurseries and childminders are doing
</h2>

<div class="govuk-inset-text">
<p>“Children can explore emotions through curiosity and literature, which lets them share their thoughts and feelings with confidence during circle time. They are encouraged to build on emotional knowledge  - receiving time, attention and comfort by caregivers, and feeling heard.”</p>
<p>Hannah Nevill, Preschool Teacher, Daisychain Nursery Clifton.</p>
</div>

<div class="govuk-inset-text">
<p>“Through regular emotion symbol and Makaton sign use, children learn that we all have an emotional range. They recognise this range in themselves and their peers, while realising that emotions are separate from behaviour. Emotions are all acceptable, and we receive them with compassion, support and understanding.”</p>
<p>Provider from Brentry and Henbury Childrens Centre, Bristol.</p>
</div>

<h2 class="govuk-heading-m">
Summary
</h2>

<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>Children need emotionally safe relationships and environments, to explore their emotions.</li>
<li>You should be emotionally present and available, supporting children by recognising, understanding, regulating and expressing emotions.</li>
<li>Children’s behaviour can often be a result of an emotion or unmet need.</li>
<li>You need time, support and space to consider how children’s emotions and behaviour evoke their own feelings and responses.</li>
</ul>


<h2 class="govuk-heading-m">
Next Steps
</h2>

<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>Reflect on your environment and daily routine, and how these support children and their emotions.</li>
    <li>Create and keep visual prompts, to support children expressing emotions through storytelling.</li>
    <li>Practice potential steps, or a sample script, that could support children to manage their emotions. Share this with parents and carers.</li>
    <li>Consider your personal, social and emotional development policies, making sure emotional development and needs are clear.</li>
    <li>Consider talking about how children’s emotional outbursts make you feel with other providers.</li>
</ul>






    {{ appPagination ({
        items: [{
            prevHref: '../personal-social-and-emotional-development/personal-social-and-emotional-development-index',
            prevLabel: 'Personal, social and emotional development',
            nextHref: '../personal-social-and-emotional-development/sense-of-self',
            nextLabel: 'Sense of self'
        }]
    }) }}

{% endblock %}
