{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'sense-of-self' %}
{% set activeSection = 'personal-social-and-emotional-development-index' %}

{% set sectionHeading = 'Personal, social and emotional development' %}
{% set pageHeading = "Sense of self" %}

{% block pageContent %}

    <span class="govuk-caption-l">
        {{sectionHeading}}
    </span>
        
    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <h2 class="govuk-heading-m">
        Why sense of self is important
    </h2>

    <p>Babies develop a sense of self by interacting with others and by exploring their bodies and objects around them, indoors and outdoors.</p> 

    <p>These feelings of identity grow as adults tune in to children’s thoughts. If these attempts are successful, children will feel understood. A sense of self arises from the experience of being in the mind of others.</p>
    
    <p>If children do not feel understood this can have major consequences for feelings of intimacy, trust and attachment later on.</p>
    
    <p>You will find that sharing everyday experiences supports children’s understanding of social interactions. Childcare settings are where children can meet new adults and other children.</p>

    <p>Human behaviour is motivated by a desire to belong and find a place in the group, in our families, neighbourhoods, schools and society.</p>

    <p>Relationships with others will help children understand that they have a place in society. Supporting children to feel good about themselves and the choices they make increases their confidence. Children need to explore their own potential to discover new things and develop their knowledge and interests.</p>

    <p>Encourage the children in your home or nursery setting to make choices. You should offer a rich selection of activities planned around a child’s individual interests.</p>

    <div class="eyfs-youtube-video govuk-!-margin-top-6 govuk-!-margin-bottom-2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SYhhCcokBF8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Video transcript
            </span>
        </summary>
        <div class="govuk-details__text">
            In this video, an early years expert explains what has changed within the early years foundation stage framework on sense of self, and why. There are also some tips on getting the most out of a child in this area.
        </div>
    </details>

    <h2 class="govuk-heading-m">
        What the Early Years Foundation Stage (EYFS) Framework says
    </h2>

    <p>Strong, warm and supportive relationships with adults enable children to learn how to understand their own feelings and those of others. Children should be supported to manage emotions, develop a positive sense of self, set themselves simple goals, have confidence in their own abilities, to persist and wait for what they want and direct attention as necessary.</p>

    <h2 class="govuk-heading-m">
        What this means in practice
    </h2>

    <p>Be patient and attentive. The way you interact with children will encourage their sense of themselves and self-confidence. Knowing each child is the key to supporting their sense of self so plan the environment to reflect their interests.</p>
 
    <p>Make sure children know where everything is in the setting. It helps to offer them continuity and consistency. In turn this supports children to use the environment independently.</p>
    
    <p>A predictable routine encourages a secure sense of self. Giving children advance notice that things are going to change helps them feel prepared.</p>
    
    <p>Share information with families to prepare children for anything out of the ordinary.</p>

    <h2 class="govuk-heading-m">
        Suggested activities
    </h2>

    <h3 class="govuk-heading-s">
        1. Look at me
    </h3>

    <p>Seeing their own image is interesting to children. After the age of one most children can tell the difference between themselves and someone else’s image in a mirror.</p>

    <p>By the age of 2 children can recognise themselves in photos or video and recognise others. Older children can take photos or perhaps videos of themselves and their friends.</p>

    <p>You could:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>provide opportunities for children and babies to see their own image</li>
        <li>take photos of children and display them in a book or on the walls or take a video of them and watch it back with them</li>
        <li>listen intently to what they say about themselves</li>
        <li>see if they recognise themselves</li>
        <li>take a photo or video of them alongside other familiar adults or children</li>
        <li>see if they can tell the difference between themselves and someone else</li>
        <li>see if the children can make comparisons between their own bodies and images and the bodies and images of others</li>
    </ul>

    <p>These comparisons help them gain a growing understanding of the distinction between themselves and others.</p>

    <p>Older children who are capable of using a camera or video could be encouraged to gather the footage themselves.</p>

    <p>Watch it back with them and listen to what they say. This will give you an idea of what is meaningful to them.</p>

    <h3 class="govuk-heading-s">
        2. Making books
    </h3>

    <p>Young children like seeing photos of themselves in books. For a child to see a picture of themselves when they were a baby is fascinating.</p>

    <p>When you pull out a child’s picture album and look through the pictures one by one, describing them you are building a story for the child.</p>

    <p>The book can be built upon and developed as the child develops. The child is recounting memories that form their own history.</p>

    <p>Personal stories and memories will shape how they think and feel about themselves in the years to come.</p>

    <h3 class="govuk-heading-s">
        3. Other activities
    </h3>

    <p>
        <a href="https://keikiearlylearning.com.au/supporting-childrens-sense-of-agency/">Supporting children’s sense of agency.</a>
    </p>

    <h2 class="govuk-heading-m">
        How sense of self is linked to other areas of learning
    </h2>

    <p>A sense of self relates to all 6 other areas of learning.</p>

    <p>Children who have a good sense of self can challenge themselves mentally and physically.</p>

    <p>They will be better able to understand their social environment and have an understanding of the world.</p>

    <p>If children have a sense of security in their relationships then their communication and language skills will be stronger.</p>

    <p>Inner confidence helps children to give things a go and keep trying.</p>

    <h2 class="govuk-heading-m">
        What other nurseries and childminders are doing
    </h2>

    <div class="govuk-inset-text">
        <p>“In our childcare setting each child has their own special box. They can put whatever they want in it, for example their blanket or a toy car.”</p>
        <p>— key worker, Pengreen centre, Corby</p>
    </div>

    <div class="govuk-inset-text">
        <p>“As key workers we ‘hold’ children in mind, caring for them as individuals and remembering what happened to them before. If they leave on a Friday having told us they are going to a birthday party at the weekend we will talk to them on Monday about it. We will also make sure we remember the important people in their lives.”</p>
        <p>— key worker, Kingswood nursery, Corby</p>
    </div>

    <div class="call-to-action">
        <h2 class="govuk-heading-m">Summary</h2>
        <p>Children who have a sense of self can challenge themselves. This helps them become independent and secure to face challenges in areas of learning.</p>
 
        <p>If children do not feel a sense of security, they will not be able to settle into their environment and will struggle to learn or develop.</p>
        
        <p>If you respond to children and try to understand their feelings, they will feel safe. A feeling of safety encourages children to be their own person and take part in the experiences on offer.</p>

        <p>Children need to try out different ways for asserting themselves and keeping themselves safe.</p>
    </div>

    <h2 class="govuk-heading-m">
        Next steps
    </h2>

    <p>Consider this as a possible activity to examine how well you know each child. This will help you develop an awareness of their sense of self. We suggest doing this every half term and going back to revisit it. Keep a file for each child in your care.</p>

    <h3 class="govuk-heading-s">
        Do you know me?
    </h3>

    <p>Imagine the child is asking you these questions. What would you answer on the child’s behalf?</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>Do you know me?</li>
        <li>Can I trust you?</li>
        <li>Do you hear me?</li>
        <li>Will you let me fly?</li>
        <li>Is this a fair place for me?</li>
    </ul>

    <p>Consider how your environment supports children to play independently.</p>





    {{ appPagination ({
        items: [{
            prevHref: '../personal-social-and-emotional-development/emotions',
            prevLabel: 'Emotions',
            nextHref: '../personal-social-and-emotional-development/relationships',
            nextLabel: 'Relationships'
        }]
    }) }}

{% endblock %}