{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'patterns-and-connections' %}
{% set activeSection = 'maths-index' %}

{% set sectionHeading = 'Maths' %}
{% set pageHeading = "Patterns and connections" %}

{% block pageContent %}

    <span class="govuk-caption-l">
        {{sectionHeading}}
    </span>

    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <h2 class="govuk-heading-m">
        Why patterns and connections are important
    </h2>

    <p>Patterns are central to mathematics and children have an instinctive idea of patterns. Young children spontaneously take part in maths activities during half of free play time.</p>

    <p>Research shows that children’s ability to see patterns forms the basis of early mathematical thinking.  When you teach pattern awareness, children build up knowledge and skills of spotting patterns, changing patterns and seeing irregularities.  </p>

    <p>Pattern awareness can range significantly between children. Early patterning begins with matching 1 to 1 with objects, pictures or numbers.  </p>

    <p>Some children will create regular patterns with ease and others will make random or irregular patterns. It is important that children are free to invent their own patterns, this will help them develop reasoning skills. </p>

    <p>As children become more confident in making patterns and seeing connections, they will be able talk out loud about what they have noticed. </p>

    <p>Children will start to identify the mathematical relationships and connections in natural patterns, environmental patterns and patterns in the home or nursery. Patterning helps children remember the counting sequence and understanding of number operations, like adding or subtracting.  </p>

    <p>You need good understanding about patterns and connections yourself to aid a child’s mathematical thinking. Be aware of patterning in different contexts, both indoors and outdoors.</p>

    <p>You can be there to subtly guide and support children’s play by finding suitable moments to intervene and introduce simple maths concepts.</p>




    <h2 class="govuk-heading-m">
          What the EYFS framework says
    </h2>

    <p>Developing a strong grounding in number is essential so that all children develop the necessary building blocks to excel mathematically. Children should be able to count confidently, develop a deep understanding of the numbers to 10, the relationships between them and the patterns within those numbers.  </p>

    <p>In addition, it is important that the curriculum includes rich opportunities for children to develop their spatial reasoning skills across all areas of mathematics including shape, space and measures.  </p>

    <p>It is important that children develop positive attitudes and interests in mathematics, look for patterns and relationships, spot connections, ‘have a go’, talk to adults and peers about what they notice and not be afraid to make mistakes. </p>




    <h2 class="govuk-heading-m">
        What this means in practice
    </h2>

    <p>Plan enjoyable and challenging cross-curricular experiences. Then support children to notice mathematical features and observe regularities when they are playing or taking part in activities.   </p>

    <p>You could use a workshop style area with a range of resources, toys and ‘manipulatives’ like foam dice. This will give children a choice of experiences. They could select their own collections: to make patterns and learn more about number, shape and spatial awareness.  </p>

    <p>When children start arranging their resources they start to explore ideas about classification and quantity. They may begin to ‘subitise’, or recognise numbers of things without having to count them.  </p>

    <p>For young children songs, rhymes and stories have an important place in their understanding of patterns and practising recall: head, shoulders, knees and toes and repeated refrains within stories. You can share mathematical concepts in a meaningful way, encouraging discussions about the patterns children have made.</p>

    <p>Patterns in number are very important when building mathematical knowledge.  Children need time to practise number patterns or ‘sequences’ through first hand experiences. </p>

    <p>Sharing ideas about patterns and connections with children will strengthen understanding of natural and created patterns, sequences and rhythms. Make teaching spontaneous based on the child’s interests.</p>


    <h2 class="govuk-heading-m">
        Suggested activities
    </h2>

    <h3 class="govuk-heading-s">
        Activity 1: Exploring pattern outside using natural resources
    </h3>


    <p>You will need:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            empty containers: baskets, boxes, buckets, tubes ranging in shape and size
        </li>
        <li>
            connectors: string, wool, masking tape, glue
        </li>
        <li>
            loose parts: leaves, conkers, fir cones, shells, pebbles, sticks, feathers, acorns
        </li>
        <li>
            chalk to draw on ground
        </li>
        <li>
            notice patterns in your immediate outside area like bricks in a wall, lines on pavements, petals on flowers, veins on leaves, fencing
        </li>
    </ul>

    <p>How to carry out the activity:</p>

    <p>Firstly, identify an area that will be suitable to arrange a selection of natural/loose parts . check all of the resources are suitable and safe to use.</p>

    <p>Do allow the children the freedom to explore the resources. provide a range of containers for the children to sort resources into different sets.</p>

    <p>Talk to the children about the differences, shapes, sizes around them.</p>

    <p>You can show them what a pattern looks like for example, in a leaf or conker. You migh provide a commentary using mathematical language about what the child is doing. It may help to provide drawn chalked circles, chalked boxes for individual children to make their own collections. You or the child could draw lines of boxes, so that the pattern can continue.</p>


    <h3 class="govuk-heading-s">
        How the activity links to the other areas of learning
    </h3>

    <p>Children are given the opportunity to be creative, design their own patterns (<a href="../expressive-arts-and-design/expressive-arts-and-design-index">Expressive arts and design</a>). Children learn about the natural world (<a href="../understanding-the-world/understanding-the-world-index">Understanding the world</a>). Children will discuss and express their understanding of patterns (<a href="../communication-and-language/communication-and-language-index">Communication and language</a>). By spotting patterns children will begin to identify different mathematical relationships (<a href="../maths/maths-index">Mathematics</a>).</p>


    <h3 class="govuk-heading-s">
        Activity 2: Playing skittles
    </h3>

    <p>You will need:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            create a space indoors or outdoors
        </li>
        <li>
            skittles (bought or home-made)
        </li>
        <li>
            balls (different size and weight)
        </li>
        <li>
            paper and pen
        </li>
        <li>
            small whiteboard and pen
        </li>
        <li>
            chalk and chalkboard
        </li>
    </ul>

    <p>How to carry out the activity</p>

    <p>Choose an area that has a flat surface outside and mark out the game area.</p>

    <p>Set up a recording station to collate scores and discuss the rules with the children. Good idea to demonstrate how to set up the skittles: counting, calculating, patterns, turn-taking, recording scores and demonstrate where to stand.</p>

    <p>Show the children how to roll the ball and discuss how to count the skittles when they have been knocked over. Talk with the children how they could record their scores and discuss turn-taking.</p>

    <p>Set up the skittles ready for play.</p>


    <h3 class="govuk-heading-s">
        How this links to other areas of the curriculum
    </h3>

    <p>Children will discuss, negotiate and express their understanding of the rules of the game (<a href="../communication-and-language/communication-and-language-index">Communication and Language</a>). Children can learn physical coordination by playing the game (<a href="../physical-development/physical-development-index">Physical development</a>). The activity strengthens all the maths areas (<a href="../maths/maths-index">Mathematics</a>).</p>


    <h2 class="govuk-heading-m">
        Other activities
    </h2>

    <p>Help children with finding and <a rel="external" href="https://nrich.maths.org/13371">learning more about patterns</a> on the Nrich site.</p>

    <p>CBeebies Numberblocks have some useful activities for young children that encourage the <a rel="external" href="https://www.bbc.co.uk/cbeebies/grownups/help-your-child-with-maths">use of patterns and connections</a>.</p>


    <h2 class="govuk-heading-m">
        What other nurseries and childminders are doing
    </h2>

    {# Inset text component using nunjucks templating #}
    {% set insetTextHtml %}

        <p class="govuk-body">
            Engaging in mathematical conversations with the children helps to develop their maths understanding. We wrap our nursery in musical opportunities for the children, this is just another way we expose children to patterns and connections.
        </p>
        <p class="govuk-body">
            Songs and story books provide children with repetition resulting in them creating connections between their own lives, each other and eventually the world.
        </p>
        <p class="govuk-body">
            The children always have access to materials such as building blocks (of different sizes), train tracks, construction resources and smaller parts (mosaic tiles). Using these materials, we play alongside the children and help them in identifying the patterns and connections that surround them.
        </p>
        <p class="govuk-body">
            We help every child go beyond what they already understand and provide them with logical connections.
        </p>
        <p class="govuk-body">
            Kerry, Redcliffe Nursery School, Bristol
        </p>

    {% endset %}
    {{ govukInsetText({
        html: insetTextHtml
    }) }}


    <h2 class="govuk-heading-m">
        Summary
    </h2>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            Children need to explore open-ended loose parts, which can give children opportunities to engage with mathematical patterns and make connections.
        </li>
        <li>
            You need to use mathematical language and vocabulary to support children’s mathematical thinking
        </li>
        <li>
            Use stories, rhymes and songs as well as manipulatives to encourage mathematical talk
        </li>
    </ul>


    <h2 class="govuk-heading-m">
        Next steps
    </h2>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            Opportunities to visit other settings where maths is a strength would benefit you and the children.
        </li>
        <li>
            Closely observe what a child is doing during play and make the links to numbers in context.
        </li>
        <li>
            Look around your setting and ask yourself where the mathematical opportunities are to be found.
        </li>
        <li>
            Refresh your resources to offer optimum chances for children to explore, experiment and support learning of mathematical concepts.
        </li>
    </ul>









    {{ appPagination ({
        items: [{
            prevHref: '../maths/numbers',
            prevLabel: 'Numbers',
            nextHref: '../maths/reasoning',
            nextLabel: 'Reasoning'
        }]
    }) }}

{% endblock %}
