{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'listening-and-understanding' %}
{% set activeSection = 'communication-and-language-index' %}

{% set sectionHeading = 'Communication and language' %}
{% set pageHeading = "Listening and understanding" %}

{% block pageContent %}

    <span class="govuk-caption-l">
        {{sectionHeading}}
    </span>

    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <h2 class="govuk-heading-m">
        Why listening and understanding are important
    </h2>

    <p>Communication requires 2 foundation skills, listening and understanding, which are essential for future learning. Children develop these skills by observing and reacting to others, which in turn influences later expression or talking.</p>

    <p>Paying attention to, distinguishing and processing sounds are skills that develop with age and experience. Listening, different to simply hearing, means interpreting different sounds while beginning to understand interactional sources and meanings. Understanding means processing what’s being communicated, beginning with concrete concepts and simple vocabulary. Both are supported by reciprocal social experiences and social contexts.</p>

    <p>Most babies are born able and eager to interact with their surrounding world, but some children require additional support. Skilled and committed providers play an important part in all children’s overall communication development. Listen to children’s interests, engage in authentic, warm interactions while using their names to focus and sustain their attention.</p>

    <p>Good attention and listening skills help with all EYFS areas, particularly when developing social skills, understanding, following instructions, and overall communication. Attention refers to children focusing and maintaining concentration while learning.</p>

    <p>Although research shows song, rhyme and music benefit children, they should also develop close listening and focused attention skills, so do not play background sound all the time. When you do, consider listening to environmental noises, songs and stories as well as to children’s communications.</p>


    <h2 class="govuk-heading-m">
        Video
    </h2>

    <p>In this video an expert in listening and understanding explains what has changed, why and offers top tips on getting the most out of a child in this area.</p>

    <div class="eyfs-youtube-video govuk-!-margin-top-6 govuk-!-margin-bottom-2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SYhhCcokBF8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Video transcript
            </span>
        </summary>
        <div class="govuk-details__text">
            Helps explain the video as a text for screenreaders
        </div>
    </details>


    <h2 class="govuk-heading-m">
        What the EYFS framework says
    </h2>

    <p>By commenting on what children are interested in or doing, and echoing back what they say with new vocabulary added, practitioners will build children's language effectively. Reading frequently to children, and engaging them actively in stories, non-fiction, rhymes and poems, and then providing them with extensive opportunities to use and embed new words in a range of contexts, will give children the opportunity to thrive.</p>

    <h2 class="govuk-heading-m">
        What this means in practice
    </h2>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

      <li>0 to 12 months: fleeting attention. Children are easily distracted. Work hard to maintain attention by giving them your full attention, demonstrating focus when playing with and responding to them. Support this with anticipation-related activities such as 'peek-a-boo'.</li>

      <li>12 to 24 months: rigid attention. Children can maintain focus, but cannot shift this by themselves. Support early understanding with instructions, gestures and prompts, for example showing a child their nappy before changing it. Attention between you and the child is vital. Respond to their play and words authentically, allowing them to concentrate and listen.</li>

      <li>2 to 3 years: Single-channelled attention. Children can more easily shift focus between tasks, but need adult support. This can be done through light touch and or using their name.</li>

      <li>3 to 4 years plus: two-channelled attention. Children listen to instructions independently without stopping what they’re doing. They begin to be ready for more structured learning experiences, such as in reception class.</li>

    </ul>

    <h2 class="govuk-heading-m">
        Suggested activities
    </h2>

    <h3 class="govuk-heading-s">
        Songs that encourage sound and word play
    </h3>

    <p>Children love singing silly songs with playful adults and other children, especially involving actions, movement and laughter. Playing around with word sounds can develop listening skills in a fun way, encouraging confidence with new words. Changing words in familiar songs is great fun, and children can consider the sound differences they hear.</p>

    <h4 class="govuk-heading-s">
        Song examples, from Bingo Lingo, by Helen MacGregor
    </h4>

    <p>’Polly puts the pizza in’. To the tune of Polly put the kettle on.</p>

    <p>Invent verses with children’s names, such as “Suzie sizzles sausages”, “Ben bites biscuits bit by bit”, “Carly crunches cabbages”.</p>

    <p>’A Hedgehog is very prickly’. To the tune of one finger, one thumb keep moving.</p>

    <p>A Hedgehog is very prickly</p>
    <p>A Hedgehog is very prickly</p>
    <p>A Hedgehog is very prickly</p>
    <p>He couldn’t be anything else!</p>

    <p>Choose a new animal, changing the describing word each time - such as “a crocodile is very snappy”, “a kitten is very fluffy”.</p>


    <h3 class="govuk-heading-s">
        Listening treasure boxes
    </h3>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

      <li>crinkly paper</li>
      <li>noise-making toys</li>
      <li>pots and pans</li>
      <li>musical instruments</li>

    </ul>

    <p>Introduce the box to a small group of children, encouraging them to explore items. Listen carefully to individual sounds as the children take turns. Turn-taking is also an important communication skill, requiring careful listening.</p>

    <p>To develop this activity, introduce unusual items which children are less familiar with, such as rain sticks. Babies will love anticipating an item’s noise, which is another important early communication skill. With older, more capable children, get them to take turns bringing an item behind a screen, making the noise while the group guesses what it might be. Once the group is familiar with all items, take one away and ask if they can remember, replicating or even describing its noise.</p>

    <p>The box can also be left in your setting for children to explore freely with positive interactions from you to support listening development.</p>


    <h2 class="govuk-heading-m">
        Other activities
    </h2>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

      <li><a rel="external" href="https://www.thecommunicationtrust.org.uk/media/3163/postcards_pre_school_final.pdf">Listen Up</a>: various listening and understanding activities.</li>

      <li><a rel="external" href="https://resources.leicestershire.gov.uk/sites/resource/files/field/pdf/2017/11/2/Social-Communication-Group-Pack-accessible.pdf">Social Communication Groups</a>: supporting early SLCN.</li>

      <li><a rel="external" href="http://www.coventrychildrensslt.co.uk/edit/files/families-hearing-attention-and-listening/how-can-i-help-my-child-develop-listening-and-attention.pdf">Tips for parents around listening and attention at home</a> (adaptable for early years).</li>

      <li><a rel="external" href="https://youtu.be/IMXrCgvlJTI">Speech and language therapy: Confident Communicators online course</a>.</li>

    </ul>

    <h2 class="govuk-heading-m">
        What other nurseries and childminders are doing
    </h2>

    <div class="govuk-inset-text">

      <p>”We use ‘sound bags’ in focused small groups, suitable for children 15 to 18 months, but easily adapted.</p>

      <p>Use a calm, quiet, distraction-free space. Gather some objects in a bag, represented by a sound. Choose familiar or motivational objects for a specific child, such as their favourite animal. Get children’s attention by showing the bag, bringing objects out one-by-one and making the sound. Let the chosen child hold and play with each object, providing a multi-sensory approach. Ask them to take turns listening and finding objects for each sound. If a child seems comfortable, encourage them to make the object’s sound themselves, but do not force this.</p>

      <p>To adapt to each child’s needs, use signs or symbols, rather than sounds, and encourage them to explore objects using the sense they rely on most.”</p>

      <p>SEND Co-ordinator, Pen Green Centre, Northamptonshire.</p>

    </div>


    <h2 class="govuk-heading-m">
        Summary
    </h2>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

        <li>Basic communication begins with 2 important skills: listening, and understanding.</li>

        <li>Listening and understanding are the foundation for later learning and development, for example talking, writing, and communicating with friends.</li>

        <li>Good listening and understanding helps with all EYFS areas, particularly developing social skills, attention, following instructions and wider communication.</li>

        <li>Babies, toddlers and young children must develop the ability to focus and maintain concentration, in order to learn.</li>

        <li>Listening, which is different to hearing, means interpreting sounds and understanding their source, as well as meaning.</li>

      </ul>

    <h2 class="govuk-heading-m">
        Next steps
    </h2>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

        <li>Consider your setting’s appropriateness, both physical and emotional.</li>

        <li>Consider opportunities for children to listen and understand sounds.</li>

        <li>Discuss the importance of listening and understanding with parents and carers.</li>

        <li>Notice and make time for listening and understanding during everyday interactions.</li>

    </ul>




    {{ appPagination ({
        items: [{
            prevHref: '../communication-and-language/exploring-language',
            prevLabel: 'Exploring language',
            nextHref: '../physical-development/physical-development-index',
            nextLabel: 'Physical development'
        }]
    }) }}

{% endblock %}
