{% extends "templates/two-column-with-subnav.html" %}

{% set activePage = 'mathematics' %}
{% set activeSection = 'mathematics' %}

{% set pageHeading = "Mathematics" %}

{% block pageContent %}
        
    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <p>Patterns are best practice design solutions for specific user-focused tasks and page&nbsp;types.</p>
    <p>All of the patterns in this section are supported by written guidance and contain coded examples where possible.</p>
    <p>Patterns often use one or more <a href="../components">components</a> and explain how to adapt them to the&nbsp;context.</p>

    <p>Patterns are best practice design solutions for specific user-focused tasks and page&nbsp;types.</p>

    <h2 class="govuk-heading-m">Sub topics</h2>

    <ul class="govuk-list">
        <li>
            <a class="govuk-link" href="#">Counting</a>
        </li>
        <li>
            <a class="govuk-link" href="#">Number patterns</a>
        </li>
        <li>
            <a class="govuk-link" href="#">Spatial reasoning</a>
        </li>
    </ul>

    {{ appPagination ({
        items: [{
            prevHref: '/main/Round1Version1/mathematics/',
            prevLabel: 'Writing',
            nextHref: '/main/Round1Version1/mathematics/counting',
            nextLabel: 'Counting'
        }]
    }) }}



{% endblock %}