//styles for cookie confirmation banner


.cookie-confirmation {
  background-image: url("https://static.notifications.service.gov.uk/images/tick.png");
  background-size: 19px;
  background-position: 15px 15px;
  background-repeat: no-repeat;
  
  border: solid;
  border-width: 5px;
  border-color: #00823B;


  margin: 15px 0px 30px;


  padding: 15px 45px;


}

