{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'interactions' %}
{% set activeSection = 'communication-and-language-index' %}

{% set sectionHeading = 'Communication and language' %}
{% set pageHeading = "Interactions" %}

{% block pageContent %}

<span class="govuk-caption-l">
    Communications and language
</span>

<h1 class="govuk-heading-l">

    {{pageHeading}}

    </h1>

    <h2 class="govuk-heading-m">
        Why interactions are important
    </h2>

    <p>From birth, babies want to connect with others and are eager to interact. For example, babies might kick their legs ready to play a peekaboo game. These are important parts of an interaction to be noticed and encouraged by adults.</p>
    <p>Being with others helps children to build social relationships which provide opportunities for friendship, empathy and sharing emotions.</p>
    <p>Research shows that high-quality interactions between adults and children make a big difference to how well communication and language skills develop. Children benefit from the company of responsive and enthusiastic adults who are genuinely interested in talking to them.</p>
    <p>In this video, an early years interactions expert explains what has changed within the early years foundation stage framework on interactions, and why. There are also some tips on getting the most out of a child in this area.</p>


    <div class="eyfs-youtube-video govuk-!-margin-top-6 govuk-!-margin-bottom-2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SYhhCcokBF8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Video transcript
            </span>
        </summary>
        <div class="govuk-details__text">
            Helps explain the video as a text for screenreaders
        </div>
    </details>



    <h2 class="govuk-heading-m">
        What the early years foundation stage (EYFS) framework says
    </h2>

    <p>Children’s back-and-forth interactions from an early age form the foundations for language and mental development.</p>

    <p>The number and quality of the conversations they have with adults and other children throughout the day in a language-rich environment is crucial.</p>

    <p>By commenting on what children are interested in or doing, and echoing back what they say with new vocabulary added, you will build children's language effectively.</p>


    <h2 class="govuk-heading-m">
        What this means in practice
    </h2>

    <p>The environment, relationships and the role of the adult are important factors in maintaining high-quality interactions with children.</p>

    <p>High-quality interactions use:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            body language
        </li>
        <li>
            facial expressions
        </li>
        <li>
            actions
        </li>
        <li>
            songs
        </li>
        <li>
            words
        </li>
    </ul>


    <p>Using objects, pictures or visual cues, such as showing a coat to indicate going outside, are good ways to support children who are non-verbal.</p>

    <p>Taking turns and waiting for a child to respond builds confidence and independence. Being warm and attentive and adapting your language to meet the needs of individual children will maintain a conversation.</p>

    <p>Adults that join in with children’s play and comment, repeat back, wonder aloud and add new words will extend language in a powerful way.</p>

    <p>You should plan the curriculum to maximise opportunities for these high-quality interactions and share ideas with parents to support the children at home.</p>


    <h2 class="govuk-heading-m">
        Suggested activities
    </h2>

    <h3 class="govuk-heading-s">
        Daily routines
    </h3>

    <p>Make time for conversations based on children’s interests during daily routines, for example, snack time.</p>


    <ol class="govuk-list govuk-list--number">
        <li>
            Sit with children as you eat together so that you’re well positioned to support conversations as part of the group. Plan the snack time routine so that it encourages independence and a relaxed, sociable atmosphere. Check that children can help themselves and reach what they need.

        </li>
        <li>
            Allow plenty of time to encourage unrushed conversations. Notice all children’s attempts to communicate and support those more reluctant to start an interaction, by being alongside and supporting them to be included.
        </li>
        <li>
            Observe, wait and listen to tune in to what children are interested in and extend their communication by joining in and modelling a back and forth conversation. Use positive body language and facial expressions to encourage the conversation and add in some language to keep it going.
        </li>
        <li>
            Remember what the children have talked about before to value previous conversations and start new ones based on what you know children’s current interests are.
        </li>

    </ol>

    <h3 class="govuk-heading-s">
        Communication boxes
    </h3>

    <p>Encourage children to bring in shoe boxes filled with items from home to share and to talk about with you. You can make one too, as an example, to share with your group of children and parents.</p>

    <p>The box may include:</p>


    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            photographs of important people and pets
        </li>
        <li>
            a favourite toy or book
        </li>
        <li>
            items from a special trip or holiday
        </li>

    </ul>

    <p>This encourages children to share and engage in meaningful interactions, about things that are important and familiar to them.</p>

    <p>As part of this activity you might:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            introduce key vocabulary
        </li>
        <li>
            ask questions and allow children time to answer in order to learn more about the child and their family
        </li>
        <li>
            encourage children to practise using important vocabulary in a meaningful context
        </li>

    </ul>

    <p>This activity will also help to develop the important relationships between you, the child and their family, which will support warm and positive interactions in the future.</p>


    <h2 class="govuk-heading-m">
        Other activities
    </h2>

    <p>Other activities to help develop high-quality interactions include:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            simple games like <a href=”https://youtu.be/PgpddACbPSs”>blowing bubbles in this clip from the community children’s health partnership</a> which can help children to take turns and communicate from an early age
        </li>
        <li>
            <a href=”https://resources.leicestershire.gov.uk/education-and-children/early-years/childcare-practice/teaching-learning-and-assessment/every-child-a-talker-ecat/strategies-and-resources”>speech language and communication strategies and resources</a> from birth to 5
        </li>
        <li>
            top tips on <a href=”https://www.teachwire.net/news/7-ways-to-develop-high-quality-adult-child-interactions-in-your-early-years-setting”>developing high-quality adult-child interactions</a>
        </li>
        <li>
            tool for practitioners to help <a href=”https://resources.leicestershire.gov.uk/sites/resource/files/field/pdf/2019/12/2/Adult-child-interaction-evaluation.pdf”>reflect on adult-child interactions</a>
        </li>

    </ul>


    <h2 class="govuk-heading-m">
        How interactions are linked to the other areas of learning
    </h2>

      <p>Interactions underpin all areas of the EYFS as a tool to support learning and development. Ofsted’s definition of teaching in the early years explains the different ways in which adults help young children learn, including: ‘interactions with children during planned and child-initiated play and activities’.</p>

      <p>Positive interactions that children have, both adult-child and child-child, encourage them to develop and share their ideas with others. Meaningful interactions with others also help them to learn and develop their understanding about themselves, others and the wider world around them. Communication and language development lays important foundations for later reading and writing skills.</p>


    <h2 class="govuk-heading-m">
        What other nurseries and childminders are doing
    </h2>

    <div class="govuk-inset-text">
      <p>“In practice we use ‘Ask me about…’ stickers to encourage communication through positive adult-child interactions. Practitioners will write a brief note on a sticker about something interesting each child has done at pre-school that day and give it to the child to share. Children and their parents or carers can then talk about it together on their way home. The intention was to spark discussion, create opportunities for meaningful interactions, and develop those important two-way relationships between early years providers and home.”</p>

      <p>Noah’s Ark Preschool - a charity-run preschool, operating in 1 room with free-flow access to outdoors, for children aged 2 to 4 years.</p>
    </div>

    <h2 class="govuk-heading-m">
        Summary
    </h2>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            Children are born to communicate and will seek out interaction.
        </li>
        <li>
            Quality interactions and conversations depend on social relationships and tuned-in adults.
        </li>
        <li>
            A well planned language rich environment is important to facilitate high-quality interactions.
        </li>
        <li>
            Planning and reflecting on the quality and time available for conversations will increase opportunities for learning language and communication skills.
        </li>
        <li>
            Listening, asking open questions, commenting, repeating, extending, adapting, and valuing non-verbal communication all support children’s communication.
        </li>

    </ul>


    <h2 class="govuk-heading-m">
        Next steps
    </h2>


    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            How do you make time and space for conversations based on the interests of children?
        </li>
        <li>
            How might peer observation, observing practice and feeding back, support the quality of adult-child interactions?
        </li>
        <li>
            How do you ensure all practitioners’ interactions are consistent in their support for children’s communication and language?
        </li>
        <li>
            How do you make sure that adult-child interactions reflect the individual communication needs of the unique child?
        </li>
        <li>
            How do you know that the learning environments inside and out are organised to enable communication and talk?
        </li>

      </ul>



    {{ appPagination ({
        items: [{
            prevHref: '../communication-and-language/communication-and-language-index',
            prevLabel: 'Communication and language',
            nextHref: '../communication-and-language/exploring-language',
            nextLabel: 'Exploring language'
        }]
    }) }}

{% endblock %}
