{% extends "main/DiscoRound5Version1/layout.html" %}
{% set pageHeading = "All articles" %}


{% block pageTitle %}
  Help for early years providers
{% endblock %}

{% block content %}
  <!--Until we find a fix for the cards not accepting click function without including this menu, we have to use it in the DOM and call it display none with the govuk class -->
  {# <div id="eyfs-sticky-nav__mobile" class="eyfs-sticky-nav eyfs-sticky-nav--clickable govuk-!-display-none">
    <button id="eyfs-sticky-nav-toggler" class="govuk-button eyfs-sticky-nav__button eyfs-sticky-nav__link eyfs-sticky-nav-toggler js-eyfs-sticky-nav-toggler" aria-controls="app-mobile-nav">
        EYFS Resources
    </button>
    {% include "main/DiscoRound5Version1/version_includes/subnav-mobile.html" %}
  </div>
  <!--End of--> #}
  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
          collapseOnMobile: false,
          items: [
            {
              text: "Home",
              href: "/main/DiscoRound5Version1/hub"
            },
            {
              text: pageHeading or "default text",
              href: activePage
            }
          ]
    }) }}
  </div>

  <main class="govuk-main-wrapper">

    <div class="govuk-width-container">

      <!--Top section-->
      <div class="govuk-grid-row govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            Early years articles
          </h1>
          <p class="govuk-body-l">
            Guidance for early years providers and professionals.
          </p>
        </div>
      </div>
    </div>

    <div class="govuk-width-container govuk-!-margin-bottom-6">
      <!--Heading section-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">All articles</h2>
          <span class="govuk-caption-l govuk-!-margin-top-0 govuk-!-padding-bottom-2">Showing page 1 of 6</span>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
      </div>

      <!--List with filters-->
      <div class="govuk-grid-row govuk-!-padding-top-6 govuk-!-padding-bottom-9">

        <!--Filter area-->
        <div class="govuk-grid-column-one-quarter">

          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset govuk-!-padding-bottom-6">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-2">
                <h4 class="govuk-fieldset__heading govuk-!-font-size-19">Filter by:</h4>
              </legend>

              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input govuk-!-padding-bottom-2 govuk-!-padding-top-2" id="360003962039checkbox" name="360003962039checkbox" type="checkbox" value="Academies" checked="">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-padding-bottom-2 govuk-!-padding-top-2" for="360003962039checkbox">Nursery managers</label>
                </div>
              </div>

              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input govuk-!-padding-bottom-2 govuk-!-padding-top-2" id="360005165200checkbox" name="360005165200checkbox" type="checkbox" value="Maintained schools" checked="">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-padding-bottom-2 govuk-!-padding-top-2" for="360005165200checkbox">Nursery practitioners</label>
                </div>
              </div>

              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input govuk-!-padding-bottom-2 govuk-!-padding-top-2" id="360005165220checkbox" name="360005165220checkbox" type="checkbox" value="Local authorities" checked="">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-padding-bottom-2 govuk-!-padding-top-2" for="360005165220checkbox">Childminders</label>
                </div>
              </div>

              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input govuk-!-padding-bottom-2 govuk-!-padding-top-2" id="360004444200checkbox" name="360004444200checkbox" type="checkbox" value="Further education and training providers" checked="">
                  <label class="govuk-label govuk-checkboxes__label govuk-!-padding-bottom-2 govuk-!-padding-top-2" for="360004444200checkbox">Reception teachers</label>
                </div>
              </div>
            </fieldset>

          </div>

        </div>

        <!--List of articles-->
        <div class="govuk-grid-column-three-quarters">

          <!--Main list area-->
          <div class="govuk-!-margin-bottom-2">
            <!--List 1-->
            <div class="govuk-!-margin-bottom-4">
              <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold" href="/main/DiscoRound5Version1/article-1.html">
                Outdoor maths activity ideas for rainy days
              </a>
              <span class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-1">Last updated 17 March 2021</span>
              <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                When the weather isn't on your side, you can still find ways to teach maths outdoors.
              </p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>

            <!--List 2-->
            <div class="govuk-!-margin-bottom-4">
              <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold" href="#">
                How we changed our approach to parent communications to reduce paperwork
              </a>
              <span class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-1">Last updated 12 March 2021</span>
              <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                Nursery leader Sarah Stavert explains how a partnership approach with parents helped her team spend more time with the children.
              </p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>

            <!--List 3-->
            <div class="govuk-!-margin-bottom-4">
              <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold" href="#">
                Developing a local childminder support network
              </a>
              <span class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-1">Last updated 8 March 2021</span>
              <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                Local authority early years officer Andrea Harrison describes how a local network benefits childminders in north Lincolnshire and gives tips on setting up a network in your area.
              </p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>

            <!--List 4-->
            <div class="govuk-!-margin-bottom-4">
              <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold" href="#">
                Springtime ideas for understanding the world
              </a>
              <span class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-1">Last updated 6 March 2021</span>
              <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                The change of the seasons brings with it lots of opportunities to explore nature and the world we live in.
              </p>
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>

            <!--List 5-->
            <div class="govuk-!-margin-bottom-4">
              <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold" href="#">
                Being an EYFS early adopter: what we've learned and what we've changed
              </a>
              <span class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-1">Last updated 5 March 2021</span>
              <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                Reception teacher Colleen Williams tells us what it's been like to be an EYFS early adopter school.
              </p>
            </div>

          </div>

        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Other ways to get help</h2>
        </div>
      </div>

      <ul class="govuk-grid-row eyfs-card-group">
        <li class="govuk-grid-column-one-half eyfs-card-group__item">
          <div class="eyfs-card--static eyfs-card-background--light-grey">
            <div class="eyfs-card__content--stacked">
              <h3 class="govuk-heading-m">
                <a class="govuk-link"href="../DiscoRound5Version1/all-posts.html">
                  Early years forum
                </a>
              </h3>
              <p>
                Discuss early years issues, ask questions, meet other practitioners and share advice.
              </p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-half eyfs-card-group__item">
            <div class="eyfs-card--static eyfs-card-background--light-grey">
              <div class="eyfs-card__content--stacked">
                <h3 class="govuk-heading-m">
                  Contact us
                </h3>
                <p>
                  Email

                  <a class="govuk-link eyfs-word-break" href="mailto:help_for_early_years_providers@digital.education.gov.uk">
                    help_for_early_years_providers@digital.education.gov.uk
                  </a>

                    with any questions about our service.
                </p>
              </div>
            </div>
          </li>
      </ul>
    </div>


  </main>
{% endblock %}
