{% extends "main/DiscoRound5Version1/layout.html" %}
{% set pageHeading = "All posts" %}


{% block pageTitle %}
  Help for early years providers
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
          collapseOnMobile: false,
          items: [
            {
              text: "Home",
              href: "/main/DiscoRound5Version1/hub"
            },
            {
              text: pageHeading or "default text",
              href: activePage
            }
          ]
    }) }}
  </div>

  <main class="govuk-main-wrapper">

    <!--Title-->
    <div class="govuk-width-container">

      <!--Top section-->
      <div class="govuk-grid-row govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            EYFS community
          </h1>
          <p class="govuk-body-l">
            Discuss early years issues, ask questions, meet other practitioners and share advice.
          </p>
        </div>
      </div>
    </div>

    <!--Main content section-->
    <div class="govuk-width-container govuk-!-margin-bottom-6">
      <!--Heading section-->
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">All posts</h2>
          <span class="govuk-caption-l govuk-!-margin-top-0 govuk-!-padding-bottom-2">Showing page 1 of 6</span>
        </div>

        <div class="govuk-grid-column-one-third">
            {{ govukButton({
              text: "Sign in to create a post",
              classes: "eyfs-float-right"
            }) }}
        </div>

        <div class="govuk-grid-column-full">
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>

      </div>

      <!--List with filters-->
      <div class="govuk-grid-row govuk-!-padding-top-6 govuk-!-padding-bottom-9">

        <!--List of posts-->
        <div class="govuk-grid-column-full">

          <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Posts (most recent activity first)</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Created</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Replies</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            <!--post link 1-->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a class="govuk-!-font-weight-regular govuk-link" href="/main/DiscoRound5Version1/post-1.html">
                  How to teach oral health?
                </a>

              </th>
              <td class="govuk-table__cell">Today at 08:30</td>
              <td class="govuk-table__cell">4</td>
            </tr>

            <!--post link 2-->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a class="govuk-!-font-weight-regular govuk-link" href="#">
                  How does the new EYFS affect assessments?
                </a>

              <td class="govuk-table__cell">Today at 07:45</td>
              <td class="govuk-table__cell">2</td>
            </tr>

            <!--post link 3-->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a class="govuk-!-font-weight-regular govuk-link" href="#">
                  New child has EAL - where to start?
                </a>

              </th>
              <td class="govuk-table__cell">Sunday at 16:30</td>
              <td class="govuk-table__cell">6</td>
            </tr>

            <!--post link 4-->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a class="govuk-!-font-weight-regular govuk-link" href="#">
                  Teaching maths to under 2s
                </a>
              </th>
              <td class="govuk-table__cell">Sunday at 11:20</td>
              <td class="govuk-table__cell">8</td>
            </tr>

            <!--post link 5-->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a class="govuk-!-font-weight-regular govuk-link" href="#">
                  How close to renewal - first aid
                </a>
              </th>
              <td class="govuk-table__cell">Saturday at 20:30</td>
              <td class="govuk-table__cell">9</td>
            </tr>

            <!--post link 6-->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a class="govuk-!-font-weight-regular govuk-link" href="#">
                  Feeling nervous about reducing paperwork
                </a>
              </th>
              <td class="govuk-table__cell">Friday at 21:45</td>
              <td class="govuk-table__cell">15</td>
            </tr>

            <!--post link 7-->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a class="govuk-!-font-weight-regular govuk-link" href="#">
                  Nursery managers, how are you training your team with the new EYFS?
                </a>
              </th>
              <td class="govuk-table__cell">Friday at 16:20</td>
              <td class="govuk-table__cell">3</td>
            </tr>


            <!--post link 8-->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a class="govuk-!-font-weight-regular govuk-link" href="#">
                  How do you deal with temper tantrums?
                </a>
              </th>
              <td class="govuk-table__cell">Friday at 16:08</td>
              <td class="govuk-table__cell">24</td>
            </tr>


            <!--post link 9-->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a class="govuk-!-font-weight-regular govuk-link" href="#">
                  What reports do you do for parents?
                </a>
              </th>
              <td class="govuk-table__cell">Friday at 14:34</td>
              <td class="govuk-table__cell">18</td>
            </tr>


            <!--post link 10-->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a class="govuk-!-font-weight-regular govuk-link" href="#">
                  New EYFS - when does it apply from?
                </a>
              </th>
              <td class="govuk-table__cell">Friday at 13:56</td>
              <td class="govuk-table__cell">3</td>
            </tr>



          </tbody>
        </table>

        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>

    <!--Other ways to get help-->
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Other ways to get help</h2>
        </div>
      </div>

      <ul class="govuk-grid-row eyfs-card-group">
        <li class="govuk-grid-column-one-half eyfs-card-group__item">
          <div class="eyfs-card--static eyfs-card-background--light-grey">
            <div class="eyfs-card__content--stacked">
              <h3 class="govuk-heading-m">
                <a class="govuk-link"href="../DiscoRound5Version1/all-articles.html">
                  Read our help articles
                </a>
              </h3>
              <p>
                Articles on the EYFS and other early years topics, written by the Department for Education, early years experts and practitioners.
              </p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-half eyfs-card-group__item">
            <div class="eyfs-card--static eyfs-card-background--light-grey">
              <div class="eyfs-card__content--stacked">
                <h3 class="govuk-heading-m">
                  Contact us
                </h3>
                <p>
                  Email

                  <a class="govuk-link eyfs-word-break" href="mailto:help_for_early_years_providers@digital.education.gov.uk">
                    help_for_early_years_providers@digital.education.gov.uk
                  </a>

                    with any questions about our service.
                </p>
              </div>
            </div>
          </li>
      </ul>
    </div>

  </main>
{% endblock %}
