{% extends "main/DiscoRound5Version1/layout.html" %}
{% set pageHeading = "EYFS help centre" %}


{% block pageTitle %}
  Help for early years providers
{% endblock %}

{% block content %}
  <!--End of-->
  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
          collapseOnMobile: false,
          items: [
            {
              text: "Home",
              href: "/main/DiscoRound5Version1/hub"
            },
            {
              text: "All articles",
              href: "/main/DiscoRound5Version1/all-articles"
            },
            {
              text: pageHeading or "default text",
              href: activePage
            }
          ]
    }) }}
  </div>

  <main class="govuk-main-wrapper govuk-!-padding-top-0">

    <!--Title-->
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-!-margin-top-8 govuk-!-margin-bottom-8">
            <h1 class="govuk-heading-xl">
              Article heading
            </h1>
          </div>
        </div>

        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l govuk-!-margin-bottom-8">
            Lead paragraph
          </p>
        </div>
      </div>

      <!--Publishing info-->
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">

          <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-bottom-1 pstyling">Published 
            <time datetime="2021-03-05T10:29:30Z" title="2021-03-05 10:29" data-datetime="calendar">
            05 March 2021 10:29</time>
          </p>        
          <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-bottom-1 pstyling">Last updated 
            <time datetime="2021-03-08T13:50:16Z" title="2021-03-08 13:50" data-datetime="calendar">
            08 March 2021 13:50</time>
          </p>
          <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-bottom-1 pstyling">From: 
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="https://www.gov.uk/government/organisations/department-for-education">Department for education</a>
          </p> 

        </div>
      </div>
    </div>
    <!--end of-->

    <div class="govuk-width-container govuk-!-margin-bottom-6">
      <!--Content-->
      <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-l">
            Heading text
          </h2>
          <p>
            Your academy’s record should be confirmed as up to date if no changes are needed within 60 days of a previous update and/or confirmed as correct.
          </p>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--visible">
    </div>

    <!--other ways to get help-->
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Other ways to get help</h2>
        </div>
      </div>

      <ul class="govuk-grid-row eyfs-card-group">
        <li class="govuk-grid-column-one-half eyfs-card-group__item">
          <div class="eyfs-card--static eyfs-card-background--light-grey">
            <div class="eyfs-card__content--stacked">
              <h3 class="govuk-heading-m">
                <a class="govuk-link"href="../DiscoRound5Version1/all-posts.html">
                  Early years forum
                </a>
              </h3>
              <p>
                Discuss early years issues, ask questions, meet other practitioners and share advice.
              </p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-half eyfs-card-group__item">
            <div class="eyfs-card--static eyfs-card-background--light-grey">
              <div class="eyfs-card__content--stacked">
                <h3 class="govuk-heading-m">
                  Contact us
                </h3>
                <p>
                  Email

                  <a class="govuk-link eyfs-word-break" href="mailto:help_for_early_years_providers@digital.education.gov.uk">
                    help_for_early_years_providers@digital.education.gov.uk
                  </a>

                    with any questions about our service.
                </p>
              </div>
            </div>
          </li>
      </ul>
    </div>
    
  </main>
{% endblock %}
