{% extends "main/DiscoRound5/layout.html" %}

{% block pageTitle %}
  Help for early years providers
{% endblock %}

{% block content %}
  <!--Until we find a fix for the cards not accepting click function without including this menu, we have to use it in the DOM and call it display none with the govuk class -->
  <div id="eyfs-sticky-nav__mobile" class="eyfs-sticky-nav eyfs-sticky-nav--clickable govuk-!-display-none">
    <button id="eyfs-sticky-nav-toggler" class="govuk-button eyfs-sticky-nav__button eyfs-sticky-nav__link eyfs-sticky-nav-toggler js-eyfs-sticky-nav-toggler" aria-controls="app-mobile-nav">
        EYFS Resources
    </button>
    {% include "main/DiscoRound5/version_includes/subnav-mobile.html" %}
  </div>
  <!--End of-->

  <main class="govuk-main-wrapper">

    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
          Help for early years providers
          </h1>
          <p class="govuk-body-l">Information, guidance and practical support for delivering the early years foundation stage (EYFS) framework.</p>
        </div>
      </div>
    </div>

    <!--Cards section-->
    <div class="eyfs-areas-of-learning__section">
      <div class="govuk-width-container">
        {# We align the content that might span across the full width of the container into two-thirds for readability purposes. Same principle as the section 'Get help to improve your practice' #}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Areas of learning</h2>

            <p class="govuk-body govuk-!-margin-bottom-7">Find information about each area of learning in the EYFS and get ideas for activities you can do with early years children.</p>
          </div>
        </div>

        {# The cards section can span across the full width since it is then further breaking down into one half #}
        <ul class="govuk-grid-row eyfs-card-group">
          <li class="govuk-grid-column-one-half eyfs-card-group__item">
            <div class="eyfs-card--clickable">
              {# Inline svg element as opposed to using the chevron icon as a css background for the card. If css fails, users will still be able to see the icon. Helps distribute the space around the card evenly (padding 25px applied on all sides)#}
              <div class="eyfs-card__content">
                <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="./communication-and-language/communication-and-language-index">
                Communication and language</a>
                <svg width="14" height="25" viewBox="0 0 14 25" fill="none" focusable="false" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.999999 1.5L12 12.5L1 23.5" stroke="currentColor" stroke-width="2"/>
                </svg>
              </div>
            </div>
          </li>

          <li class="govuk-grid-column-one-half eyfs-card-group__item">
            <div class="eyfs-card--clickable">
              <div class="eyfs-card__content">
                <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="./physical-development/physical-development-index">
                Physical development</a>
                <svg width="14" height="25" viewBox="0 0 14 25" fill="none" focusable="false" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.999999 1.5L12 12.5L1 23.5" stroke="currentColor" stroke-width="2"/>
                </svg>
              </div>
            </div>
          </li>

          <li class="govuk-grid-column-one-half eyfs-card-group__item">
            <div class="eyfs-card--clickable">
              <div class="eyfs-card__content">
                <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="./personal-social-and-emotional-development/personal-social-and-emotional-development-index">
                Personal, social and emotional development</a>
                <svg width="14" height="25" viewBox="0 0 14 25" fill="none" focusable="false" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.999999 1.5L12 12.5L1 23.5" stroke="currentColor" stroke-width="2"/>
                </svg>
              </div>
            </div>
          </li>

          <li class="govuk-grid-column-one-half eyfs-card-group__item">
            <div class="eyfs-card--clickable">
              <div class="eyfs-card__content">
                <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="./literacy/literacy-index">
                Literacy</a>
                <svg width="14" height="25" viewBox="0 0 14 25" fill="none" focusable="false" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.999999 1.5L12 12.5L1 23.5" stroke="currentColor" stroke-width="2"/>
                </svg>
              </div>
            </div>
          </li>

          <li class="govuk-grid-column-one-half eyfs-card-group__item">
            <div class="eyfs-card--clickable">
              <div class="eyfs-card__content">
                <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="./maths/maths-index">
                Maths</a>
                <svg width="14" height="25" viewBox="0 0 14 25" fill="none" focusable="false" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.999999 1.5L12 12.5L1 23.5" stroke="currentColor" stroke-width="2"/>
                </svg>
              </div>
            </div>
          </li>

          <li class="govuk-grid-column-one-half eyfs-card-group__item">
            <div class="eyfs-card--clickable">
              <div class="eyfs-card__content">
                <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="./understanding-the-world/understanding-the-world-index">
                Understanding the world</a>
                <svg width="14" height="25" viewBox="0 0 14 25" fill="none" focusable="false" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.999999 1.5L12 12.5L1 23.5" stroke="currentColor" stroke-width="2"/>
                </svg>
              </div>
            </div>
          </li>

          <li class="govuk-grid-column-one-half eyfs-card-group__item">
            <div class="eyfs-card--clickable">
              <div class="eyfs-card__content">
                <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"href="./expressive-arts-and-design/expressive-arts-and-design-index">
                Expressive arts and design</a>
                <svg width="14" height="25" viewBox="0 0 14 25" fill="none" focusable="false" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.999999 1.5L12 12.5L1 23.5" stroke="currentColor" stroke-width="2"/>
                </svg>
              </div>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
    <!--End of cards section-->

    <!--Get help to improve your practice-->
    <div class="govuk-width-container govuk-!-padding-top-8 govuk-!-margin-bottom-6">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Get help to improve your practice</h2>

          <p class="govuk-body"><a class="govuk-link" href="get-help-to-improve-your-practice/ghtiyp-index">Overview</a></p>

          <p class="govuk-body"><a class="govuk-link" href="get-help-to-improve-your-practice/planning">Planning</a></p>

          <p class="govuk-body"><a class="govuk-link" href="get-help-to-improve-your-practice/reducing-paperwork">Reducing paperwork</a></p>

          <p class="govuk-body"><a class="govuk-link" href="get-help-to-improve-your-practice/send">Identifying and supporting children with special educational needs and disability (SEND)</a></p>

          <p class="govuk-body"><a class="govuk-link" href="get-help-to-improve-your-practice/oral-health">Oral health</a></p>

          <p class="govuk-body govuk-!-margin-bottom-8"><a class="govuk-link" href="get-help-to-improve-your-practice/working-with-parents">Working in partnership with parents</a></p>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <h2 class="govuk-heading-l">Other useful resources</h2>

          <p class="govuk-body"><a class="govuk-link" href="#">Changes to the early years foundation stage (EYFS) framework</a></p>

          <p class="govuk-body"><a class="govuk-link" href="#">Statutory framework for the early years foundation stage (PDF, 43 pages, 239KB)</a></p>

          <p class="govuk-body govuk-!-margin-bottom-9"><a class="govuk-link" href="#">Development Matters, non-statutory curriculum guidance for the early years foundation stage (PDF, 77 pages 682KB)</a></p>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <!--Signup alert -->
          <div class="eyfs-signup-link govuk-!-display-none-print govuk-!-margin-top-9 govuk-!-margin-bottom-5 eyfs-signup-link--with-background-and-border">
            <div class="eyfs-signup-link__inner">
              <svg class="eyfs-signup-link__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334">
              <path fill="black" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path>
              </svg>
              <h3 class="govuk-heading-s eyfs-signup-link__title">Stay up to date with EYFS</h3>
              <a class="govuk-link govuk-!-font-size-19" href="#">Sign up to get emails when we change any early years foundation stage (EYFS) information on this website</a>
            </div>
          </div>
          <!--End of-->

          {% include "./version_includes/social-links.html" %}

          <!--The blue line should be part of the footer, but this has not been a sight for services but mainstream gov.uk site  -->
          {# <div class="landing-page__section--border-bottom-blue"></div> #}

    </div>
    <!--End of-->
    
  </main>
{% endblock %}
