{% extends "main/DiscoRound5Version1/layout.html" %}
{% set pageHeading = "Post 1" %}


{% block pageTitle %}
  Help for early years providers
{% endblock %}

{% block content %}
  <!--End of-->
  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
          collapseOnMobile: false,
          items: [
            {
              text: "Home",
              href: "/main/DiscoRound5Version1/hub"
            },
            {
              text: "All posts",
              href: "/main/DiscoRound5Version1/all-posts"
            },
            {
              text: pageHeading or "default text",
              href: activePage
            }
          ]
    }) }}
  </div>

  <main class="govuk-main-wrapper">

    <!--Top section-->
    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-top-5">

        <div class="govuk-grid-column-one-quarter">
          <svg class="govuk-!-margin-bottom-2" width="125" height="125" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="62.5" cy="62.5" r="62.5" fill="#B1B4B6"/><circle cx="63" cy="44" r="15" fill="#F3F2F1"/><path d="M63 66c-16.569 0-30 13.431-30 30h60c0-16.569-13.431-30-30-30z" fill="#F3F2F1"/></svg>
          <p class="govuk-!-font-weight-bold govuk-!-padding-right-3">yorkshire_childminder81</p>
        </div>

        <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
          <div class="govuk-!-margin-bottom-7">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
              How to teach oral health?
            </h1>
            <p class="govuk-!-font-size-16 govuk-!-margin-bottom-5">Edited today at 06:30</p>

          </div>
          <p>
            I’ve heard that the new EYFS has something in it about oral health, does anyone know any more and what are you planning to do for it? I’d really rather not do supervised tooth brushing!
          </p>

        </div>

        <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
          <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-m">Replies</p>
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>

        <!--Comment 1-->
        <div class="govuk-grid-column-one-quarter">
          <svg class="govuk-!-margin-bottom-2" width="60" height="60" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="30" cy="30" r="30" fill="#B1B4B6"/><circle cx="30.24" cy="21.12" r="7.2" fill="#F3F2F1"/><path d="M30.24 31.68c-7.953 0-14.4 6.447-14.4 14.4h28.8c0-7.953-6.447-14.4-14.4-14.4z" fill="#F3F2F1"/></svg>
          <p class="govuk-!-font-weight-bold">
            Sarah Pine
          </p>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <p>
            I haven’t read the new EYFS but I’ve also heard that there’s more focus on teeth. I think it’s a good thing, it always strikes me as so sad when a young child has avoidable problems with their teeth! From what I’ve heard it shouldn’t be much more than the normal stuff that most of us do already - sweet food only with meals, no sugary drinks, that kind of thing.
          </p>
          <div class="govuk-!-margin-top-5">
            <p class="govuk-!-font-size-16">Today at 07:15</p>
          </div>
        </div>

        <div class="govuk-grid-column-full govuk-!-margin-top-4 govuk-!-margin-bottom-4">
          <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
        </div>


        <!--Comment 2-->
        <div class="govuk-grid-column-one-quarter">
          <svg class="govuk-!-margin-bottom-2" width="60" height="60" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="30" cy="30" r="30" fill="#B1B4B6"/><circle cx="30.24" cy="21.12" r="7.2" fill="#F3F2F1"/><path d="M30.24 31.68c-7.953 0-14.4 6.447-14.4 14.4h28.8c0-7.953-6.447-14.4-14.4-14.4z" fill="#F3F2F1"/></svg>
          <p class="govuk-!-font-weight-bold">
            ReadingCat
          </p>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <p>
            We do daily toothbrushing sessions in our nursery for the children that are old enough. Each child has a toothbrush and toothpaste labelled with their own name and all of us have done training so we can make sure they’re doing it properly, good technique and all that. It was a good refresher for some of us too! We have a chart on the wall where the children mark when they’ve brushed their teeth.</p>

            <p>We’ve also done activities where we get children to use a mirror to look inside their mouths and tell us what they can see, count their teeth etc. There are some good resources online for oral health.</p>

          <div class="govuk-!-margin-top-5">
            <p class="govuk-!-font-size-16">Today at 07:23</p>
          </div>
        </div>

        <div class="govuk-grid-column-full govuk-!-margin-top-4 govuk-!-margin-bottom-4">
          <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
        </div>


        <!--Comment 3-->
        <div class="govuk-grid-column-one-quarter">
          <svg class="govuk-!-margin-bottom-2" width="60" height="60" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="30" cy="30" r="30" fill="#B1B4B6"/><circle cx="30.24" cy="21.12" r="7.2" fill="#F3F2F1"/><path d="M30.24 31.68c-7.953 0-14.4 6.447-14.4 14.4h28.8c0-7.953-6.447-14.4-14.4-14.4z" fill="#F3F2F1"/></svg>
          <p class="govuk-!-font-weight-bold">
            Maggie Carter
          </p>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <p>
            I’ve done oral health activities for a while and I’m talking to parents at the moment about starting to do supervised tooth brushing. It’s always been important to me to set the children up with good habits as much as I can, especially if they don’t always get that from home. My local authority has been really helpful about giving out information about tooth brushing and they sent a link to a Public Health England page about it that has step by step instructions. </p>

          <div class="govuk-!-margin-top-5">
            <p class="govuk-!-font-size-16">Today at 07:40</p>
          </div>
        </div>

        <div class="govuk-grid-column-full govuk-!-margin-top-4 govuk-!-margin-bottom-4">
          <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
        </div>

        <!--Comment 3-->
        <div class="govuk-grid-column-one-quarter">
          <svg class="govuk-!-margin-bottom-2" width="60" height="60" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="30" cy="30" r="30" fill="#B1B4B6"/><circle cx="30.24" cy="21.12" r="7.2" fill="#F3F2F1"/><path d="M30.24 31.68c-7.953 0-14.4 6.447-14.4 14.4h28.8c0-7.953-6.447-14.4-14.4-14.4z" fill="#F3F2F1"/></svg>
          <p class="govuk-!-font-weight-bold">
            Department for Education
          </p>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <p>
            Hi <b>yorkshire_childminder81</b>. Oral health has been included in the EYFS framework because good oral health habits need to be formed from the earliest age. Tooth decay is largely preventable, but is still a serious problem among young children. </p>

            <p>Oral health is part of the welfare and safeguarding requirements in the new EYFS rather than being part of the areas of learning. It is up to you to decide how you do this, based on what will work best in your setting. Ideally oral health can be linked to self-care, healthy eating and physical development that you are already promoting with your children. </p>

            <p>Some things you can do are:</p>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>suggest they brush dolls’ teeth, or soft toys’ teeth</li>
              <li>explore stories about teeth and smiles</li>
              <li>talk about food that helps the growth of strong teeth, and food that doesn’t</li>
              <li>talk about teeth brushing as the children arrive</li>
              <li>try to provide parents and carers with the right knowledge and practical advice to support oral health at home</li>

            </ul>

            <p>Visiting dentists, tooth brushing kits or tooth brushing routines will all support the children’s growing awareness of oral health.</p>

            <p>You do not have to carry out supervised toothbrushing or assess children’s oral health.
            However, if you decide to bring in supervised toothbrushing there are various schemes that support this. You may want to speak to your local authority about this.</p>

            <p>If supervised toothbrushing is something you decide to introduce, you should also read the <a href="#">guidance on supervised toothbrushing during coronavirus (COVID-19)</a>. </p>
            <p>You can read more about oral health on the <a href="#">help for early years providers website</a>.</p>


          <div class="govuk-!-margin-top-5">
            <p class="govuk-!-font-size-16">Today at 08:30</p>
          </div>
        </div>


        <div class="govuk-grid-column-full govuk-!-margin-top-4 govuk-!-margin-bottom-4">
          <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
        </div>



        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">Post a reply</p>
          {{ govukButton({
              text: "Sign in to create a post"
            }) }}
        </div>

      </div>
    </div>

  </main>
{% endblock %}
