{% extends "templates/two-column-with-subnav.html" %}

{% set activePage = 'counting' %}
{% set activeSection = 'maths' %}

{% set pageHeading = "Counting" %}

{% block pageContent %}

    <span class="govuk-caption-l">
        Maths
    </span>
        
    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <p>Learn more about counting in maths by exploring this page of resources.</p>

    <h2 class="govuk-heading-m">
        Why counting is important
    </h2>
    
    <p>It is an often overlooked fact that we all, whether children or adults, are constantly using and applying mathematics in our everyday lives.</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            Research confirms that early experiences have long-lasting outcomes in terms of educational achievement and life chances
        </li>
        <li>
            You can make a real difference to ensure every child has a chance to become a confident learner and user of mathematics.
        </li>
    </ul>

    <p>In this video, an expert in early years maths explains what’s changed in the new EYFS for counting in maths and offers some top tips on getting the most out of a child in this area.</p>

    <h2 class="govuk-heading-m">
        What the EYFS framework says
    </h2>

    <p>Children should be able to count confidently, develop a deep understanding of the numbers to 10, the relationships between them and the patterns within those numbers.</p>

    <h2 class="govuk-heading-m">
        What this means in practice
    </h2>

    <p>One of the key methods children use to learn is trial and error; therefore, using a hands-on approach, and allowing them to experiment, is a good way for children to develop their mathematical thinking skills.</p>

    <p>Here we’ve suggested just a few examples of the toys and activities you can provide to encourage development in some of the areas of numeracy, for early years.</p>

    <h2 class="govuk-heading-m">
        Counting activities
    </h2>


    {{ appPagination ({
        items: [{
            prevHref: '/main/Round1Version1/maths/maths-index',
            prevLabel: 'Maths',
            nextHref: '/main/Round1Version1/maths/counting',
            nextLabel: 'Number patterns'
        }]
    }) }}

{% endblock %}