{% extends "main/Round1Version1/layout.html" %}

{% block pageTitle %}
  Help for early years providers
{% endblock %}

{% block content %}

<div class="eyfs-wrapper">

  <div class="govuk-width-container">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype. Content is likely to change rapidly.
      </span>
      </p>
    </div>

  </div>


  <main class="govuk-main-wrapper">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds landing-page_header-text-container govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          Help for early years providers and professionals
          </h1>
          <p class="govuk-body-l">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).</p>
        </div>
      </div>
    </div>

    <!--Cards section-->
    {% include "includes/cards.html" %}
    {# <div class="landing-page__section--grey landing-page__section--border-bottom-blue">
      
        <div class="govuk-width-container">
          <p class="govuk-body govuk-!-margin-bottom-7">Learn about the new changes and what it means for your practice.</p>
          <div class="govuk-card__flex-container govuk-grid-row">

            <!--Card item one-->
            <div class="govuk-card__flex-item govuk-grid-column-one-half">
              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background ovuk-!-margin-bottom-0 govuk-!-padding-bottom-0" style="width: 100%; background-color: #1d70b8">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">
                    <a style="color: #FFFFFF" class="eyfs-card-link" href="#">Communication and language</a>
                  </h3>
                  <!-- <p class="govuk-body">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).
                  </p> -->
                </div>
              </div>
            </div>
            <!--Card item one-->

            <!--Card item two-->
            <div class="govuk-card__flex-item govuk-grid-column-one-half">
              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background ovuk-!-margin-bottom-0 govuk-!-padding-bottom-0" style="width: 100%; background-color: #1d70b8">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">
                    <a style="color: #FFFFFF" class="eyfs-card-link" href="#">Physical development</a>
                  </h3>
                 <!--  <p class="govuk-body">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).
                  </p> -->
                </div>
              </div>
            </div>
            <!--Card item two-->

            <!--Card item three-->
            <div class="govuk-card__flex-item govuk-grid-column-one-half">
              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background ovuk-!-margin-bottom-0 govuk-!-padding-bottom-0" style="width: 100%; background-color: #1d70b8">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">
                    <a style="color: #FFFFFF" class="eyfs-card-link" href="#">Personal, social and emotional development</a>
                  </h3>
                 <!--  <p class="govuk-body">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).
                  </p> -->
                </div>
              </div>
            </div>
            <!--Card item three-->

            <!--Card item four-->
            <div class="govuk-card__flex-item govuk-grid-column-one-half">
              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background ovuk-!-margin-bottom-0 govuk-!-padding-bottom-0" style="width: 100%; background-color: #1d70b8">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">
                    <a style="color: #FFFFFF" class="eyfs-card-link" href="#">Literacy</a>
                  </h3>

                </div>
              </div>
            </div>
            <!--Card item four-->

            <!--Card item five-->
            <div class="govuk-card__flex-item govuk-grid-column-one-half">
              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background ovuk-!-margin-bottom-0 govuk-!-padding-bottom-0" style="width: 100%; background-color: #1d70b8">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">
                    <a style="color: #FFFFFF" class="eyfs-card-link" href="#">Mathematics</a>
                  </h3>
                 <!--  <p class="govuk-body">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).
                  </p> -->
                </div>
              </div>
            </div>
            <!--Card item five-->

            <!--Card item six-->
            <div class="govuk-card__flex-item govuk-grid-column-one-half">
              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background ovuk-!-margin-bottom-0 govuk-!-padding-bottom-0" style="width: 100%; background-color: #1d70b8">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">
                    <a style="color: #FFFFFF" class="eyfs-card-link" href="#">Understanding the world</a>
                  </h3>
                  <svg fill=“none” viewBox=
                "0 0 20 20" xmlns=“http://www.w3.org/2000/svg”>
<path d="M6 3.00011L13.3478 10.3477L6 17.6953" stroke=“#1D70B8” stroke-width="2"/>
</svg>
                 <!--  <p class="govuk-body">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS). -->
                  </p>
                </div>
              </div>
            </div>
            <!--Card item six-->

            <!--Card item seven-->
            <div class="govuk-card__flex-item govuk-grid-column-one-half">
              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background ovuk-!-margin-bottom-0 govuk-!-padding-bottom-0" style="width: 100%; background-color: #1d70b8">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">
                    <a style="color: #FFFFFF" class="eyfs-card-link" href="#">Expressive arts and design</a>
                  </h3>
                 <!--  <p class="govuk-body">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).
                  </p> -->
                </div>
              </div>
            </div>
            <!--Card item seven-->

          </div>
        </div>
      
    </div> #}
    <!--End of cards section-->

    <!--Get help to improve your practice-->
    <div class="govuk-width-container govuk-!-padding-top-8 govuk-!-margin-bottom-7">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Get help to improve your practice</h2>
          <p class="govuk-body">Use the links below to find out how to improve your practice</p>

              <p class="govuk-body"><a class="govuk-link" href="#">Planning your curriculum</a></p>
 
              <p class="govuk-body"><a class="govuk-link" href="#">Reducing paperwork</a></p>
           
              <p class="govuk-body"><a class="govuk-link" href="#">Supporting / identifying childrenwith SEND</a></p>

              <p class="govuk-body"><a class="govuk-link" href="#">Oral health</a></p>

              <p class="govuk-body"><a class="govuk-link" href="#">Keeping parents up to date</a></p>


          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <h2 class="govuk-heading-l">Other useful resources</h2>
          <p class="govuk-body">Use the links below to find out other resources that may be useful</p>

          
              <p class="govuk-body"><a class="govuk-link" href="#">EYFS Framework</a></p>
           
            
              <p class="govuk-body"><a class="govuk-link" href="#">EYFS Framework support</a></p>
            
            
              <p class="govuk-body"><a class="govuk-link" href="#">Development Matters</a></p>
          

        </div>
      </div>
    </div>
    <!--End of-->


    {% include "includes/signup-banner.html" %}

    {% include "includes/social-links.html" %}

    {% include "includes/feedback-banner.html" %}

  </main>

</div>

{% endblock %}
