{% extends "main/Round1Version1/layout.html" %}

{% block pageTitle %}
  Help for early years providers
{% endblock %}

{% block content %}

<div class="eyfs-wrapper">

  <div class="govuk-width-container">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype. Content is likely to change rapidly.
      </span>
      </p>
    </div>

  </div>


  <main class="govuk-main-wrapper">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds landing-page_header-text-container">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          Help for early years providers and professionals
          </h1>
          <p class="govuk-body-l">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).</p>

          <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-bottom-0" data-module="govuk-button">
          Access the learning materials
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
          </a>
        </div>
      </div>
    </div>

    <!--Cards section-->
    <div class="landing-page__section--grey landing-page__section--border-bottom-blue">
      
        <div class="govuk-width-container">
          <p class="govuk-body govuk-!-margin-bottom-7">Learn about the new changes and what it means for your practice.</p>
          <div class="govuk-card__flex-container govuk-grid-row">

            <!--Card item one-->
            <div class="govuk-card__flex-item govuk-grid-column-one-third">
              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">
                    <a class="eyfs-card-link" href="#">Communication and language</a>
                  </h3>
                  <p class="govuk-body">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).
                  </p>
                </div>
              </div>
            </div>
            <!--Card item one-->

            <!--Card item two-->
            <div class="govuk-card__flex-item govuk-grid-column-one-third">
              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">
                    <a class="eyfs-card-link" href="#">Physical development</a>
                  </h3>
                  <p class="govuk-body">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).
                  </p>
                </div>
              </div>
            </div>
            <!--Card item two-->

            <!--Card item three-->
            <div class="govuk-card__flex-item govuk-grid-column-one-third">
              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">
                    <a class="eyfs-card-link" href="#">Personal, social and emotional development</a>
                  </h3>
                  <p class="govuk-body">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).
                  </p>
                </div>
              </div>
            </div>
            <!--Card item three-->

            <!--Card item four-->
            <div class="govuk-card__flex-item govuk-grid-column-one-third">
              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">
                    <a class="eyfs-card-link" href="#">Literacy</a>
                  </h3>
                  <p class="govuk-body">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).
                  </p>
                </div>
              </div>
            </div>
            <!--Card item four-->

            <!--Card item five-->
            <div class="govuk-card__flex-item govuk-grid-column-one-third">
              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">
                    <a class="eyfs-card-link" href="#">Mathematics</a>
                  </h3>
                  <p class="govuk-body">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).
                  </p>
                </div>
              </div>
            </div>
            <!--Card item five-->

            <!--Card item six-->
            <div class="govuk-card__flex-item govuk-grid-column-one-third">
              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">
                    <a class="eyfs-card-link" href="#">Understanding the world</a>
                  </h3>
                  <p class="govuk-body">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).
                  </p>
                </div>
              </div>
            </div>
            <!--Card item six-->

            <!--Card item seven-->
            <div class="govuk-card__flex-item govuk-grid-column-one-third">
              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">
                    <a class="eyfs-card-link" href="#">Expressive arts and design</a>
                  </h3>
                  <p class="govuk-body">Information, guidance, practical support and training for delivering the early years foundation stage (EYFS).
                  </p>
                </div>
              </div>
            </div>
            <!--Card item seven-->

          </div>
        </div>
      
    </div>
    <!--End of cards section-->

    <!--Get help to improve your practice-->
    <div class="govuk-width-container govuk-!-padding-top-8">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-8">Get help to improve your practice</h2>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body">A leading line about the below links</p>

          <ul class="govuk-list govuk-list--bullet">
            <li class="govuk-!-margin-bottom-1">
              <a class="govuk-link" href="#">Link 1</a>
            </li>
            <li class="govuk-!-margin-bottom-1">
              <a class="govuk-link" href="#">Link 2</a>
            </li>
            <li class="govuk-!-margin-bottom-1">
              <a class="govuk-link" href="#">Link 3</a>
            </li>
            <li class="govuk-!-margin-bottom-1">
              <a class="govuk-link" href="#">Link 4</a>
            </li>
          </ul>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        </div>
      </div>
    </div>
    <!--End of-->

    {% include "includes/signup-banner.html" %}

    {% include "includes/social-links.html" %}

    {% include "includes/feedback-banner.html" %}

  </main>

</div>

{% endblock %}
