{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'numbers-in-context' %}
{% set activeSection = 'maths-index' %}

{% set sectionHeading = 'Maths' %}
{% set pageHeading = "Numbers" %}

{% block pageContent %}

    <span class="govuk-caption-xl">
        {{sectionHeading}}
    </span>

    <h1 class="govuk-heading-xl">

        {{pageHeading}}

    </h1>

    <h2 class="govuk-heading-l">
        Why numbers in context is important
    </h2>

    <p>
        Children need first-hand experiences with numbers in real life settings. Using numbers ‘in context’ means seeing numbers being used in practice, not just theory. This deepens their understanding.
    </p>

    <p>
        When children explore, experiment and discover in their setting they need skilful adult interactions. Repeating the activities will develop their understanding of mathematical concepts. Children will begin to understand routines and rhythms to the day and recognise numbers as labels.
    </p> 

    <p>
        Planning for and responding to meaningful opportunities gives early years’ workers the freedom to offer depth and complexity to the child’s learning and progress over time. Early year’s workers should be able to see the mathematical content in all the areas of learning.
    </p>  

    <p>
        Having access to a variety of resources and manipulatives is how children learn numbers have many applications. Maths is used for counting and quantities but children need to develop the other ways numbers are used, for example: a sense of order, to express values, for measurements.
    </p>
    
    <p>
        When a children’s play is supported with skilful, focused dialogue, and correct mathematical language, they embed their use of mathematical concepts.
    </p>  

    <p>
        By using numbers in context, children will develop their own working theories and be able to communicate these to others, constructing mathematical structures over time.
    </p>  

    <p>
        Children need to develop a positive attitude to maths and not be afraid to make a mistake.
    </p>

    <h2 class="govuk-heading-l">
        Video
    </h2>

    <p>
        In this video an expert in early years maths explains what has changed, why, and offers top tips on getting the most out of a child in this area.
    </p>

    <div class="eyfs-youtube-video govuk-!-margin-top-6 govuk-!-margin-bottom-2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SYhhCcokBF8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Video transcript
            </span>
        </summary>
        <div class="govuk-details__text">
            Helps explain the video as a text for screenreaders
        </div>
    </details>

    <h2 class="govuk-heading-l">
        What the EYFS framework says
    </h2>

    <p>
        Developing a strong grounding in number is essential so that all children develop the necessary building blocks to excel mathematically.
    </p> 

    <p>
        Children should be able to count confidently, develop a deep understanding of the numbers to 10, the relationships between them and the patterns within those numbers. </p>

    <p>
        By providing frequent and varied opportunities to build and apply this understanding - such as using manipulatives, including small pebbles and tens frames for organising counting - children will develop a secure base of knowledge and vocabulary from which mastery of mathematics is built.
    </p>

    <p>
        In addition, it is important that the curriculum includes rich opportunities for children to develop their spatial reasoning skills across all areas of mathematics including shape, space and measures.
    </p> 

    <p>
        It is important that children develop positive attitudes and interests in mathematics, look for patterns and relationships, spot connections, ‘have a go’, talk to adults and peers about what they notice and not be afraid to make mistakes.
    </p> 

    <p>
        <a rel="external" href="https://www.gov.uk/government/publications/early-adopter-schools-eyfs-framework">Statutory framework for EYFS, p10</a>
    </p>

    <h2 class="govuk-heading-l">
        What this means in practice
    </h2>

    <p>
        You need to seize the opportunities for maths in all that they do. This means taking advantage of opportunities to use numbers where they naturally arise. Numbers can be found in most situations: indoors, outdoors and in the community like bus stops or street numbers.
    </p>

    <p>
        The way children learn is unique to each child and they develop at their own pace. Learning is not linear, it is unique to each child.
    </p> 

    <p>
        You need to have good subject knowledge and understand how the content and concepts can be taught to young children.
    </p>
    
    <p>
        The setting needs to be thoughtfully planned and resourced. This planning will increase the potential for making connections and weaving mathematical learning and teaching into everyday opportunities. Encourage children to use numbers in many contexts: snack time, putting outdoor clothing on, processes and routines.
    </p>

    <p>
        Research shows toddlers engage spontaneously with maths during play. You can help toddlers and small children learn counting up to 10 by using ‘manipulatives’, like foam dice or counting blocks, small pebbles and tens frames.
    </p>

    <p>
        Encourage children to lead their own learning, alongside adult-led teaching. Children may apply their prior knowledge and experiment, testing out their emerging concepts.
    </p> 

    <p>
        Your role is to observe children and subtly intervene. You should offer resources that support learning to deepen the child’s inquiry or understanding.
    </p>
 
    <p>
        Resources must bring depth, diversity and challenge. This supports progression in children’s knowledge, skills and understanding. Celebrating children’s abilities and having high aspirations and expectations fosters motivation and builds on children’s interests and inquiries.
    </p>

    <h2 class="govuk-heading-l">
        Suggested activities
    </h2>

    <h3 class="govuk-heading-m">
        Setting up a shop
    </h3>

    <h4 class="govuk-heading-s">
        Equipment needed
    </h4>

    <ul class="govuk-list govuk-list--bullet">
        <li>empty cardboard food boxes</li>
        <li>empty plastic bottles</li>
        <li>real fruit and vegetables, for example, potatoes, carrots, apples</li>
        <li>tinned food</li>
        <li>real money</li>
        <li>purses</li>
        <li>shopping bags</li>
        <li>shopping baskets</li>
        <li>toy cash register</li>
        <li>weighing scales</li>
        <li>labels for children to write price tags</li>
        <li>paper and pencils to write shopping lists</li>
    </ul>
    
    <h4 class="govuk-heading-s">
        How to complete the setting up a shop activity
    </h4>

    <ul class="govuk-list govuk-list--bullet"> 
        <li>identify a suitable area</li>
        <li>talk to the children about what they think could be in the shop</li>
        <li>check all the resources are safe</li>
        <li>set up shelves and containers and use price labels on the items for sale</li>
        <li>set up an area like a table where children can weigh and pay for their purchases</li>
        <li>place money into the toy cash register and the purses</li>
        <li>negotiate the shop rules with the children</li>
    </ul>

    <h4 class="govuk-heading-s">
        Simplifying the activity
    </h4>

    <p>
        Have fewer things to sell in the shop.
    </p>

    <p>
        Having an adult present to support learning and negotiate turn taking could help.
    </p>

    <h4 class="govuk-heading-s">
        Offering further challenges
    </h4>

    <ul class="govuk-list govuk-list--bullet">
        <li>write their own shopping lists</li>
        <li>count how many items they have in their basket</li>
        <li>discuss how much their shopping might cost</li>
        <li>estimate and make comparisons about cost, weight, shape and measurement</li>
    </ul>

    <h4 class="govuk-heading-s">
        How this activity links to research and theory
    </h4>

    <p>
        Research tells us that young children make sense of their worlds through authentic first-hand experiences.
    <p>  
 
    <p>
        Role play and games are of significant importance in early learning. They offer mathematical learning opportunities which can be challenging.
    <p>

    <h4 class="govuk-heading-s">
        Outcomes
    </h4>

    <p>
        Children could:
    <p>

    <ul class="govuk-list govuk-list--bullet">
        <li>be able to count in everyday contexts</li>
        <li>gain some understanding of number, quantity and calculation</li>
        <li>develop a basic understanding about money</li>
        <li>start to make comparisons about quantity, size and weight</li>
        <li>build skills in counting, value, and order by using numbers in context</li>
    </ul>

    <h3 class="govuk-heading-m">
        Setting up a welly boot station outdoors
    </h3>

    <h4 class="govuk-heading-s">
        Equipment needed
    </h4>

    <ul class="govuk-list govuk-list--bullet">
        <li>different size boots in both child and adult sizes</li>
        <li>numbers on the sole of the wellies</li>
        <li>pairs of wellies</li>
        <li>foot measures with length and width measure</li>
        <li>storage for the welly boots</li>
        <li>somewhere to sit to put on the footwear</li>
    </ul>

    <h4 class="govuk-heading-s">
        Instructions on how to complete the activity
    </h4>

    <p>
        Set up an area that is accessible and will be suitable to change into welly boots.
    </p>
 
    <p>
        Decisions involved in selecting footwear can be complex so do not rush the activity.
    </p>
    
    <p>
        Let the children select and try to put the welly boots on independently.
    </p>

    <p>
        Support the children verbally via open ended questions: “I wonder…’.
    </p>
    
    <p>
        The activity can be extended depending on the direction that the child is taking.
    </p>

    <h4 class="govuk-heading-s">
        Offering further challenges
    </h4>

    <ul class="govuk-list govuk-list--bullet">
        <li>put one welly on each foot: 1 to 1 correspondence</li>
        <li>are the wellies the same? Do the numbers match the size on the sole of both wellies?</li>
        <li>using the foot measure to determine size, length and width</li>
        <li>making comparisons with numbers and size</li>
        <li>can they order the numbers by size?</li>
        <li>counting the number of wellies that are the same size</li>
        <li>subitising: this means knowing that there are 2 or 3 or 4 without counting</li>
        <li>putting the wellies into sets of sizes</li>
    </ul>

    <h4 class="govuk-heading-s">
        How the activity links to research and theory
    </h4>

    <p>
        Through repetition children will then be able to use these mathematical concepts in their play.
    </p>

    <h4 class="govuk-heading-s">
        Outcomes
    </h4>

    <p>
        Children could be able to:
    </p>
 
    <ul class="govuk-list govuk-list--bullet">
        <li>use numbers in context</li>
        <li>see how numbers relate to size</li>
        <li>use 1 to 1 correspondence</li>
        <li>understand that a pair means 2</li>
        <li>order by size</li>
    </ul>

    <h2 class="govuk-heading-l">
        Other activities
    </h2>

    <p>
        Nrich offers a variety of 
            <a rel="external" href="https://nrich.maths.org/13372">counting games and activities</a>
        for pre-school children like ‘Pirate poundland’ and ‘number talks’.
    </p>

    <p>
        BBC’s CBeebies has many
            <a rel="external" href="https://www.bbc.co.uk/cbeebies/grownups/help-your-child-with-maths">pre-school maths activities and games.</a>
    </p>

    <h2 class="govuk-heading-l">
        What other nurseries and childminders are doing
    </h2>

    {# Inset text component using nunjucks templating #}
    {% set insetTextHtml %}

        <p class="govuk-body">
            “I am noticing the importance of giving children real opportunities to use numbers in context through finding out about the child’s interests, engaging children in simple tasks and cooking. Making the most of real life opportunities for spotting numbers and shapes as we walk around the environment and community.”
        </p>
        <p class="govuk-body">
            “I realised that it is not just about displaying numbers and number lines in the environment. It is about making numbers real and using them all day long, in everything that I plan for and offer as well as closely observing what the child is doing.”
        </p>
        <p class="govuk-body">
            Childminder
        </p>
        
    {% endset %}
    {{ govukInsetText({
        html: insetTextHtml
    }) }}

    <h2 class="govuk-heading-l">
        Summary
    </h2>

    <ul class="govuk-list govuk-list--bullet">
        <li>Numbers in context need to be real and meaningful to young children.</li>

        <li>Children need to be given first-hand experiences and the chance to repeat and revisit these to embed concepts.</li>

        <li>You should use mathematical language and vocabulary to support children’s mathematical thinking.</li>

        <li>You should have a sound subject knowledge and if possible take part in continuous professional development to continue to grow their own expertise.</li>

        <li>A setting with diverse resources has the potential to spark curiosity, encourage children to experiment.</li>
    </ul>

    <h2 class="govuk-heading-l">
        Next steps
    </h2>

    <ul class="govuk-list govuk-list--bullet">
        <li>Build your subject knowledge to grow your confidence and competency.</li>

        <li>Take opportunities to visit other settings where maths is a strength.</li>

        <li>Closely observe what children are doing during play and make the links to numbers in context.</li>

        <li>Look at your environment and ask yourself what are the mathematical opportunities.</li>

        <li>Refresh your resources to offer chances for children to explore and experiment with mathematical concepts.</li>
    </ul>


    {{ appPagination ({
        items: [{
            prevHref: '../maths/maths-index',
            prevLabel: 'Maths',
            nextHref: '../maths/patterns-and-connections',
            nextLabel: 'Patterns and connections'
        }]
    }) }}

{% endblock %}
