{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'numbers-in-context' %}
{% set activeSection = 'maths-index' %}

{% set sectionHeading = 'Maths' %}
{% set pageHeading = "Numbers" %}

{% block pageContent %}

    <span class="govuk-caption-xl">
        {{sectionHeading}}
    </span>

    <h1 class="govuk-heading-xl">

        {{pageHeading}}

    </h1>

    <h2 class="govuk-heading-l">
        Why numbers are important
    </h2>

    <p>
        Children need your help to explore, experiment and discover in the setting. Repeating maths activities will develop their understanding of mathematical concepts. Children will begin to understand regular daily routines and how to use numbers to describe things.
    </p>

    <p>
        Look for meaningful maths opportunities to aid learning and progress over time. You should try to find the mathematical content in all areas of learning if possible.
    </p>

    <p>
        Using numbers ‘in context’ means seeing numbers being used in practice, not just theory. This deepens their understanding.
    </p>

    <p>
        Maths is used for counting and quantities but children need to develop the other ways numbers are used. For example, measurements, putting things in order, values.
    </p>

    <p>
        Support children’s play with correct mathematical language so they start to understand mathematical concepts.
    </p>

    <p>
        Children will develop their own working theories by using numbers in context. They will learn to communicate these to others and over time remember mathematical concepts.
    </p>

    <p>
        Children need to develop a positive attitude to maths and not be afraid to make a mistake.
    </p>

    <h2 class="govuk-heading-l">
        Video
    </h2>

    <p>
        In this video an expert in early years maths explains what has changed, why, and offers top tips on getting the most out of a child in this area.
    </p>

    <div class="eyfs-youtube-video govuk-!-margin-top-6 govuk-!-margin-bottom-2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SYhhCcokBF8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Video transcript
            </span>
        </summary>
        <div class="govuk-details__text">
            Helps explain the video as a text for screenreaders
        </div>
    </details>

    <h2 class="govuk-heading-l">
        What the EYFS framework says
    </h2>

    <p>
        Developing a strong grounding in number is essential so that all children develop the necessary building blocks to excel mathematically.
    </p>

    <p>
        Children should be able to count confidently, develop a deep understanding of the numbers to 10, the relationships between them and the patterns within those numbers. </p>

    <p>
        By providing frequent and varied opportunities to build and apply this understanding - such as using manipulatives, including small pebbles and tens frames for organising counting - children will develop a secure base of knowledge and vocabulary from which mastery of mathematics is built.
    </p>

    <p>
        <a rel="external" href="https://www.gov.uk/government/publications/early-adopter-schools-eyfs-framework">Statutory framework for EYFS, p10</a>
    </p>

    <h2 class="govuk-heading-l">
        What this means in practice
    </h2>

    <p>
        You need to seize the opportunities for maths in all that they do. This means taking advantage of opportunities to use numbers where they naturally arise. Numbers can be found in most situations: indoors, outdoors and in the community like bus stops or street numbers.
    </p>

    <p>
        The way children learn is unique to each child and they develop at their own pace. Learning is not linear, it is unique to each child.
    </p>

    <p>
        Encourage children to use numbers in many contexts: snack time, putting outdoor clothing on, processes and routines.
    </p>

    <p>
        Research shows toddlers engage spontaneously with maths during play. Children can learn a deep understanding of numbers using ‘manipulatives’ for example, foam dice or counting blocks. You can also help children to learn to count up to 10 using small pebbles and tens frames.
    </p>

    <p>
        Encourage children to lead their own learning. Children can apply their knowledge and experiment to test new understanding of concepts.
    </p>

    <p>
        You should observe children and subtly help if they need it. Offer resources that support learning to deepen the child’s interest and understanding.
    </p>


    <h2 class="govuk-heading-l">
        Suggested activities
    </h2>

    <h3 class="govuk-heading-m">
        Setting up a shop
    </h3>

    <div class="govuk-!-margin-bottom-4">
        <figure class="eyfs-topic-images">
            <img src="https://i.ibb.co/1XGN9JQ/toy-cash-register-960x640.jpg" alt="A toy cash register">
        </figure>
    </div>

    <p>You will need:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>empty cardboard food boxes</li>
        <li>empty plastic bottles</li>
        <li>real fruit and vegetables, for example, potatoes, carrots, apples</li>
        <li>tinned food</li>
        <li>real money or play money</li>
        <li>purses</li>
        <li>shopping bags</li>
        <li>shopping baskets</li>
        <li>toy cash register</li>
        <li>weighing scales</li>
        <li>labels for children to write price tags</li>
        <li>paper and pencils to write shopping lists</li>
    </ul>

    <p>How to carry out the activity</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>identify a suitable, safe area in the setting</li>
        <li>talk to the children about what they think could be in the shop</li>
        <li>set up shelves and containers and use price labels on the items for sale</li>
        <li>set up an area like a table where children can weigh and pay for their purchases</li>
        <li>place money into the toy cash register and the purses</li>
        <li>negotiate the shop rules with the children</li>
    </ul>


    <h3 class="govuk-heading-m">
        How the activity links to the other areas of learning
    </h3>

    <p>Children can have real life experiences about shopping (<a href="#">Understanding the world</a>). Children can try out different roles in the shop (<a href="#">Personal, social and emotional development</a>). They can use money and work out prices (<a href="">Mathematics</a>). They can talk to each other about the activity and take turns and use shop rules (<a href="">Communication and language</a>).</p>


    <h3 class="govuk-heading-m">
        Setting up a welly boot station outdoors
    </h3>

    <p>You will need:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>pairs of wellies in different sizes</li>
        <li>numbers on the sole of the wellies</li>
        <li>foot measures with length and width measure</li>
        <li>storage for the welly boots</li>
        <li>somewhere for children to sit to put on the footwear</li>
    </ul>

    <p>How to carry out the activity</p>

    <p>Set up an area that is accessible and will be suitable for children to change into welly boots.</p>

    <p>Decisions involved in selecting footwear can be complex so do not rush the activity.</p>

    <p>Let the children select and try to put the welly boots on independently.</p>

    <p>The activity can be extended depending on the direction that the child is taking.</p>



    <h3 class="govuk-heading-m">
        How the activity links to the other areas of learning
    </h3>

    <p>Children can talk to each other and why they need welly boots and wearing them outside (<a href="../understanding-the-world/understanding-the-world-index">Understanding the world</a>). They can work together putting the boots on and off (<a href="../personal-social-and-emotional-development/personal-social-and-emotional-development-index">Personal social and emotional development</a>). They can learn how to get them on and off (<a href="../physical-development/physical-development-index">Physical development</a>). Children can write down who needs which size (<a href="../communication-and-language/listening-and-understanding">Listening and understanding</a>). Playing outside with boots on they can make patterns with paint on the bottom (<a href="../expressive-arts-and-design/expressive-arts-and-design-index">Expressive arts and design</a>).</p>


    <h2 class="govuk-heading-l">
        Other activities
    </h2>

    <p>
        Nrich offers a variety of
            <a rel="external" href="https://nrich.maths.org/13372">counting games and activities</a>
        for pre-school children like 'pirate poundland' and 'number talks'.
    </p>

    <p>
        BBC’s CBeebies has many
            <a rel="external" href="https://www.bbc.co.uk/cbeebies/grownups/help-your-child-with-maths">pre-school maths activities and games.</a>
    </p>

    <h2 class="govuk-heading-l">
        What other nurseries and childminders are doing
    </h2>

    {# Inset text component using nunjucks templating #}
    {% set insetTextHtml %}

        <p class="govuk-body">
            “I am noticing the importance of giving children real opportunities to use numbers in context through finding out about the child’s interests, engaging children in simple tasks and cooking. Making the most of real life opportunities for spotting numbers and shapes as we walk around the environment and community.”
        </p>
        <p class="govuk-body">
            “I realised that it is not just about displaying numbers and number lines in the environment. It is about making numbers real and using them all day long, in everything that I plan for and offer as well as closely observing what the child is doing.”
        </p>
        <p class="govuk-body">
            Hannah, childminder, Bristol
        </p>

    {% endset %}
    {{ govukInsetText({
        html: insetTextHtml
    }) }}

    <h2 class="govuk-heading-l">
        Summary
    </h2>

    <ul class="govuk-list govuk-list--bullet">
        <li>Numbers in context need to be real and meaningful to young children.</li>

        <li>Children need to be given first-hand experiences and the chance to repeat and revisit these to embed concepts.</li>

        <li>You should use mathematical language and vocabulary to support children’s mathematical thinking.</li>

        <li>A setting with diverse resources has the potential to spark curiosity, encourage children to experiment.</li>
    </ul>

    <h2 class="govuk-heading-l">
        Next steps
    </h2>

    <ul class="govuk-list govuk-list--bullet">

        <li>Take opportunities to visit other settings where maths is a strength.</li>

        <li>Closely observe what children are doing during play and make the links to numbers in context.</li>

        <li>Look at your environment and ask yourself what are the mathematical opportunities.</li>

        <li>Refresh your resources to offer chances for children to explore and experiment with mathematical concepts.</li>
    </ul>


    {{ appPagination ({
        items: [{
            prevHref: '../maths/maths-index',
            prevLabel: 'Maths',
            nextHref: '../maths/patterns-and-connections',
            nextLabel: 'Patterns and connections'
        }]
    }) }}

{% endblock %}
