{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'reasoning' %}
{% set activeSection = 'maths-index' %}

{% set sectionHeading = 'Maths' %}
{% set pageHeading = "Reasoning" %}

{% block pageContent %}

    <span class="govuk-caption-l">
        {{sectionHeading}}
    </span>

    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <h2 class="govuk-heading-m">
        Why reasoning is important
    </h2>

    <p>Children are naturally curious, with a drive to reason and problem solve. Reasoning is at the heart of maths, often helping children explore and push boundaries. Mathematical learning is important, with children learning from each other through play, and becoming aware of different ways of thinking. With a reasoned plan in mind, children are often creative while unintentionally being mathematical.</p>

    <p>Uncover a child’s motivations through observation. To discover what children already know, notice their learning actions, recordings, graphics and mark makings. These are important, so ask about their meanings. Communication and shared understanding join together with problem-solving and solutions, which children will be able to refine, using trial and error as well as critical thinking. </p>

    <p>Planning can be retrospective, as planned ideas sometimes do not motivate children in the same way that giving them freedom does. When planning experiences, pitch mathematical opportunities at the right level for your group. Vary between direct teaching and child-initiated play, where you carefully select and plan resources used but don’t necessarily plan how they’re used.</p>

    <p>Offer mathematical and spatial vocabulary, reflecting back to children what they think is happening. This enhances understanding, giving greater depth to childrens’ mathematical experiences.</p>


    <h2 class="govuk-heading-m">
        What the EYFS framework says
    </h2>

    <p>It is important that the curriculum includes rich opportunities for children to develop their reasoning skills across all mathematical areas including shape, space and measure.</p>

    <h2 class="govuk-heading-m">
        What this means in practice
    </h2>

    <p>Mathematical learning should be linked to teaching theory, and embedded in play.</p>

    <p>Daily routines allow children to meaningfully solve in-context problems. For example, use self-registration, snack time, lunch table preparation, playdough making, or paint mixing as real life experiences that establish reasoning. Expand on these, using them to involve children in mathematical thinking.</p>

    <p>Games can support reasoning development, encouraging collaboration and trial-and-error problem solving. Once children understand game rules, they can create their own games, or make rules within existing play. </p>

    <p>Certain resources allow children to notice similarities and differences, as well as shape, space and measure - which enable them to fit things together, building reasoning. Provide objects like various shaped 2D and 3D wooden blocks, magnets, construction tiles and found materials. Construction activities using these materials allow children to try out ideas, often selecting, manipulating and rotating pieces to achieve a desired effect.</p>

    <p>Pathways, trails and tracks where children can walk, ride wheeled vehicles or operate remote-controlled toys allow children to use spatial reasoning in their wider environment. </p>


    <h2 class="govuk-heading-m">
        Reasoning activities
    </h2>

    <h3 class="govuk-heading-s">
        Making outdoor dens
    </h3>

    <p>You need:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                Large fabric pieces
            </li>
            <li>
                Cardboard/wooden boxes
            </li>
            <li>
                Planks, washing maidens, poles
            </li>
            <li>
                Chairs, tables, benches
            </li>
            <li>
                Paper, pencils
            </li>
            <li>
                White boards, white board pens
            </li>
            <li>
                Large paper sheets for the top of the construction, paper pens
            </li>
            <li>
                Torches
            </li>
            <li>
                Mirrors (for reflection)
            </li>
            <li>
                Books - stories/factual
            </li>
        </ul>

        <p>Instructions:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    Identify a suitable den setup area
                </li>
                <li>
                    Talk to children about how to construct a den, and what they could use
                </li>
                <li>
                    Check resource suitability/safety prior to use
                </li>
                <li>
                    Consider spatial awareness - how many children will fit
                </li>
                <li>
                    Promote conversations, agreeing/disagreeing about what works
                </li>
                <li>
                    Trial and test den stability ongoing
                </li>
                <li>
                    Refer to construction books, and how things stand up
                </li>
            </ul>






            <h3 class="govuk-heading-s">
                Local community walk
            </h3>

            <p>You need:</p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                    <li>
                        A completed risk assessment, for taking children into the local community
                    </li>
                    <li>
                        A clear, agreed walking route
                    </li>
                    <li>
                        Identified places of interest and safe stopping points
                    </li>
                    <li>
                        Allocation of named children to a named adult, so they walk together
                    </li>
                    <li>
                        Cameras, iPads etc for children/staff to access
                    </li>
                </ul>

                <p>Instructions:</p>
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>
                            Walk the route alone first, carrying out a risk assessment
                        </li>
                        <li>
                            Draw, or mark on a map, the planned route
                        </li>
                        <li>
                            Leave a risk assessment copy at your setting, and carry one with you on the walk - with child/adult details
                        </li>
                        <li>
                            Discuss the risk assessment with adults involved, prior to leaving
                        </li>
                        <li>
                            Establish how to walk safely on the route, for example group leaders at the front/back, or dotted along the group
                        </li>
                        <li>
                            Discuss with children what to take on the walk, as well as the planned journey and walk focus. Establish walk rules and expectations
                        </li>
                        <li>
                            Carry a mobile phone
                        </li>
                        <li>
                            If you have a route plan, use it as a discussion point - is your route one way, a circuit? Ask questions, giving route navigation ideas
                        </li>
                        <li>
                            Find out what children already know about their community, drawing their attention to places of interest. Listen carefully to their responses
                        </li>
                        <li>
                            Point out community signs and markers
                        </li>
                        <li>
                            Encourage children to record interesting things using pencils, pads, cameras or iPads.
                        </li>
                        <li>
                            Questioning could differ depending on the group’s make up:
                            age, walk focus, route incidentals, children’s thoughts and ideas
                        </li>
                        <li>
                            At a halfway point (or on return), discuss the walk. Use What? Why? When? Who? How?
                        </li>
                    </ul>




      <h2 class="govuk-heading-m">
      Other activities
      </h2>

      <p>NRICH - early years maths activities - all age 3 to 5</p>

                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>
                            <a rel="external" href="https://nrich.maths.org/14690">Can You Build This?</a> - explore shape characteristics, using everyday and mathematical language to describe them. Talk about positions and solve problems.
                        </li>
                        <li>
                            <a rel="external" href="https://nrich.maths.org/13531">Small World Play</a> - consider the space children allocate to their toys, and how many they can fit.
                        </li>
                        <li>
                            <a rel="external" href="https://nrich.maths.org/13527">Scooters, Bikes and Trikes</a> - when waiting for outdoor toys, consider the route children might take in an outside area - as well as how long they will use each toy.
                        </li>
                        <li>
                            <a rel="external" href="https://nrich.maths.org/8865">Building Towers</a> - explore 3D shapes, selecting the best ones to build a tower.
                        </li>
                    </ul>

                    <p>Teach early years - various <a rel="external" href="https://www.teachearlyyears.com/learning-and-development/view/problem-solving">problem-solving activities</a></p>

      <h2 class="govuk-heading-m">
          What other nurseries and childminders are doing
      </h2>

      {# Inset text component using nunjucks templating #}
      {% set insetTextHtml %}

          <p class="govuk-body">
              In our setting, we closely observe and engage with children - understanding what they do and how to sustain their play. We subtly intervene, supporting their learning and development. We think deeply about our offered resources, making sure they stimulate children’s mathematical enquiry.
          </p>
          <p class="govuk-body">
            Our setting uses workshop areas, where children can freely choose resources that fulfil their plans. Research shows that children do not flit, but often use their time and environment resourcefully - fitting things together to support their learning. We allow our children to explore, experiment with and discover nature, alongside providers and other children.

          </p>
          <p class="govuk-body">
              We consider how helpful block play can be, and monitor how children use blocks to represent their thoughts and understanding. We support them to challenge themselves, encouraging them to build imagined complex constructions.
          </p>
          <p class="govuk-body">
              Tracy Gallagher, Joint Head of Centre, Pen Green
          </p>

      {% endset %}
      {{ govukInsetText({
          html: insetTextHtml
      }) }}


      <h2 class="govuk-heading-m">
          Check your understanding
      </h2>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                A ‘have a go attitude’ can help children explore how things fit together, showing them what spaces are
            </li>
            <li>
                Use correct mathematical vocabulary - describing position, direction, shape, space and measures
            </li>
            <li>
                Improve children’s memory by remembering where things are and how they fit together
            </li>
            <li>
                Help children gain a sense of direction - where to go, and how to get there/back
            </li>
            <li>
                Children will begin to understand how to construct models, gaining perspective
            </li>
        </ul>

        <h2 class="govuk-heading-m">
            Next steps
        </h2>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                  Help children invent, investigate and explore their thinking - this is vital for them to express their thinking, building mathematical reasoning skills
              </li>
              <li>
                  Work on your own confidence and competency - this can support children having greater freedom
              </li>
              <li>
                  Listen to children’s explanations,  so you can understand their thinking and see their mathematical reasoning
              </li>
              <li>
                  Spark maths enthusiasm, by influencing children and parents with positive attitudes
              </li>
              <li>
                  Make maths connections with your children across all curriculum areas
              </li>
          </ul>





    {{ appPagination ({
        items: [{
            prevHref: '../maths/patterns-and-connections',
            prevLabel: 'Patterns and connections',
            nextHref: '../understanding-the-world/understanding-the-world-index',
            nextLabel: 'Understanding the world'
        }]
    }) }}

{% endblock %}
