{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'communicating-through-arts' %}
{% set activeSection = 'expressive-arts-and-design-index' %}

{% set sectionHeading = 'Expressive arts and design' %}
{% set pageHeading = "Communicating through arts" %}

{% block pageContent %}

    <span class="govuk-caption-l">
        {{sectionHeading}}
    </span>

    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <h2 class="govuk-heading-m">
        Why communicating through arts is important
    </h2>

    <p>
      Communication and expression are important because they are the ways children share their responses to what they see, hear and experience. Creative expression supports children’s emotional well-being and reduces anxiety. It is the way children represent themselves, their thoughts and feelings and as they develop their ideas.
    </p>

    <p>
      Self-expression is children’s way of showing what they understand and know, through exploring:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            materials
        </li>
        <li>
            painting
        </li>
        <li>
            sculpting
        </li>
        <li>
            singing
        </li>
        <li>
            dancing
        </li>
        <li>
            role playing
        </li>
    </ul>

    <p>
      Children with English as an additional language may find creative expression becomes their first way of communication within the setting.
    </p>

    <p>
      Older children are able to express themselves in the way they use materials for art and design. When children are confident in the way they can move their whole bodies as well as isolate movements with their arms, hands, legs and feet they can express their feelings through dance.
    </p>

    <p>
      Children are aware of performance from a young age, they understand what it means to have a performer and an audience. Some children have a need to ‘perform’ daily and will locate a performance area for themselves, inside or outdoors.
    </p>

    <p>
      When you respond to children’s self-expression you are able to gain an insight into their thoughts and experiences.It allows you to be responsive by praising, mirroring, repeating and considering. The expression and response may be non-verbal or involve language and sound.
    </p>


    <h2 class="govuk-heading-m">
        Video
    </h2>

    <p>
      In this video, an early years expressive arts and design expert explains what should be covered in the EYFS and why, offering top tips on how to best support children in this area.
    </p>

    <h2 class="govuk-heading-m">
        What the EYFS framework says
    </h2>

    <p>
      The quality and variety of what children see, hear and participate in is crucial for developing their understanding, self-expression, vocabulary and ability to communicate through the arts.
    </p>

    <h2 class="govuk-heading-m">
        What this means in practice
    </h2>

    <p>
      Arts should be introduced as early as possible. For babies, exposure to music, art, movement and dance is a multi-sensory experience. Babies are aware in their first few days of a screen in the room at home, so will be equally aware of colours, lights, reflections, sounds and noise in the setting. It is your role to observe very young children to see how they respond. Tuff trays are a good resource for providing very young children with tactile experiences that they can immerse themselves in.
    </p>

    <p>
      In practice, creative expression takes place when children are given time and space to respond with reassurance and encouragement from adults. Avoid asking direct ‘outcome’ based questions like “what are you making?” “what is it?”  Young minds do not operate creatively in that way, instead you can describe what you see, colours, shapes, movement, materials, sounds, lines or feelings, providing rich language for the child.
    </p>

    <p>
      You can model skills and competencies, such as, cutting with scissors, but this must be carefully balanced with providing freedom to express.
    </p>


    <h2 class="govuk-heading-m">
        Suggested activities
    </h2>

    <h3 class="govuk-heading-s">
        Communication through music
    </h3>

    <p>
      Ask the children to bring in the name of a favourite song that they like to listen to, move or dance to or sing to at home. It could be one for each child if a nursery setting or a whole family set of favourites for a child-minder setting.
    </p>

    <p>
      Make a playlist of the songs and make them accessible in the setting for the children to listen to in a variety of situations (whilst having a snack, whilst playing, when playing outside).
    </p>

    <p>
      Give them time to listen to the songs and respond to them. Notice these responses (verbal, movements, gestures).  Let them have a ‘disco time’ where they have a chance to respond through movement to the music. If there are any action songs or rhymes in the playlist make sure you give the children the opportunity to practice these to the music.  Allow for children to lead others and teach the moves.
    </p>

    <p>
      Make a copy of the playlist to send home to give parents so they too can become familiar with the songs and enjoy listening, moving and talking about them.
    </p>

    <p>
      Pick one song from the list and ask them to switch on their listening ears. Talk about which child loves this song. Share with the children anything you have noticed as to how they have responded to it whilst it has been played. Is there a chorus and a verse in the song? Use musical language to reinforce their findings (loud, fast, changing tempo, quick or slow beat, loud, quiet, getting louder, getting quieter ). Ask the children to think about how they feel when they hear this song. Give time for children to respond. Note their responses.
    </p>

    <p>
      Re-visit again at a later time and listen to the same song. Ask the children to think about ways to move to it. Give them the opportunity to test out their ideas. Keep re-visiting and each time notice their movements. Keep a ‘movement vocabulary’ poster of the moves they make e.g. stamping, turning, twisting, jumping, spinning, crawling. Can the children identify and give names to the moves they make?
    </p>



    <h3 class="govuk-heading-s">
        In the picture
    </h3>

    <p>
      Select a work of art that you know will be of interest to children. You need a good quality reproduction. In making your selection look at the children’s own creations, are there repeated patterns, marks that are replicated in the work of artists; e.g., Jackson Pollack, Mark Rothko, Bridget Riley, David Hockney, Yayoi Kusama, Clementine Hunter, Alma Thomas.
    </p>

    <p>
      Show the children a good quality reproduction of a piece of art. To start with you may say something like, “I found this image of an artist’s print. I thought you might like it because it reminded me of some of your mark-making, painting, printing, collages."
    </p>

    <p>
      Ask the children, “What do you see?” “What does it make you think of?”  “How does it make you feel?”
    </p>




    <h2 class="govuk-heading-m">
        Other activities
    </h2>


    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            Locate local art venues, including outdoor places, such as parks, churchyards and memorials.
        </li>
        <li>
            Look for local spaces where children’s art work and designs can be exhibited.
        </li>
        <li>
            Online <a rel="external" href="http://toytheater.com/category/art/">patterns, doodles and images</a>
        </li>
        <li>
            <a rel="external" href="https://earlyarts.co.uk/resources">Articles and ideas</a> on puppets, circle times, indoor environments, helicopter storytelling, role play etc.
        </li>
    </ul>


    <h2 class="govuk-heading-m">
        What other nurseries and childminders are doing
    </h2>

    {# Inset text component using nunjucks templating #}
    {% set insetTextHtml %}

        <p class="govuk-body">
            "We use paint in lots of different ways; squeezing into a tray and the babies crawl through it.
        </p>
        <p class="govuk-body">
            We regularly go for walks through the cemetery and the children are very familiar with the stone sculptures.
        </p>
        <p class="govuk-body">
            Recently we have hung up a transparent tarpaulin outside and the children have been able to paint it on either side. They love being able to see what their friends are doing. We also use transparent umbrellas. It just gives a different surface and a different perspective.
        </p>
        <p class="govuk-body">
            We like to take one art form and make it bigger.”
        </p>

    {% endset %}
    {{ govukInsetText({
        html: insetTextHtml
    }) }}



    <h2 class="govuk-heading-m">
        Summary
    </h2>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            Expression is the ability to communicate through artistic and creative response.
        </li>
        <li>
            All artistic expression communicates something about children’s ‘self’ to you, their preferences, interests, feelings, own experiences and choices, their ideas, their ‘performance’ and the links they are making to their own knowledge and experiences.
        </li>
        <li>
            Communicating through the arts is an aspect of children’s learning and development to be provided for as soon as possible as all children are able to communicate meaning through their responses to materials and experiences, including those without language, with EAL or SEND.
        </li>
        <li>
            The way in which you respond to and define the expression will impact upon the child’s willingness to continue to develop that expression.
        </li>
        <li>
            The expressive arts support children’s wellbeing and has the potential for very young children to be highly involved for long periods of time.
        </li>
    </ul>


    <h2 class="govuk-heading-m">
        Next steps
    </h2>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
            Audit your provision for the expressive arts and design. Ensure you have a system for providing good quantities of materials.
        </li>
        <li>
            What are the possibilities for children to experience live performances, see art in a gallery? Make a plan for how you are going to provide a range of experiences over time.
        </li>
        <li>
            What talented parents and carers do you have in your setting community? There are many opportunities for intergenerational work, so look for talented grandparents too, as well as amongst extended families.
        </li>
        <li>
            It is important to have some knowledge of artists, musicians and a wide genre of music, as well as having an awareness for design in the indoor and outdoor environment. Invite in local artists, designers, dancers, actors and musicians. The more exposure children have to live performance the more they are able to see themselves as artists, designers, dancers, actors and musicians.
        </li>
    </ul>





    {{ appPagination ({
        items: [{
            prevHref: '../expressive-arts-and-design/exploration-of-materials',
            prevLabel: 'Exploration of materials'




        }]
    }) }}

{% endblock %}
