{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'expressive-arts-and-design-index' %}
{% set activeSection = 'expressive-arts-and-design-index' %}
{% set pageType = 'parent' %}

{% set pageHeading = "Expressive arts and design" %}

{% block pageContent %}

    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <p class="govuk-!-margin-bottom-6">Access resources, activity ideas and advice for teaching expressive arts and design to early years children.</p>

    <h2 class="govuk-heading-m">Early years expressive arts and design resources</h2>

    <ul class="govuk-list govuk-body govuk-!-margin-bottom-6">
        <li>
            <a class="govuk-link" href="../expressive-arts-and-design/imagination-and-creativity">Imagination and creativity</a>
        </li>
        <li>
            <a class="govuk-link" href="../expressive-arts-and-design/exploration-of-materials">Exploration of materials</a>
        </li>
        <li>
            <a class="govuk-link" href="../understanding-the-world/communicating-through-arts">Communicating through arts</a>
        </li>
    </ul>

    <h2 class="govuk-heading-m">What the early years foundation stage (EYFS) framework says about expressive arts and design</h2>

    <p class="govuk-body">
        The development of children’s artistic and cultural awareness supports their imagination and creativity.</p>

          <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
             Read more
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>It is important that children have regular opportunities to engage with the arts, enabling them to explore and play with a wide range of media and materials.</p>
          <p>The quality and variety of what children see, hear and participate in is crucial for developing their understanding, self-expression, vocabulary and ability to communicate through the arts.</p>
          <p>The frequency, repetition and depth of their experiences are fundamental to their progress in interpreting and appreciating what they hear, respond to and observe.</p>
        </div>
      </details>





    {{ appPagination ({
        items: [{
            prevHref: '../understanding-the-world/widening-vocabulary',
            prevLabel: 'Widening vocabulary',
            nextHref: '../expressive-arts-and-design/imagination-and-creativity',
            nextLabel: 'Imagination and creativity'
        }]
    }) }}

{% endblock %}
