//styles for the eyfs card component

$card-border-width: 2px;
$card-border-color: #1d70b8;
$card-border-hover-color: #003078;


.eyfs-card-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: govuk-spacing(2);
  padding: 0;

  @include mq($until: desktop) {
    margin-bottom: govuk-spacing(6);
  }
}

.eyfs-card-group__item {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;

  .eyfs-card--clickable {
    margin-bottom: govuk-spacing(5);
  }

  @include mq($until: desktop) {
    .eyfs-card--clickable {
      margin-bottom: govuk-spacing(3);
    }

    &:last-child .eyfs-card--clickable {
      margin-bottom: 0;
    }
  }

}

.eyfs-card--clickable {
  @include govuk-responsive-margin(5, 'bottom');
  background: govuk-colour("white");
  box-shadow: 0 2px 0 0 $card-border-color;
  position: relative;
  width: 100%;

  &:hover,
  &:active {
    cursor: pointer;
    text-decoration: underline;
  }

  &:hover {
    box-shadow:0 2px 0 0 $card-border-hover-color;
  }

  &:hover a {
    color: $govuk-link-hover-colour;
  }

  a:focus,
  a:hover {
    color: $govuk-text-colour;
    //Turns the text colour to black when on focus
  }

  &:active {
    border-color: $card-border-hover-color;
    border-bottom-width: 0;
    bottom: - $card-border-width;
  }

}

// This method works well for inline svg in the html and aligning with flex
.eyfs-card__content {
  @include govuk-responsive-padding(5);
  display: flex;
  place-content: start space-between;
  align-items: flex-start;
  position: relative;

  &:hover svg {
    color: $govuk-link-hover-colour;
  }

}

.eyfs-card__content a {
  text-decoration: none;
}

.eyfs-card__content > a {
  align-self: center;
}

.eyfs-card__content svg {
  min-width: 14px;
  margin-left: 15px;
  color: $govuk-link-colour;
}