{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'oral-health' %}
{% set activeSection = 'ghtiyp-index' %}

{% set sectionHeading = 'Get help to improve your practice' %}
{% set pageHeading = "Promoting oral health as part of the safeguarding and welfare requirements" %}

{% block pageContent %}

    <span class="govuk-caption-l">
        {{sectionHeading}}
    </span>

    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <p class="govuk-body">The content on this page will cover what the changes are and why they’ve changed, along with the importance of oral health.</p>

    <p class="govuk-body">Many settings are already covering oral health alongside other work to promote health so it may not need to be a significant extra requirement. Different approaches will work best for different settings.</p>

    <p class="govuk-body">This page will also contain links to useful resources in the area of oral health. 
    </p>

    

<!-- 
    {{ appPagination ({
        items: [{
            prevHref: '../maths/maths-index',
            prevLabel: 'Maths',
            nextHref: '../maths/patterns-and-connections',
            nextLabel: 'Patterns and connections'
        }]
    }) }}
 -->
{% endblock %}
