{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Early years education</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">EYFS framework</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
        Help for eaarly years childcare providers
    </h1>

    <p class="govuk-body-l govuk-!-margin-bottom-4">The Early Years Foundation Stage (EYFS) statutory framework has changed and will replace the existing framework from September 2021. Childcare providers can get the facts here about the changes and what they mean in practice. </p>

    <br><br>

    <h2 class="govuk-body govuk-!-font-size-16">
      Contents
    </h2>

    <ul class="govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-7">
      <li>— &nbsp;&nbsp;Why the changes are happening</li>
      <li>— &nbsp;&nbsp;<a href="/timeline-of-changes">Timeline of changes</a></li>
      <li>— &nbsp;&nbsp;<a href="#">something else</a></li>
    </ul>
  </div>

</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="border-top: 1px solid #b1b4b6; padding-top:20px">
          Why the changes are happening
      </h2>
      <p>The changes to the early years foundation stage (EYFS) statutory framework are being made to:  </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>improve outcomes for all children at age 5</li>
        <li>improve outcomes in early language for children from disadvantaged backgrounds</li>
        <li>reduce workload so you can spend more time interacting with the children in your care</li>
      </ul>

      <h2 class="govuk-heading-l">
          Who needs to know about the changes
      </h2>
      <p>The EYFS statutory framework sets the standards to ensure that children aged 0 to 5 learn and develop well and are kept healthy and safe.</p>
      <p>The framework is for all early years childcare providers in all settings, including:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>nurseries</li>
        <li>childminders</li>
        <li>preschools</li>
        <li>school reception classes</li>
      </ul>

      <p>You may have already heard that the framework is changing from September 2021 and be wondering what the changes are and how they affect you.</p>
      <p>What you need to do ahead of the changes will depend on your role and the type of childcare setting you work in. For example, if you work as a childcare practitioner in a nursery, your manager may already be aware of the changes for September 2021.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {# <div class="contact">
      <p><strong>Name of a contact</strong><br>
      Telephone: <br>
      Monday to Friday, 9am to 5:30pm (closed on bank holidays)<br>
      <a href="#">Find out about call charges</a></p>
      </div>
      

      <p>more text</p> #}


      <div>
          <ul class="stepped-pagination__list">
            {# <li class="stepped-pagination__item stepped-pagination__item--previous">
            <a href="#" class="stepped-pagination__link" rel="prev">
                <span class="stepped-pagination__link-title">
                <svg class="stepped-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                Previous
                </span>
                <span class="stepped-pagination__link-label">Overview</span>
            </a>
            </li> #}
            <li class="stepped-pagination__item stepped-pagination__item--next">
            <a href="/timeline-of-changes" class="stepped-pagination__link" rel="next">
                <span class="stepped-pagination__link-title">
                <svg class="stepped-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                Next
                </span>
                <span class="stepped-pagination__link-label">Timeline of changes</span>
            </a>
            </li>
          </ul>
        </div>
      </div>


    <div class="govuk-grid-column-one-third sidebar">
        <h2 class="govuk-heading-s" style="border-top: 2px solid #1d70b8; padding-top:19px">
            Related content
        </h2>
        <ul class="govuk-list">
          <li><a href="#">some page</a></li>
          <li><a href="#">some other page</a></li>
        </ul>
    </div>
</div>


{% endblock %}
