
{% extends "layout.html" %}

{% block pageTitle %}
  Help for early years providers
{% endblock %}

{% block content %}

<div class="eyfs-wrapper">

  <div class="govuk-width-container">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype. Content is likely to change rapidly.
      </span>
      </p>
    </div>

  </div>

<!--   <h2></h2> -->

<main class="govuk-main-wrapper">

  <div class="govuk-width-container">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Help for early years providers prototypes

    </h1>
    <p class="govuk-body-l">
      Prototype versions for Help for early years providers service
    </p>

</div>

<div class="govuk-grid-column-one-half">

    <h2 class="govuk-heading-m">
      Sprint 1
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/main/Round1Version1/">Version 1</a> (tested 27/01/21)</li>
    </ul>


    <h2 class="govuk-heading-m">
      Sprint 2
    </h2>
    
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="main/Round2Version1/">MVP – Version 1</a> (tested 08/02/21)</li>
      <li><a href="main/ContentRound2Version1/">Content – Version 1</a> (tested 10/02/21)</li>
    </ul>

    <h2 class="govuk-heading-m">
      Sprint 3
    </h2>
    <ul class="govuk-list govuk-list--bullet">
<!--       <li><a href="/main/#*/">Link</a> (tested 00/00/00)</li>
 -->    </ul>

        <h2 class="govuk-heading-m">
      Sprint 4
    </h2>
    <ul class="govuk-list govuk-list--bullet">
  <!--     <li><a href="/main/#*/">Link</a> (tested 00/00/00)</li> -->
    </ul>

    </ul>

  </div>








<div class="govuk-grid-column-one-half">

  <h2 class="govuk-heading-m">
    Alpha assessment
  </h2>

  <h3 class="govuk-heading-s">
    Alpha assessment prototype
  </h3>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/main/Alpha_assessment">Version 1</a></li>
  </ul>

   <h2 class="govuk-heading-m">
    CMS Prototype
  </h2>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/main/cms">Version 1</a></li>
  </ul>

<!--   <h2 class="govuk-heading-m">
    Exploration
  </h2>

  <h3 class="govuk-heading-s">
    Title goes here
  </h3>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/main/#*">Link</a></li>
  </ul> -->
</div>




</div>
</div>

</main>
</div>

{% endblock %}
