{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'exploring-language' %}
{% set activeSection = 'communication-and-language-index' %}

{% set sectionHeading = 'Communication and language' %}
{% set pageHeading = "Exploring language" %}

{% block pageContent %}

    <span class="govuk-caption-l">
        {{sectionHeading}}
    </span>

    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <h2 class="govuk-heading-m">
        Why exploring language is important
    </h2>

    <p>Children’s speech develops from babble, to words, to simple sentences through hundreds of hours of interactions. Studies show that once babies begin to understand words their vocabulary increases rapidly:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>by age 1, children recognise about 50 words</li>
      <li>by age 3, children recognise about 1,000 words</li>
      <li>by age 5, children recognise at least 10,000 words</li>

    </ul>

    <p>Having a large vocabulary helps children access more learning. Words allow them to make sense of the world around them. There are lots of benefits from learning more than one language, including sign language.</p>

    <p>Children from more disadvantaged backgrounds are likely to have fewer chances to develop their vocabulary than those from more affluent backgrounds. However, research shows lots that can be done in the early years to avoid inequalities in children’s language development.</p>

    <p>Removing this inequality should be a priority for providers. This 'word gap' is narrowed by providing a language rich environment full of stories, rhymes, songs and play with words that are of interest to children. Children can make good progress with early language development with the right support.</p>

    <p>Children's language skills are connected to their overall development and can predict their educational success. As speaking and listening develops, children build foundations for literacy, for making sense of visual and verbal signs and ultimately for reading and writing.</p>

    <p>Communication and language is one of the EYFS prime areas which means that it's one of the important building blocks for all other areas. If it's not developed early it's very difficult to achieve later.</p>

    <h2 class="govuk-heading-m">
        Video
    </h2>

    <p>In this video, an early years language expert explains what has changed within the early years foundation stage framework on exploring, and why. There are also some tips on getting the most out of a child in this area.</p>

    <div class="eyfs-youtube-video govuk-!-margin-top-6 govuk-!-margin-bottom-2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SYhhCcokBF8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Video transcript
            </span>
        </summary>
        <div class="govuk-details__text">
            Helps explain the video as a text for screenreaders
        </div>
    </details>


    <h2 class="govuk-heading-m">
        What the EYFS framework says
    </h2>

    <p>Through conversation, story-telling and role play, where children share their ideas with support and modelling from their teacher, and sensitive questioning that invites them to elaborate, children become comfortable using a rich range of vocabulary and language structures.</p>

    <h2 class="govuk-heading-m">
        What this means in practice
    </h2>

    <p>Strong language skills develop when children are involved in playful, language rich environments with opportunities to learn new words. Hands-on experiences encourage learning and provide a context for new words to be explored. For example, learning vegetable names becomes easier when children are touching or tasting them. </p>

    <p>Songs and rhymes offer fun ways to explore the sounds and patterns of words. Poems with actions and repeated parts help children listen to the structure of spoken language and explore new words.</p>

    <p>Reading stories aloud and sharing books supports the development of language and understanding new concepts. Encouraging children to notice pictures and understanding words, will strengthen language skills and widen vocabulary.</p>

    <p>Non-fiction and high-quality texts encourage children to make sense of the world around them using language. Encouraging talk when sharing books is an excellent way to support communication and language.</p>

    <p>Pretend play and acting out stories extends language. By offering props and ideas you can deepen the learning. This may include imaginative play with small world resources, open ended materials such as blocks or loose parts. You can encourage language development through creativity and problem solving during activities like: </p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>woodwork</li>
      <li>painting</li>
      <li>exploring</li>
      <li>observing nature</li>
      <li>music</li>
    </ul>

    <p>You can be a skilled communication partner alongside children to support their language journey.</p>

    <h2 class="govuk-heading-m">
        Suggested activities
    </h2>

    <h3 class="govuk-heading-s">
        Dialogic book talk
    </h3>

    <p>Dialogic book talk is a way of encouraging children to make connections when sharing and looking closely at the pages in a book. Sharing a book with children is a fantastic way of exploring language together. Children will often want to talk about things they recognise, have already had experiences with and know about. Allowing time to talk and think about what they notice in words and pictures, will develop confident language skills.</p>


    <h4 class="govuk-heading-s">
        How it works
    </h4>

    <p>Dialogic book talk can work as a small group activity or one to one with an adult. It's a shared activity where adults and children talk about a book together. Open ended questions that encourage children to notice and think whilst reading the book is an effective prompt to support them to talk more about what is being read and what’s in the pictures.</p>

    <h4 class="govuk-heading-s">
        Exploring language through dialogic book talk
    </h4>

    <p>Listen carefully to each child, repeat what they say and expand their response. For example, child: “I can see a sheep”, you: “Yes, I can see a fluffy sheep”. This helps to encourage children's language confidence as well as introducing new vocabulary. Wondering questions can also extend children's thinking and encourage them to use their imagination and make predictions, for example “I wonder what will happen to the farmer in the story?”</p>

    <h3 class="govuk-heading-s">
        Sensitively narrating children’s play
    </h3>

    <p>We know children learn language when it's introduced to them sensitively, for example:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

      <li>at a time that’s relevant to them</li>
      <li>in manageable amounts</li>
      <li>with plenty of time to process</li>

    </ul>

    <p>One way of encouraging children's understanding of verbal language is to offer examples to them as they play. Successfully narrating children's play will be supported through the use of key universal strategies:</p>

    <p><b>Commenting</b> (or describing) what children are doing, as they're doing it. Using simple, repetitive phrases and pausing in between. This is helpful for complex concepts like things you cannot hold, like ‘red', ‘bigger' or ‘tomorrow'. It should never feel like you're bombarding the child with words without meaning.</p>

    <p><b>Expanding</b> on what children say as you reply, adding one or two words. This shows the child you're interested and helps them to start linking words and ideas in play. It can be helpful to remember that, if you ask the child one question and they're unable to reply, you may respond by offering four comments. For example, “what have you got?” then pause. “It's a car”, “It's a red car”, “It's a red, fast car”, “It goes vrroomm!”</p>

    <p><b>Recasting</b> (or modelling) back what the child says, in the right form, but without openly correcting them. For example, in the role play area, if a child said “the baby sleeped in the bed” you might say “oh, shhh, the baby's sleeping in the bed” to support their understanding of the complex relationships between grammar and vocabulary.</p>

    <p><b>Pausing</b> to allow children extra time to respond, before speaking again. This supports language use as children's brains develop. Extra time enables them to receive and understand messages, before formulating and expressing their response.</p>

    <p>It's important for you to be flexible and responsive to different learning situations. This will make sure that thinking is not interrupted and there is a sense of adult/child equality.</p>


    <h2 class="govuk-heading-m">
        Other activities
    </h2>


    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

      <li>This clip shows <a rel="external" href="https://www.sirenfilms.co.uk/library/evan-sings-action-song/">a practitioner tuning in to a young child singing</a> and joining in with the words, following his lead to acknowledge his interests and being a playful communication partner.</li>

      <li>Taking turns is a good way to support <a rel="external" href="https://www.bbc.co.uk/tiny-happy-people/top-tips-2-3/z3vstrd">children's language development</a> and communication skills.</li>


    </ul>

    <h2 class="govuk-heading-m">
        What other nurseries and childminders are doing
    </h2>


    <h3 class="govuk-heading-s">
        Supporting children with English as an additional language
    </h3>

    <div class="govuk-inset-text">

      <p>”Central to our practice is establishing a shared context to start the conversational journey. Planning learning experiences through the ‘lens of accessibility' with lots of ways for EAL children to attend, participate and communicate without needing words. Visual signs, simple language and familiar routines all help. Children develop the motivation of being valued members of the group and can share their knowledge and interests with us, even if we do not share their language.”</p>

      <p>”Familiar objects to model telling a story create a point of shared understanding and new vocabulary can be introduced. Natural, playful repetition found in all good story telling supports learners to thrive”.</p>

      <p>St Pauls Nursery School and Children’s Centre</p>

    </div>


    <h2 class="govuk-heading-m">
        Summary
    </h2>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

      <li>Language development in the first years of life is critical to later educational success.</li>

      <li>Communication and language is a prime area in the EYFS and is time sensitive, which means that it is difficult to obtain later on.</li>

      <li>Language development is best supported in a playful language environment full of stories, songs, rhymes, signs, talk and imaginative play.</li>

      <li>Early years practitioners are important in narrowing the word gap and supporting all children to make good progress.</li>

      <li>Adults can be skilled communication partners alongside children to support their language journey.</li>

    </ul>

    <h2 class="govuk-heading-m">
        Next steps
    </h2>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

      <li>Consider how a team understanding of the stages of typical communication and language development could further improve our practice.</li>

      <li>Review how the environment, physical and emotional, meets all children’s communication needs, including non-verbal learners.</li>

      <li>Strengthen partnerships with parents and carers, and professionals to support children’s speech, language and communication.</li>

    </ul>




    {{ appPagination ({
        items: [{
            prevHref: '../communication-and-language/interactions',
            prevLabel: 'Interactions',
            nextHref: '../communication-and-language/listening-and-understanding',
            nextLabel: 'Listening and understanding'
        }]
    }) }}

{% endblock %}
