
{% extends "layout.html" %}

{% block pageTitle %}
Help for early years providers
{% endblock %}

{% block content %}

<div class="eyfs-wrapper">


  <main class="govuk-main-wrapper">

    <div class="govuk-width-container">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">Assets</h1>

          <p class="govuk-body">
            Add a new image or copy link link to add to your page below.
          </p>

<div class="govuk-button-group">
  <button style="margin-right: 20px" class="govuk-button" data-module="govuk-button">
    Add new image
  </button>



          <table class="govuk-table">
<!--             <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-3">Communication and language</caption>
 -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> Image </th>
                <th class="govuk-table__header" scope="col"> Name </th>
                <th class="govuk-table__header" scope="col"> Alt text </th>
                  <th class="govuk-table__header" scope="col">  </th>
                <th class="govuk-table__header" scope="col">  </th>
                <th class="govuk-table__header" scope="col">  </th>

              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                 
            <img style="width: 100px" src="https://i.ibb.co/nfB1hFc/counting-plates-960x640.jpg" alt="Plates on a table in a nursery ready to start a counting exercise">
    
                </td>
                <td class="govuk-table__cell">
                  Nursery learning game

                </td>

                <td class="govuk-table__cell">
                  A game to help children learn

                </td>

                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Delete</a></p>
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Copy link</a></p>



                </td>
              </tr>


           <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                 
            <img style="width: 100px" src="https://i.ibb.co/nfB1hFc/counting-plates-960x640.jpg" alt="Plates on a table in a nursery ready to start a counting exercise">
    
                </td>
                <td class="govuk-table__cell">
                  Nursery learning game

                </td>

                <td class="govuk-table__cell">
                  A game to help children learn

                </td>

                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>
                </td>
                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Delete</a></p>
                 </td>
                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Copy link</a></p>
                   </td>



              </tr>
  


          </tbody>
        </table>


















</div>



    </div>
  </div>

</main>
</div>

{% endblock %}
