
{% extends "layout.html" %}

{% block pageTitle %}
Help for early years providers
{% endblock %}

{% block content %}

<div class="eyfs-wrapper">


  <main class="govuk-main-wrapper">

    <div class="govuk-width-container">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">Assets</h1>

          <p class="govuk-body">
            Add a new image or copy link link to add to your page below.
          </p>



<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Communication and language
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
     


  <button style="float: right;" class="govuk-button" data-module="govuk-button">
  Add new assett
  </button>

<table class="govuk-table">

<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col"> Image </th>
    <th class="govuk-table__header" scope="col"> Name </th>
    <th class="govuk-table__header" scope="col"> Action </th>


  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td style="width: 21%" class="govuk-table__cell">
      <img style="width: 100px" src="https://i.ibb.co/nfB1hFc/counting-plates-960x640.jpg" alt="Plates on a table in a nursery ready to start a counting exercise">
    </td>

    <td style="width: 63%" class="govuk-table__cell">
      Nursery learning game
    </td>

    <td style="width: 16%" class="govuk-table__cell">
<button style="width: 100%" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Copy link
</button>

    </td>
  </tr>

  <tr class="govuk-table__row">
    <td class="govuk-table__cell">

      <img style="width: 100px" src="https://i.ibb.co/nfB1hFc/counting-plates-960x640.jpg" alt="Plates on a table in a nursery ready to start a counting exercise">

    </td>
    <td class="govuk-table__cell">
      Nursery learning game
    </td>

    <td class="govuk-table__cell">

<button style="width: 100%" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Copy link
</button>

    </td>
  </tr>

</tbody>
</table>


    </div>
  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Physical development
        </span>
      </h2>
    </div>
  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
<div style="width: 100%; height: 50px">
   <button style="float: right;" class="govuk-button" data-module="govuk-button">
  Add new assett
  </button>
</div>


    </div>
  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Personal, social and emotional development
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
<div style="width: 100%; height: 50px">
   <button style="float: right;" class="govuk-button" data-module="govuk-button">
  Add new assett
  </button>
</div>
    </div>
  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Literacy
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
<div style="width: 100%; height: 50px">
   <button style="float: right;" class="govuk-button" data-module="govuk-button">
  Add new assett
  </button>
</div>
    </div>
  </div>

    <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Maths
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
 <div style="width: 100%; height: 50px">
   <button style="float: right;" class="govuk-button" data-module="govuk-button">
  Add new assett
  </button>
</div>
    </div>
  </div>

    <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Understanding the world
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
 <div style="width: 100%; height: 50px">
   <button style="float: right;" class="govuk-button" data-module="govuk-button">
  Add new assett
  </button>
</div>
    </div>
  </div>

    <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Expressive arts and design
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
  <div style="width: 100%; height: 50px">
   <button style="float: right;" class="govuk-button" data-module="govuk-button">
  Add new assett
  </button>
</div>
    </div>
  </div>  

    <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Get help to improve your practice
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
  <div style="width: 100%; height: 50px">
   <button style="float: right;" class="govuk-button" data-module="govuk-button">
  Add new assett
  </button>
</div>
    </div>
  </div>  





</div>





















</div>



    </div>
  </div>

</main>
</div>

{% endblock %}
