
{% extends "layout.html" %}

{% block pageTitle %}
  Help for early years providers
{% endblock %}

{% block content %}

<div class="eyfs-wrapper">


<main class="govuk-main-wrapper">

  <div class="govuk-width-container">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Help for early years providers content managment system

    </h1>
    <p class="govuk-body-l">
      Choose a page below that you want to edit
    </p>



      <h2 class="govuk-heading-l">
      Areas of learning</h2>


          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Communication and language</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> Name of page </th>
                <th class="govuk-table__header" scope="col"> Status </th>
                <th class="govuk-table__header" scope="col"> Action </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Overview
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag">
                    Published
                  </strong>

                </td>

                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Exploring language

                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                    Unpublished
                  </strong>
                </td>
                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="counting_edit">Edit</a></p>

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                 Interactions
               </td>
               <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Published
                </strong>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

              </td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Listening and understanding
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Published
                </strong>
              </td>

              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

              </td>
            </tr>


          </tbody>
        </table>


               <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Personal, social and emotional development</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> Name of page </th>
                <th class="govuk-table__header" scope="col"> Status </th>
                <th class="govuk-table__header" scope="col"> Action </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Overview
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag">
                    Published
                  </strong>

                </td>

                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Exploring language
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                    Unpublished
                  </strong>
                </td>
                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="counting_edit">Edit</a></p>

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                Interactions</td>
               <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Published
                </strong>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

              </td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Listening and understanding
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Published
                </strong>
              </td>

              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

              </td>
            </tr>


          </tbody>
        </table>

<table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Maths</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> Name of page </th>
                <th class="govuk-table__header" scope="col"> Status </th>
                <th class="govuk-table__header" scope="col"> Action </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Overview
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag">
                    Published
                  </strong>

                </td>

                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Counting
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                    Unpublished
                  </strong>
                </td>
                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="counting_edit">Edit</a></p>

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                 Number patterns
               </td>
               <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Published
                </strong>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

              </td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Spatial reasoning
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Published
                </strong>
              </td>

              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

              </td>
            </tr>


          </tbody>
        </table>


 <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Expressive arts and design</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> Name of page </th>
                <th class="govuk-table__header" scope="col"> Status </th>
                <th class="govuk-table__header" scope="col"> Action </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Overview
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag">
                    Published
                  </strong>

                </td>

                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Personal experiences
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                    Unpublished
                  </strong>
                </td>
                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="counting_edit">Edit</a></p>

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                 Diverse world
               </td>
               <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Published
                </strong>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

              </td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Widening vocabulary
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Published
                </strong>
              </td>

              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

              </td>
            </tr>


          </tbody>
        </table>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Physical development</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> Name of page </th>
                <th class="govuk-table__header" scope="col"> Status </th>
                <th class="govuk-table__header" scope="col"> Action </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Overview
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag">
                    Published
                  </strong>

                </td>

                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Exploring language

                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                    Unpublished
                  </strong>
                </td>
                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="counting_edit">Edit</a></p>

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                 Interactions
               </td>
               <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Published
                </strong>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

              </td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Listening and understanding
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Published
                </strong>
              </td>

              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

              </td>
            </tr>


          </tbody>
        </table>


  <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Literacy</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> Name of page </th>
                <th class="govuk-table__header" scope="col"> Status </th>
                <th class="govuk-table__header" scope="col"> Action </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Overview
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag">
                    Published
                  </strong>

                </td>

                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Exploring language
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                    Unpublished
                  </strong>
                </td>
                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="counting_edit">Edit</a></p>

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                 Interactions
               </td>
               <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Published
                </strong>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

              </td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Listening and understanding
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Published
                </strong>
              </td>

              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

              </td>
            </tr>


          </tbody>
        </table>


  <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Understanding the world</caption>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> Name of page </th>
                <th class="govuk-table__header" scope="col"> Status </th>
                <th class="govuk-table__header" scope="col"> Action </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Overview
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag">
                    Published
                  </strong>

                </td>

                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Personal experiences

                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                    Unpublished
                  </strong>
                </td>
                <td class="govuk-table__cell">
                  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="counting_edit">Edit</a></p>

                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                 Diverse world
               </td>
               <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Published
                </strong>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

              </td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Widening vocabulary
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Published
                </strong>
              </td>

              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">Edit</a></p>

              </td>
            </tr>


          </tbody>
        </table>
       







</div>















</div>
</div>

</main>
</div>

{% endblock %}
