{% extends "main/Round2Version1/version_templates/two-column-with-subnav.html" %}

{% set activePage = 'communication-and-language-index' %}
{% set activeSection = 'communication-and-language-index' %}
{% set pageType = 'parent' %}

{% set pageHeading = "Communication and language" %}

{% block pageContent %}

    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>


        <p class="govuk-!-margin-bottom-6">Access resources, activity ideas and advice for teaching communication and language to early years children.</p>

        <h2 class="govuk-heading-m">Communication and language resources</h2>

        <ul class="govuk-list govuk-body govuk-!-margin-bottom-6">
            <li>
                <a class="govuk-link" href="/main/Round1Version1/maths/counting">Exploring language</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Interactions</a>
            </li>
            <li>
                <a class="govuk-link" href="/main/Round1Version1/understanding-the-world/widening-vocabulary">Listening and understanding</a>
            </li>
        </ul>

        <h2 class="govuk-heading-m">What the early years foundation stage (EYFS) framework says about communication and language</h2>

          <p>The development of children’s spoken language underpins all seven areas of learning and development.</p>
          <p>Children’s back-and-forth interactions from an early age form the foundations for language and cognitive development.</p>
          <p>The number and quality of the conversations they have with adults and peers throughout the day in a language-rich environment is crucial.</p>
          <p>By commenting on what children are interested in or doing, and echoing back what they say with new vocabulary added, practitioners will build children's language effectively.</p>
          <p>Reading frequently to children, and engaging them actively in stories, non-fiction, rhymes and poems, and then providing them with extensive opportunities to use and embed new words in a range of contexts, will give children the opportunity to thrive.</p>
          <p>Through conversation, story-telling and role play, where children share their ideas with support and modelling from their teacher, and sensitive questioning that invites them to elaborate, children become comfortable using a rich range of vocabulary and language structures</p>




        {{ appPagination ({
            items: [{
                nextHref: '/main/Round2Version1/communication-and-language/conversations',
                nextLabel: 'Conversations'
            }]
        }) }}

    {% endblock %}
