{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'word-reading' %}
{% set activeSection = 'literacy-index' %}

{% set sectionHeading = 'Literacy' %}
{% set pageHeading = "Word reading" %}

{% block pageContent %}

    <span class="govuk-caption-l">
        {{sectionHeading}}
    </span>

    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <h2 class="govuk-heading-m">
      Why word reading is important
    </h2>

    <p>Word reading means translating written words into spoken word sounds. By practicing with and being exposed to these words and sounds, children gain an understanding of letter-sound relationships. This supports further language development, in both reading and spelling.</p>

    <p>The most important element for early years children is phonological awareness, or phonics. This is where children recognise that some words:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                start with the same sound - for example cot, cap
            </li>
            <li>
                end with the same sound - for example top, tap
            </li>

    </ul>

    <p>Children should also be able to identify the first sound in a word, supported with tasks like “sort all the toys that start with ‘b’”.</p>

    <p>Word reading and reading comprehension are essential learning building blocks, and with practice can mean children become life-long readers. Early years children need continuous support with these essentials from an early age, so they can hear, say and recognise words or part of words.</p>

    <p>Help children to notice signs, symbols, notices, numbers, rhymes, books, pictures, songs, and poetry, considering their different interests, understanding levels, home backgrounds and cultures.</p>

    <p>Fiction and non-fiction both transport children into other worlds, safely broadening their emotions while helping them deeply experience life. Help them engage with word reading in various places, inside and outside. Sing rhymes, share books and act out stories with them. When reading to children, allow them to emphasise words with expression - allowing them to react to what you say. For example, ‘I’ll h-u-ff and I’ll p-u-ff and I’ll blow your house down! Ph-ee-ww (stretched silent whistle)’. </p>


    <h2 class="govuk-heading-m">
      What the EYFS framework says
    </h2>

    <p>Skilled word reading, taught later, involves both the speedy working out of the pronunciation of unfamiliar printed words (decoding) and the speedy recognition of familiar printed words.</p>

    <h2 class="govuk-heading-m">
      What this means in practice
    </h2>

    <p>From a very young age, children should hear a wide range of songs, poems and stories. These should cover sounds they need to isolate, later becoming the phonological code.</p>

    <p>Children need: </p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                rhyme
            </li>
            <li>
                rhythm
            </li>
            <li>
                alliteration, words that repeat the same sound in a sentence, for example at snack or lunchtime you could say ‘Aman, would you like an awesome apple?’ ‘Tam, have you brought a tasty tomato?’ ‘Look! Saskia has some squishy strawberries!’
            </li>

      </ul>

      <p>Provide opportunities to ‘hear’ sounds. For example on walks, point out lorries as they rattle past, or quiet forest sounds and louder street sounds. Talk about these sounds that children could either hear or make themselves.</p>

      <p>When it rains, grab some welly boots, coats and umbrellas. Can they hear the ‘pitter patter’ of the rain drops? Take a bubble machine outside with you, where the children can enjoy dancing and singing about under the bubbles. What sound do they make when they pop?</p>

      <p>Be aware of songs and rhymes you naturally choose. Check that these, being provided over time, cover all sounds equally. Monitor which letters or sounds are covered less often, and fill these gaps with songs and made up words you use during play.</p>

      <p>Consider asking parents or grandparents to share songs, rhymes and stories from their cultures and childhoods, helping children identify new sounds and widen their vocabulary.</p>


      <h2 class="govuk-heading-m">
          Word reading activities
      </h2>

      <h3 class="govuk-heading-s">
          Hide and seek sounds
      </h3>

      <p>You need: </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                  a bowl or container
              </li>
              <li>
                  water and water beads (soaked overnight), or other materials
              </li>
              <li>
                  a wide selection of objects covering various phonetic sounds and letter names. For example toy animals, insects, vehicles, space characters, dinosaurs as well as magical creatures like fairies, unicorns
              </li>
              <li>
                  pencils and crayons
              </li>
              <li>
                  letter shapes and numbers
              </li>

        </ul>

        <p>Keep everything in a small bag or box, to build up over time. Some items should be moveable, allowing actions to also cover certain sounds/letters.</p>

        <p>You can use the activity many times and in different ways, hiding the toys in sand, flour, snow (real or artificial), ice or just around your setting. You could use it over a number of days in line with wider themes - for example, the seasons. “Where are the toys hiding during summer, or winter? Are they cold or warm?”</p>

        <p>Prepare the water beads overnight. Start this with the children to spark their curiosity - ‘I wonder what will happen?’. Hide objects in the beads, or whatever material you are using. Prepare a number of songs and rhymes, to sing as the children “go fishing”.</p>

        <p>Initially, children play with the beads. Talk about colour and texture as they put their hands in the squelchy, squishy, colourful beads. Watch as the beads flip, slide and pop about - “Do they feel cold or warm?”. If you do the activity in the morning inside, in the afternoon outside does the activity feel different? Why?</p>

        <p>Go fishing for surprises. For example:</p>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    Find a duck, sing ‘five little ducks’ - emphasise duck and quack
                </li>
                <li>
                    Find a rabbit, sing ‘sleeping bunnies’ - emphasise rabbit and hop
                </li>
                <li>
                    Find a lion, sing ‘sleeping lions’ - emphasise roar
                </li>
                <li>
                    Find a unicorn, make up a silly sentence about unicorns ‘eating a bun in the sun’ - or similar
                </li>
                <li>
                    Find a motorbike, make a loud revving engine sound
                </li>
                <li>
                    Find a bus, sing ‘wheels on the bus’
                </li>

          </ul>


        <p>You can change song parts to include children’s names and actions such as jumping, pointing to a facial feature, or a particular letter’s sound. The activity is very flexible, and can last for quite a few days.</p>

        <p>Simplify</p>

        <p>Younger children may enjoy simply playing with water beads, with you starting the object finding activity at a later date. Even if they do only play, this is valuable - chat with the children, singing rhymes about colours, rainbows, textures.</p>

        <p>Challenge</p>

        <p>Challenge older children to say a word with the same last sound to the object found, for example when finding a frog, they could say fig, pig, wig, big. Refer to a book about a frog while doing this. You could also include items with letters from the childrens’ names.</p>

        <p>Children can sing real or made-up nursery rhymes for each found object - ‘Incy, wincy ‘Hippo’, climbed up the spout….oh dear! how will he get out?’</p>


        <h3 class="govuk-heading-s">
            Volcano
        </h3>

        <p>Reading allows children to talk, observe and enjoy - and is a huge part of early years practice. There are many brilliant books we all know, love and use regularly - 17,000 new titles are published each month! As practitioners, our ‘go to’ books often have common features. For example:</p>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    we enjoy them, so our enthusiasm is infectious as we read
                </li>
                <li>
                    the story or information generally interests children
                </li>
                <li>
                    the plot or facts provide talking points, so children can bring their own experiences to characters or events
                </li>
                <li>
                    the language lets practitioners integrate our learning objectives with reading the book
                </li>
                <li>
                    the pictures provide depth and information
                </li>
                <li>
                    word reading the text allows children to hear particular words and sounds, suggesting language play opportunities alongside hearing and talking practice.
                </li>

          </ul>

        <p>‘Going to the Volcano’ by Andy Stanton and illustrated by Miguel Ordonez, is one such book - but there are many others you could choose. This book has been chosen because it supports harder-to-find letter sounds such as ‘v’ and ‘z’.</p>

        <p>In the story, two children visit a volcano. The book repeats sentences on each page, with a strong rhythm and beat. It also plays with ‘o’ at the end of words, for example ‘volcano, jane-o, lane-o, dane-o, train-o, plane-o’. </p>

        <p>The illustrations are clear and simple, with many hidden clues. For example:</p>


        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    the lava bears have letters on their chests spelling out ‘volcano’
                </li>
                <li>
                    there is a colour-changing cat to find on each page
                </li>
                <li>
                    the space characters are called Zib, Zob, Zub, Zab and Zoob.
                </li>
          </ul>

        <p>There are various story parts that suggest play activities. These include dinosaurs, a crane, a train, a plane, the weather and various nurses and doctors named after the volcano.</p>

        <p>Instructions</p>

        <p>Read the book, looking closely at pictures while playing with words that repeat the sound. Consider extending the story into roleplay. For example:</p>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    pack a rucksack for the journey - what would you need? Do you need a list? Talk about letters and sounds line up soft toys and characters to go adventuring with the children. Roleplay the train journey, the plane journey and the crane. For older children, notice sounds and different ways of spelling the words

                </li>
                <li>
                    look at the book’s animals: dog, cat, panda, rabbit, bird. What words rhyme with them? Make up your own
                </li>
                <li>
                    there is a band in the book - what songs do the characters sing? What songs do you know? Make up your own, use instruments to be the band. Or, be an instrument - ‘toot toot’ the trumpet, play a pretend trombone, bang on a drum saucepan.
                </li>
                <li>
                    build a volcano! What words capture the sounds when it explodes? Boom, bang, whizz! What about smells? Volcano models can be as big or small as you like - it’s up to you and your space.
                </li>
          </ul>

          <p>Most importantly - have fun!</p>

          <p>For a volcano model, you need:</p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                  <li>a small bowl</li>
                  <li>a cup</li>
                  <li>1 tbsp bicarbonate of soda (baking soda)</li>
                  <li>1 tbsp washing up liquid</li>
                  <li>2 tbsp water</li>
                  <li>½ cup vinegar</li>
                  <li>1 tbsp red food colouring</li>

          </ul>

          <p>Help your volcano erupt!</p>

          <p>In a bowl, combine bicarbonate of soda and washing up liquid. Add water and mix thoroughly, then pour the mixture into your volcano.</p>

          <p>In a cup, mix together vinegar and food colouring.</p>

          <p>When ready, pour the vinegar into the bicarbonate bottle. Wait for it to erupt, watching how the lava flows. Stand back!</p>


          <p>Simplify</p>

          <p>Birth to three-year-olds will enjoy the story, joining in with songs while looking closely at pictures. “Can you find the colour-changing cat?”. They may play with words ending in “o”, or make up more. They will love roleplaying the train driver, pilot,  or doctors and nurses using these new words and sounds.</p>

          <p>Challenge</p>

          <p>3-4 year olds will love talking about the adventure, choosing a character from the book to act out their own. They will use the story’s words and sounds, enjoying the rhythm. They will put their own names into the story, broadening their vocabulary while making word lists.</p>

          <p>All age ranges will love the volcano activity, especially the ‘volcano’ eruptions. They will likely want to repeat it again and again! </p>

          <p>This <a rel="external" href="https://www.nhm.ac.uk/discover/how-to-make-a-volcano.htm">short video by the Natural History Museum</a> shows how to erupt your volcano.</p>


          <h2 class="govuk-heading-m">
          Other activities
          </h2>

          <p>Free word reading activities for early years children</p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                  <li><a rel="external" href="https://www.youtube.com/watch?v=dyJXuIJ-x9A">Let's get moving with action words</a></li>

          </ul>

          <h2 class="govuk-heading-m">
              What other nurseries and childminders are doing
          </h2>

          {# Inset text component using nunjucks templating #}
          {% set insetTextHtml %}

              <p class="govuk-body">
                  On our walks, we use stories and rhymes to engage children. Recently we walked through the woods, coming to a hill. The three year old children climbed it first, followed by the 20 month old who needed some help. We sang “The Grand Old Duke of York” as we climbed, and the younger child joined in saying “up, up.” The big ones ran down saying “down again”. We stopped halfway, finishing the song - “neither up nor down”!
              </p>
              <p class="govuk-body">
                Another time we used Jack and Jill. I changed the song names to children’s names, making it personal to them. I got muddled because the song didn’t rhyme, but the children found it funny!

              </p>
              <p class="govuk-body">
                  Caroline, childminder, Rotherwick, Hampshire
              </p>


          {% endset %}
          {{ govukInsetText({
              html: insetTextHtml
          }) }}


          <h2 class="govuk-heading-m">
              Check your understanding
          </h2>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
                    Letter sound knowledge starts at birth. Start simply, gradually building to more complex sounds
                </li>
                <li>
                    Provide children opportunities to develop links between squiggles on a page, and the sounds they hear
                </li>
                <li>
                    Provide children opportunities to understand that one letter/group of letters makes many sounds
                </li>
                <li>
                    Support early years children by playing with words with them, enjoying their feel and sound. Making up your own words is another way to explore these sounds.
                </li>
            </ul>

            <h2 class="govuk-heading-m">
                Next steps
            </h2>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                  <li>
                      Consider the talking opportunities you have with your children. Are you playing with words and making up your own? Are you extending their sound knowledge?
                  </li>
                  <li>
                      Check for sounds being left behind. Some sounds and letters are more difficult to use - once you have identified these, give them attention. Look for opportunities to play with them more often.
                  </li>
                  <li>
                      Look at your existing texts and books, especially those you love. Are you making them work hard enough for you, or could you use them better to support children’s word reading?
                  </li>
              </ul>









    {{ appPagination ({
        items: [{
            prevHref: '../literacy/comprehension',
            prevLabel: 'Comprehension',
            nextHref: '../literacy/writing',
            nextLabel: 'Writing'
        }]
    }) }}

{% endblock %}
