{% extends "../version_templates/two-column-with-subnav.html" %}

{% set activePage = 'writing' %}
{% set activeSection = 'literacy-index' %}

{% set sectionHeading = 'Literacy' %}
{% set pageHeading = "Writing" %}

{% block pageContent %}

    <span class="govuk-caption-l">
        {{sectionHeading}}
    </span>

    <h1 class="govuk-heading-l">

        {{pageHeading}}

    </h1>

    <h2 class="govuk-heading-m">
    Why writing is important
    </h2>

    <p>Writing is an important skill for life. Children need to learn to write so they can communicate and express themselves. It is needed in all the areas of learning.</p>

    <p>Writing is different from speaking because it shows that verbal communication can be captured on a piece of paper , and it is permanent, you can come back to it. Children find this process exciting.</p>

    <p>Children learn over time that the different letters of the alphabet have several different sounds associated with them, this is the idea of ‘phonics’. Children in reception will be learning to spell words by identifying the sounds and then writing the sounds with letters. </p>

    <p>Spelling begins as children learnt to relate sounds to letter shapes. Children learn that symbols carry meaning. Children need to hear, then they need to repeat the word, then they read it, then they can make attempts to write it themselves. </p>

    <p>You should listen to children talking and then help them write down the words they are saying. Slowly stretch this activity out so the children can follow your thinking process and see how these sounds become words on paper. </p>

    <p>Spelling begins as children learnt to relate sounds to letter shapes. Children learn that symbols carry meaning. Children need to hear, then they need to repeat the word, then they read it, then they can make attempts to write it themselves. </p>

    <p>Research shows that to write children need hand and finger strength to hold a crayon or a pencil. They also need eye and hand coordination: this is for ‘transcription’ which means putting marks on paper to form letters or words. </p>

    <p>Sharing a child’s early mark-making examples with parents/carers builds a child’s self esteem.</p>



    <h2 class="govuk-heading-m">
    What the EYFS framework says
    </h2>

    <p>Writing involves transcription (spelling and handwriting) and composition (articulating ideas and structuring them in speech, before writing).</p>

    <p><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/896810/EYFS_Early_Adopter_Framework.pdf">The EYFS framework, page 9</a></p>


    <h2 class="govuk-heading-m">
    What this means in practice
    </h2>

    <p>Children should have plenty of opportunities to work at a big scale before using crayons or pencils. For example: show them how to manipulate objects like dough, puzzles or threading. </p>

    <p>Children learn how language is used through watching you write. You could use words in your setting to label everyday objects like windows, door or chairs. </p>

    <p>Help children develop fine motor skills to grasp, hold, and strengthen fingers and thumb by scrunching paper and using tools for picking things up. For example they could use big tweezers to pick up plastic shapes. </p>

    <p>Provide opportunity to develop core strength and ‘muscle isolation’, an example would be being able to reach across your body to put on socks and shoes. Encourage activities such as climbing, throwing and catching.  </p>

    <p>Include a wide range of sensory play activities to establish fun and fascination with shapes, marks, letters and numbers. For example, hide letters and shapes in foamy water. Share books, repeat words and phrases. Play finger games like ‘Incy Wincy Spider’.</p>

    <p>24 to 36 months old: help children to retell favourite stories, events and capture them through drawing, lines, dots and circles. Continue to promote good physical development, communication and understanding. Children may be encouraged to use a particular dominant hand.</p>

    <p>36 to 48 months: Children begin to behave like writers making wavy lines, distinct marks that are separated from each other. They may be able to write some letters from their name, or even their name. They may start to try different types of writing such as a list or labelling pictures. They make reasonable attempts to capture the sounds they hear in words for example for the word ‘bike’ they may write ‘bk’.</p>

    <p>Children should be provided with exciting activities to spark their curiosity to develop communication, language and physical skills all at the same time. </p>

    <p>They need suitable opportunities to order their thinking, realising that ‘scribbles’ have meaning.</p>


    <h2 class="govuk-heading-m">
        Writing activities
    </h2>

    <h3 class="govuk-heading-s">
        Activity 1:  Recipes for dragon soup
    </h3>

    <p>You will need:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
                a ‘mud kitchen’, or an area outside, with all the pots and pans, old kitchen utensils, stirring sticks you have. if you do not have a mud kitchen or outside you could do this on a carpet inside
            </li>
            <li>
                for sensory writing opportunities provide a baking tray with a thin layer of sand, salt, glitter, sieved flour and the back of a fork, spoon, paintbrush finger or stick to make marks with
            </li>
            <li>
                chefs outfits, hat, apron or anything else the children might enjoy dressing up in
            </li>
            <li>
                potion bottles, pestle and mortar, clip boards, marker pens
            </li>
            <li>
                vegetables: these can be wooden, plastic, play dough or real
            </li>
            <li>
                herbs, to smell and talk about
            </li>
            <li>
                petals from flowers if available
            </li>
            <li>
                containers, dishes, bowls
            </li>

        </ul>

      <p>How to carry out the activity:</p>

      <p>Ask children to help or to be ‘chef’ and make a new recipe for dragon soup.</p>

      <p>Talk about ingredients, how to prepare them, sort them. Do we cut them? How many do we need? Practice writing a list using letters, words or shapes.</p>

      <p>Children stir, pick up different sized ingredients using utensils, scoops, pour from one pan to another. Use colanders to poke the mixture through the holes building finger strength.</p>

      <p>Children record / write the ingredients they have used using the clipboard, paper and tools. Young children may talk about what they are doing as a running commentary, this may be photographed and you can complete the writing. It can be shared with parents. </p>

      <p>Older children will attempt to write words or letters to show the ingredients they have used. For example: ‘crot’ for carrot , ‘onin’ for onion. The record of the activity could be used later to make a book.</p>

  <h3 class="govuk-heading-s">
    How this activity links to other areas of the curriculum
  </h3>

      <p>Children will have real life experience of choosing ingredients, they may have taken a shopping list to the shops. (<a rel="external" href="../understanding-the-world/understanding-the-world-index">Knowledge and understanding of the world</a>). Children use their gross and fine motor skills to stir, poke and write (<a rel="external" href="../physical-development/physical-development-index">Physical development</a>). They can talk about their recipe, noticing smells and actions they are taking (<a rel="external" href="../communication-and-language/communication-and-language-index">Communication and understanding</a>) Reading other recipes and Dragon stories (<a rel="external" href="../literacy/comprehension">Comprehension</a> and <a rel="external" href="../literacy/word-reading">word reading</a>).</p>




      <h3 class="govuk-heading-s">
          Activity 2: Little red riding hood
      </h3>

      <p>You will need:</p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                  a version of the red riding hood story for children. There are plenty of versions of the story where red riding hood is a boy, it doesn’t have to be a girl
              </li>
              <li>
                  dressing up clothes,  for example a piece of red cloth or a head band of ears and a tail, a basket with things in
              </li>
              <li>
                  a large piece of paper taped under the table,  a selection of small paper, envelopes, postcards and a selection of crayons, paints, pencils
              </li>
              <li>
                  perhaps some miniature characters, trees and animals
              </li>
              <li>
                  sensory materials such as dough
              </li>


          </ul>

        <p>How to carry out the activity:</p>

        <p>Tell or read the story of Little red riding hood.</p>

        <p>Talk about the characters, explore and share thoughts, ideas and feelings using clues in the story.</p>

        <p>Help children to write an invitation to Little red riding hood to visit Granma’s house, address an envelope.</p>

        <p>Make a list of what Little red riding hood needs to take to Granma’s house, for example, a map, food, basket and water. </p>

        <p>Draw a map on the paper under the table. Draw pictures on the map and label the drawing</p>

        <p>Help the children write instructions so Little red riding hood can find their way.</p>

        <p>You can role play the activity by listening to and developing children’s ideas and capture as many mark making and writing activities as possible. </p>

        <p>Adapt the activity according to the age of the children. Some will be able to make some marks and the older ones maybe to write down names of the characters and shopping lists.</p>


      <h3 class="govuk-heading-s">
      How this activity links to other areas of the curriculum
      </h3>

        <p>Gross motor skills and fine motor skills (<a rel="external" href="../physical-development/physical-development-index">Physical development</a>). Role play and acting out the stories (<a rel="external" href="../communication-and-language/communication-and-language-index">Communication and understanding</a>) Listening to the stories (<a rel="external" href="../literacy/comprehension">Comprehension</a>) Looking out for rhyming words and sounds <a rel="external" href="../literacy/word-reading">Word reading</a>).</p>


      <h2 class="govuk-heading-m">
        Other activities
      </h2>

        <p>Find a useful activity for pre-school children to <a rel"external" href="https://www.helpwithhandwriting.co.uk/kids-handwriting-practice-3-to-4-years">help with handwriting</a>.</p>
        <p>This activity is a <a href="#">guide to early years mark making and pre writing</a>.</p>


        <h2 class="govuk-heading-m">
            What other nurseries and childminders are doing
        </h2>

        {# Inset text component using nunjucks templating #}
        {% set insetTextHtml %}

            <p class="govuk-body">
                “Writing is a form of communication, we encourage them to look at print around preschool and on our listening walks. There are opportunities in all areas to write using different mark makers.
            </p>
            <p class="govuk-body">
              As fine and gross motor skills are essential for a child to be ready to write we make sure children develop their hand muscles though small loose-part play.  Role play creates confidence and helps get a child ready for school. “

            </p>
            <p class="govuk-body">
                Angela, Hatch Warren nursery, Basingstoke
            </p>


            {% endset %}
            {{ govukInsetText({
                html: insetTextHtml
            }) }}


            <h2 class="govuk-heading-m">
                Summary
            </h2>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                  <li>
                      Writing is a life-long skill and it helps children share thoughts, ideas and feelings.
                  </li>
                  <li>
                      Writing builds on children’s understanding of print, how it is formed and how it works. Children begin to recognise sounds and letters.
                  </li>
                  <li>
                      You should explain your thinking and decision making so children understand what happens as you write and can imitate you.
                  </li>

              </ul>

              <h2 class="govuk-heading-m">
                  Next steps
              </h2>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                    <li>
                        Think about all the opportunities you provide to develop muscle strength.
                    </li>
                    <li>
                        Motivate children to write by providing opportunities in a wide range of ways. Suggestions: clipboards outdoors, chalks for paving stones, boards and notepads.
                    </li>
                    <li>
                        Plan for small muscle co-ordination for hands and fingers. This can be through using scissors, learning to sew, eating with cutlery, using small brushes for painting and pencils for drawing.
                    </li>

                </ul>






    {{ appPagination ({
        items: [{
            prevHref: '../literacy/word-reading',
            prevLabel: 'Word reading',
            nextHref: '../maths/maths-index',
            nextLabel: 'Maths'
        }]
    }) }}

{% endblock %}
